[2020-12-23 03:05] TomWildenhain-Microsoft commented on #653
Thanks!

[2020-12-23 03:05] lutzroeder commented on #497
The desktop app now supports this. The Web and Python versions are constrained by the 2 GB browser limit.

[2020-12-23 03:05] #497 closed

[2020-12-24 06:02] lutzroeder commented on #188
[keras2onnx.onnx.zip](https://github.com/lutzroeder/netron/files/5738366/keras2onnx.onnx.zip)

[2020-12-28 09:35] galaktyk commented on #540
It happen when using tf.math function in tensorflow 2 functional model.

x = tf.math.abs(my_input)
x = Conv2D(20, 7, padding="same")(x)
model = Model(inputs=my_input, outputs=x)
model.save("thisnotworks.h5")

Now I'm using `tf.compat.v1.disable_eager_execution()` to save model in an old format.

[2020-12-28 19:26] lutzroeder commented on #540
@galaktyk  running the code snippet returns`NameError: name 'Input' is not defined`. Can you upload a model file or code snippet that reproduces the error?

[2020-12-28 20:27] lutzroeder commented on #540
[netron_issue_540_1.h5.zip](https://github.com/lutzroeder/netron/files/5748679/netron_issue_540_1.h5.zip)
[netron_issue_540_2.h5.zip](https://github.com/lutzroeder/netron/files/5748680/netron_issue_540_2.h5.zip)

[2020-12-30 09:32] lutzroeder commented on #521
[tnn_v2_model.zip](https://github.com/lutzroeder/netron/files/5753725/tnn_v2_model.zip)

[2020-12-31 08:43] Vladimir9812 opened #660 "OpenVINO bf16 support"
Loading the attached IR file (in OpenVINO format) fails with the message: "Error loading OpenVINO model. Unknown precision '"bf16"' in 'squeezenet1.0_bf16.xml'.".
[squeezenet1.0_bf16.zip](https://github.com/lutzroeder/netron/files/5756813/squeezenet1.0_bf16.zip)

[2020-12-31 08:58] lutzroeder commented on #660
@demid5111 @mdeisher

[2020-12-31 09:06] #660 closed

[2020-12-31 22:42] kawarimidoll opened #661 "brew cask install is disabled"
`brew cask install netron` is in `README.md` as installation command for macOS, but this doesn't work now.

screenshot:

<img width="1087" alt="Calling brew cask install is disabled" src="https://user-images.githubusercontent.com/8146876/103427469-8e8b3500-4c04-11eb-9933-560eb95ae048.png">

homebrew blog: [2.6.0 — Homebrew](https://brew.sh/2020/12/01/homebrew-2.6.0/)

[2020-12-31 22:56] #661 closed

[2021-01-02 18:43] lutzroeder commented on #423
[cpu_oss_hairsegment.pbtxt.zip](https://github.com/lutzroeder/netron/files/5760736/cpu_oss_hairsegment.pbtxt.zip)

[2021-01-06 03:50] lutzroeder opened #663 "Windows ARM support"
- [x] electron-userland/electron-builder#5461
- [ ] https://bugs.python.org/issue33125

[2021-01-07 17:25] eddydw opened #664 "pytorch .pth file opened with netron shows the nodes(layers) but no edges (interconnections)."
- Netron app and version:
- OS and browser version:

Steps to Reproduce:

1.
2.

Please attach or link model files to reproduce the issue if necessary.

[2021-01-07 17:36] lutzroeder commented on #664
Can you share a model file to reproduce the issue.

[2021-01-07 17:36] #664 closed

[2021-01-08 10:53] zhaohb opened #665 "tf2.0 hdf5 model can not load correct"
Now I get a hdf5 model file, and I want use netron to see the model struct, but I get a error:
  inbound_node is not iterable in **.h5

I use tf2.2 to get the hdf5

who can help me ? thank you  very much

[2021-01-08 14:43] lutzroeder commented on #665
Can you share the model file?

[2021-01-08 21:52] matthewfranglen commented on #546
Error loading PyTorch model. Unsupported function 'torch.arange' in 'ViT-B-32.pt'.

This is from the CLIP model recently released by openai and available [here](https://openaipublic.azureedge.net/clip/models/40d365715913c9da98579312b702a82c18be219cc2a73407c4526f58eba950af/ViT-B-32.pt).

[2021-01-09 05:13] lutzroeder commented on #546
[ViT-B-32.pt.zip](https://github.com/lutzroeder/netron/files/5790183/ViT-B-32.pt.zip)

[2021-01-11 02:14] zhaohb commented on #665
ok，thank you very much
please give me the email, and I will send the model to you through the email

[2021-01-11 03:46] lutzroeder commented on #665
@zhaohb can you attach it to this issue, share a link via a file sharing or upload to a GitHub repo?

[2021-01-11 06:18] #665 closed

[2021-01-11 06:26] zhaohb commented on #665
@lutzroeder share a link  may not be a good idea，that model will be used in our production environment，I am sorry.  my email is zhaohongbocloud@gmail.com , you can send me an email first

[2021-01-11 06:54] zhaohb commented on #665
@lutzroeder issue had be closed?

[2021-01-11 07:18] lutzroeder commented on #665
There is no repro so it is not actionable. It can be reopened once there is a repro.

[2021-01-11 14:51] chausner-audeering opened #666 "Model is not opened on first app start"
Small bug: when installing the app freshly on a new system and opening a model file without having opened the app before, after confirming the privacy notice on first startup, the model file is not opened.

- Netron app and version: 4.7.0 desktop app

Steps to Reproduce:

1. Install Netron for the first time
2. Double-click an ONNX file.
3. Accept the privacy policy.

[2021-01-12 03:02] zhaohb commented on #665
ok, thank you very much

[2021-01-12 05:52] lutzroeder commented on #296
[rnn-lstm-gru.zip](https://github.com/lutzroeder/netron/files/5800011/rnn-lstm-gru.zip)

[2021-01-13 18:07] gjkunde opened #668 "Conflict between model summary and netron for conv2D dimension"
- Netron app and version: Mac version 4.7.0.dmg
- OS and browser version: mac 10.14.6

Hello,

I just opened my model and the graph has incorrect layer dimensions .....

In the attachment I am comparing the model.summary statement with the Netron  image.

<img width="660" alt="Screen Shot 2021-01-13 at 10 52 54 AM" src="https://user-images.githubusercontent.com/7330890/104490391-07d44180-558e-11eb

[2021-01-14 03:20] lutzroeder commented on #668
It looks like you are comparing the shapes of the weight tensors for each layer with the shapes of the outputs. The app doesn't do shape inference for Keras at this point as it is running int the browser without inference from the Keras runtime available. For some formats like Darknet there is browser inference available. Nobody has done the work for Keras.

[2021-01-14 03:20] #668 closed

[2021-01-16 03:29] lutzroeder commented on #540
[yolov3-tiny.h5.zip](https://github.com/lutzroeder/netron/files/5823763/yolov3-tiny.h5.zip)

[2021-01-16 22:00] #666 closed

[2021-01-18 20:53] lutzroeder opened #669 "LightGBM support"

[2021-01-18 20:54] lutzroeder commented on #669
[simple_example.txt.zip](https://github.com/lutzroeder/netron/files/5832361/simple_example.txt.zip)

[2021-01-19 11:59] ljdang opened #670 "MindSpore: Unsupported file content"
Error loading model. Unsupported file content (18000000140018000000040000000800) for extension '.ms' in 'mobilenetv2.ms'.
The model to test:
https://download.mindspore.cn/model_zoo/official/lite/mobilenetv2_openimage_lite/mobilenetv2.ms

[2021-01-20 02:50] lutzroeder commented on #670
@ljdang please open an issue in [mindspore-ai/mindspore](https://github.com/mindspore-ai/mindspore) to track this.

@YvetteLaw

[2021-01-20 02:50] #670 closed

[2021-01-24 16:20] Kladdy opened #672 "Keras JSON support"
Having large network architectures, when saving my model in Keras to .h5 format I often get files that are hundreds of MB. However, would it not be better if Netron supported Keras models in JSON formats, which are typically much smaller and more light-weight, while still containing the same information about the network architecture?

[2021-01-24 20:53] lutzroeder commented on #672
@Kladdy this is supported. Please share specific repro steps or a model file.

[2021-01-24 20:53] #672 closed

[2021-01-26 01:13] duduheihei commented on #546
Error loading PyTorch model. Unsupported function 'opts.quantized.conv3d_prepack' in 'quant_3d.pt'.

[2021-01-26 01:15] lutzroeder commented on #546
@duduheihei can you share the model file to reproduce the issue?

[2021-01-26 01:25] duduheihei commented on #546
You can download from this link
[quant_3d.pt](https://github.com/duduheihei/Netron/blob/master/quant_3d.pt)

[2021-01-27 03:27] lutzroeder commented on #546
[quant_3d.pt.zip](https://github.com/lutzroeder/netron/files/5877566/quant_3d.pt.zip)

[2021-01-28 11:40] zackkui opened #673 "Unsupported function 'torch.as_tensor'"
- Netron app and version: 4.7.3
- OS and browser version: win10

Steps to Reproduce:

1. Load "model.pt"
2. Then "Error"

Please attach or link model files to reproduce the issue if necessary.

[2021-01-28 13:37] lutzroeder commented on #673
@zackkui please share a model file to reproduce this issue.

[2021-01-28 13:38] #673 closed

[2021-01-29 02:30] YvetteLaw opened #674 "Can Netron visualize models generated by old schemas?"
Does Netron support visualization of old TensorFlow Lite models? TensorFlow Lite has multiple versions of schemas (see https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/schema    ). There are schema_v0, schema_v1 and so on.   Can Netron visualize models generated by an old schema? How does Netron handle the schema version issue?

[2021-01-29 02:57] lutzroeder commented on #674
All models available publicly seem to be `v3` or later. Before `v3` the schema has no `file_identifier` and likely will not load. Since `v3` the changes are additive, new schema versions are compatible with old schemas.

[2021-01-29 02:57] #674 closed

[2021-01-29 03:01] lutzroeder commented on #355
[analytics-zoo_squeezenet-quantize_imagenet_0.1.0.model.zip](https://github.com/lutzroeder/netron/files/5891323/analytics-zoo_squeezenet-quantize_imagenet_0.1.0.model.zip)

[2021-01-29 18:26] v-goncharenko commented on #546
But my model is too big of github =(

It was scripted TorchScript model with transfer to CPU (`Tensor.cpu()`)

[2021-01-30 02:08] lutzroeder commented on #546
@v-goncharenko can you try this script to remove the weights?

[code]

[2021-02-02 06:21] duduheihei commented on #546
Thanks to support this model. However, the scale and zero_point of the quantized  parameters are not correct. Could you fix this problem?

[2021-02-02 07:18] lutzroeder commented on #546
@duduheihei can you provide actual repro steps. What are the expected and actual values. Can you provide a fix?

[2021-02-02 08:50] duduheihei commented on #546
[quant_param_converted.pt](https://github.com/duduheihei/Netron/blob/master/quant_param_converted.pt) stores correct parameters.
[quant_3d.pt](https://github.com/duduheihei/Netron/blob/master/quant_3d.pt) is the serilized torch script model.
I compare the parameters in this two files and find out only scales value are not same. Because I update a new quant_3d.pt model, you should download these tw

[2021-02-03 14:27] v-goncharenko commented on #546
@lutzroeder yes, I did that - [pspnet_light.pth.zip](https://github.com/lutzroeder/netron/files/5919067/pspnet_light.pth.zip).

I would suggest not to use the same filename for writing back to a new lightweight file because it could damage original data (some folks don't make backups, you know) =)

Hope this helps

[2021-02-03 19:45] nlgranger commented on #546
Does Netron have a fallback to generate a generic node for unsupported functions?

[2021-02-04 01:42] YvetteLaw opened #676 "MindSpore: version r1.1 support"
In the update of version r1.1 just released by MindSpore, due to the unification of operator prototypes of the cloud-end and mobile-end(mslite), the scehma of mslite has been greatly modified, making r1.1  and r1.0 not compatible. At present, the main users of mslite are our internal developers, and there are fewer external users. We have assessed that the impact of version incompatibility is rela

[2021-02-04 02:15] lutzroeder commented on #546
@nlgranger what's an example of such a function and what indicates that a node needs to be generated for that function?

[2021-02-04 03:01] geogeo28 opened #677 "PyTorch: Unknown expression `dict`"
- Version: 4.7.3 Desktop app, macOS 10.15.6 (19G73)

Steps to Reproduce:

1. Load a model.pt with returns a dict in forward method.

<img width="1018" alt="Screen Shot 2021-02-03 at 6 53 59 PM" src="https://user-images.githubusercontent.com/11450275/106838982-1de79600-6652-11eb-861d-b496e4b0a55b.png">

[2021-02-04 03:37] geogeo28 opened #678 "Failed to visualize Pytorch JIT model with output predictions as a dictionary"
Version: 4.7.3 Desktop app, macOS 10.15.6 (19G73)
Steps to Reproduce:

Load dummy.pt which returns a dict in forward method.
<img width="1015" alt="Screen Shot 2021-02-03 at 7 35 08 PM" src="https://user-images.githubusercontent.com/11450275/106841426-f21adf00-6656-11eb-8d7e-0c64cc50c189.png">

[dummy.pt.zip](https://github.com/lutzroeder/netron/files/5922993/dummy.pt.zip)

[code]

[2021-02-04 03:50] lutzroeder commented on #676
Option 1) Fix the problem and stop breaking users
Option 2) Deprecated `mslite` and use another format instead

[2021-02-04 03:50] #676 closed

[2021-02-04 03:53] lutzroeder commented on #678
Duplicate of #677

[2021-02-04 03:53] #678 closed

[2021-02-04 03:58] geogeo28 commented on #677
[dummy.pt.zip](https://github.com/lutzroeder/netron/files/5923074/dummy.pt.zip)

[code]

[2021-02-04 04:46] lutzroeder commented on #677
[netron_issue_677.pt.zip](https://github.com/lutzroeder/netron/files/5923245/netron_issue_677.pt.zip)

[2021-02-04 04:47] lutzroeder commented on #677
[netron_issue_677.pt.zip](https://github.com/lutzroeder/netron/files/5923252/netron_issue_677.pt.zip)

[2021-02-04 06:15] #677 closed

[2021-02-04 06:37] YvetteLaw commented on #676
For the option 2:
Could the standard format be our unification of operator prototypes of the cloud-end and mobile-end(mslite)?  Can we remove mslite support and re-add it after completing this format?

[2021-02-04 07:10] YvetteLaw commented on #676
For the option 2:
Could the standard format be our unification of operator prototypes of the cloud-end and mobile-end(mslite)? Can we remove mslite support and re-add it after completing this format?

[2021-02-04 08:21] lutzroeder commented on #676
Option 2) is to adopt an existing format instead of inventing another one that is not much different from all the other ones that exist already.

[2021-02-04 08:37] alexjung commented on #36
Is there some documentation to what the colors mean? I definitely can see patterns but it would be nice to know what color indicates a specific category.

[2021-02-04 09:26] YvetteLaw commented on #676
Because of the international political influence, it is not appropriate for Huawei to use another standard format. We have to use our own format. However，we had not designed it properly at the beginning, so there was a compatible problem. Since the  number of users is small, and the impact is not great. We hope the original version can be discarded, and we will support a new version.

[2021-02-04 13:05] fengyuentau opened #679 "Showing all attributes even if one is default (or missing) in ONNX models"
Hi, great work on the visualizer for ONNX and other models!

Recently I am working on something requiring hacking into ONNX models and viewing all the attributes of its operators. I tried to open the ONNX model with vim, but I can only see some keywords such as `kernel_shape`, while the value is some weird characters and not human-readable. Your visualizer helped me a lot to retrieve most of the a

[2021-02-05 02:30] lutzroeder commented on #679
Can you provide a model and description to reproduce the issue?

The defaults for a framework are not stored in the model file and would have to be hardcoded in the tool. To do this reliably you will have to sign up to work on providing and maintaining such metadata for all operators in all supported frameworks.

[2021-02-05 02:30] #679 closed

[2021-02-07 05:20] duduheihei commented on #546
I tried the latest 4.7.6 version. However, the problem is still there. The "output_scale" showed by netron are different from that in "quant_param_converted.pt" I provided.

[2021-02-07 20:36] lutzroeder commented on #546
@duduheihei can you help investigate this issue and submit a fix.

[2021-02-08 00:51] duduheihei commented on #546
I really hope I could help to sovle the problem, However I have not read the source code of Netron. So it may be very difficult for me to fix it. I will try to read the code.

[2021-02-08 08:41] duduheihei commented on #546
Hi, I opened [quant_3d.pt](https://github.com/duduheihei/Netron/blob/master/quant_3d.pt) and [quant_param_converted.pt](https://github.com/duduheihei/Netron/blob/master/quant_param_converted.pt)  with 4.7.6 version. I compare the datatype of scale in both file, and find out that the datatypes are either float32 or float64 in the first file, however always float32 in the later file. So I guess ther

[2021-02-08 09:06] YvetteLaw commented on #676
Or could you offer another option?

[2021-02-08 10:31] Ki6an opened #680 "OSError: [Errno 98] Address already in use"
- Netron app and version:  4.7.6 (pip)
- OS and browser version: Colab

Steps to Reproduce:
I've installed Netron through pip in Colab notebook

when I run the following code to visualize the model
[code]
I'm getting this error :

[code]

how can I resolve this issue ?

[2021-02-13 04:07] lutzroeder opened #681 "Error: Failed to render tensor"
Please provide steps or model files to reproduce this issue.

[2021-02-13 10:57] Ki6an commented on #680
if anyone is struggling with the same issue follow this [notebook ](https://colab.research.google.com/gist/blois/227d21df87fe8a390c2a23a93b3726f0/netron.ipynb)

[2021-02-14 00:34] ck1070989 commented on #589
[netron_issue.tar.gz](https://github.com/lutzroeder/netron/files/5976788/netron_issue.tar.gz)

[2021-02-14 05:05] lutzroeder commented on #680
[code]
[code]

[2021-02-14 17:10] lutzroeder commented on #680
Duplicate of #219

[2021-02-14 17:10] #680 closed

[2021-02-14 19:13] lutzroeder commented on #669
[simple_example.pkl.zip](https://github.com/lutzroeder/netron/files/5978325/simple_example.pkl.zip)

[2021-02-15 06:03] ldaowen opened #682 "Support for tckpt files"
Wondering if there will be support for tckpt files? Or if there are other ways to work around to visualise such files?

[2021-02-15 19:51] #682 closed

[2021-02-18 02:02] TheNewSound opened #683 "TensorFlow.js weights support"
Netron does support loading the model.json, but does not seem to recognize the weights.bin uploaded with it.

[2021-02-18 02:26] TheNewSound commented on #683
No repro?

Is this a feature that is already added? It is not to my knowledge...

[2021-02-18 02:29] lutzroeder commented on #683
Can you share a sample file, steps how to load the file and what isn't working or submit a PR to fix the issue.

[2021-02-18 02:35] TheNewSound commented on #683
Sure!

2 files: model.json (works). weights.bin (is not recognized, missing feature likely, not a bug I assume)

Have to upload it as .zip to github, see attachment.

Just extract the 2 files and upload them to netron.
[model.zip](https://github.com/lutzroeder/netron/files/5999859/model.zip)

[2021-02-18 02:49] TheNewSound commented on #683
weights.bin can be read out with the following small piece of javascript:

[view-source:https://worldwidecrap.nl/weights.html](view-source:https://worldwidecrap.nl/weights.html)
Demo: [https://worldwidecrap.nl/weights.html](https://worldwidecrap.nl/weights.html)

[2021-02-19 03:14] #683 closed

[2021-02-20 03:25] DreamLee0625 opened #684 "Can I show the network structure at the scope level"
I want to see the structure of my model, which is two tower of ALBERT, but it's too large and so many nodes.
Can I show the network structure at the scope level?

[2021-02-20 08:14] lutzroeder commented on #684
Duplicate of #68

[2021-02-20 08:14] #684 closed

[2021-02-20 22:33] pierre01 opened #685 "File open dialog should include filter for .zip files"
- Netron app and version: Netron 4.7.9
- OS and browser version: windows 10
- ML.NET

Steps to Reproduce:

1. File Open... Browse to  Directory where your models are
2. The File open dialog filters do not include .zip extension so ML.NET model files are not visible.
3. Expected behavior: .zip files should be visible in the dialog
3. Workaround: Type the file name including the .zip extension.

Ple

[2021-02-20 22:48] #685 closed

[2021-02-20 23:54] #630 closed

[2021-02-23 03:59] lutzroeder commented on #277
[xyolo.test.cfg.zip](https://github.com/lutzroeder/netron/files/6026689/xyolo.test.cfg.zip)

[2021-02-23 10:22] Colombel-Vincent commented on #589
I have the same problem on 4.7.9 on browser with this model [
[subword-conformer.zip](https://github.com/lutzroeder/netron/files/6028217/subword-conformer.zip)

](url)

[2021-02-24 02:28] lutzroeder commented on #589
[subword-conformer.zip](https://github.com/lutzroeder/netron/files/6032934/subword-conformer.zip)

[2021-02-24 07:48] lutzroeder opened #686 "PyTorch weights support"
`wget https://api.ngc.nvidia.com/v2/models/nvidia/megatron_bert_345m/versions/v0.1_cased/zip -O megatron_bert_345m_v0.1_cased.zip`

[2021-02-24 08:49] ghylander opened #687 "feature visualization"
add feature visualization to netron

you select/upload a image from the file system. When you sleect a layer, netron displays the features that maximise the activation of the selected layer

based on the following research paper:
https://arxiv.org/pdf/1311.2901.pdf

there was a similar repo (https://github.com/keplr-io/quiver), but it was written for tensorflow 1 and it fails to construct valid ma

[2021-02-24 08:58] lutzroeder commented on #687
@ghylander can you implement this and submit a pull request.

[2021-02-24 13:50] ghylander commented on #687
i can try to implement support the feature visualization itself for caffe and maybe keras models, but i lack the knowledge to do the front end stuff (select file, show activations on the app in the layer information tab)

[2021-02-24 15:52] yoelp2k opened #688 "Support network visulazation that is not relaterd to a know framework"
Support visualization of neural networks tools that are not necessarily related to any framework
- A loose json format that allow defining any layer
- tensor shape, data type for all inputs/outputs of layers
- user defined properties for any layer
- fusion of layers

It seems that these features are already supported by netron.
The main issue is describing the graph input data structure and stitch

[2021-02-25 03:39] lutzroeder opened #689 "PyTorch: Unsupported function 'torch.as_tensor'"

[2021-02-25 03:55] lutzroeder commented on #688
@yoelp2k what is the scenario that would require this for a broad set of user?

[2021-02-25 03:55] #688 closed

[2021-02-25 03:59] lutzroeder commented on #687
@ghylander how would this work for Caffe or Keras running in the browser and without a Python backend. Also can you make sure this works for all frameworks.

[2021-02-25 13:15] yoelp2k commented on #688
Hi,

First of all thank you for developing netron! it is a wonderful tool that
really helps us, and thank you for following up on this issue

In short: We need some way to visualize a platform independent network. We
develop a tool that does some network agnostic operations and interested in
looking at the intermediate stages. and I need to produce the serialization
file from several languages (sc

[2021-02-25 16:02] andrewssobral commented on #550
I had the same problem when I use NVIDIA RAPIDS to train a machine learning model on GPU (e.g. using Random Forest).
[myModel.model.zip](https://github.com/lutzroeder/netron/files/6044204/myModel.model.zip)

[2021-02-25 16:15] palakons opened #690 "Does not show networks inside nn.ModuleList"
- Netron app and version: online https://netron.app/
- OS and browser version: Version 88.0.4324.182 (Official Build) (64-bit) Edition
Windows 10 Pro
Version	20H2
Installed on	‎11/‎27/‎2020
OS build	19042.804
Experience	Windows Feature Experience Pack 120.2212.551.0

[a.zip](https://github.com/lutzroeder/netron/files/6044286/a.zip)

Does not show networks inside nn.ModuleList

Steps to Reproduce:

[2021-02-25 16:17] prasanthpul commented on #688
@yoelp2k have you considered using ONNX as your framework agnostic format? ONNX's purpose is to serve as a common format that represents networks from many different frameworks. It also supports custom fields and custom layers. The format is documented at https://github.com/onnx/onnx/blob/master/docs/IR.md and there are converters for all the major frameworks

[2021-02-25 16:34] yoelp2k commented on #688
@prasanthpul Thank you. I will look into it.

[2021-02-25 17:25] lutzroeder commented on #690
Duplicate of #621

[2021-02-25 17:25] #690 closed

[2021-02-26 03:33] lutzroeder commented on #550
[myModel.model.zip](https://github.com/lutzroeder/netron/files/6047227/myModel.model.zip)

[2021-02-28 21:24] m-van-almsick opened #691 "Torch: Extracting incorrect weights and biases"
Hi Lutz,

trying to retrieve the weights and biases of the NN modules in SpyNet (https://github.com/anuragranj/spynet/blob/master/models/modelL1_3.t7)
I noticed that the weights of the first convolutional layer are displayed again and again for all other weights and also biases.
These other weights and biases are definitely different when extracted via Python.

I am using Netron on a Mac (M1 proce

[2021-02-28 23:40] #691 closed

[2021-03-01 17:04] Vladimir9812 opened #692 "OpenVINO bin support"
Loading the attached IR file (in OpenVINO format) fails with the message: "Error loading OpenVINO model. Unknown precision '"bin"' in ''resnet50-binary-0001.xml".

[resnet50-binary-0001.zip](https://github.com/lutzroeder/netron/files/6063220/resnet50-binary-0001.zip)

[2021-03-02 06:21] lutzroeder commented on #692
@Vladimir9812 in the future please submit pull requests to fix OpenVINO issues or get the right folks at Intel involved.

[2021-03-02 06:21] #692 closed

[2021-03-02 06:36] Vladimir9812 commented on #692
Thank you very much, @lutzroeder

[2021-03-02 19:53] yuslepukhin opened #693 "ONNX: sparse_initializer support"
Would be nice to visualize graph.sparse_initializer in COO format

[2021-03-03 03:08] lutzroeder commented on #693
@yuslepukhin can you share a sample file and some context?

[2021-03-03 17:52] yuslepukhin commented on #693
Currently, if a graph has a constant initializer, which is an initializer that is not overriding any input, Netron displays it as one of the corresponding operator inputs.

However, if we sparsified that initializer and put it into graph.sparse_initializer, the model would be evaluated as before, the corresponding operator would receive it as input. It is not visualized though.

Consider the attac

[2021-03-04 02:30] yyfcc17 opened #695 "load network structure and shapes only for large models"
large models have lots of weights, load them will consume lots of time and memory, is there a way to only load model structure and shapes?

[2021-03-04 02:43] lutzroeder commented on #695
@yyfcc17 can you provide some context, a model file and repro steps.

[2021-03-04 02:43] #695 closed

[2021-03-04 02:44] lutzroeder commented on #693
[coo_normal_sparse.onnx.zip](https://github.com/lutzroeder/netron/files/6080534/coo_normal_sparse.onnx.zip)

[2021-03-04 04:42] skottmckay commented on #589
I see the same error with the mobilebert onnx model with the latest Netron release. Netron 3.6.5 is however able to open the model. .

[2021-03-04 04:45] #693 closed

[2021-03-05 07:09] yyfcc17 commented on #589
https://github.com/lutzroeder/netron/issues/695 , feature requested

[2021-03-05 07:12] yyfcc17 opened #696 "please don't upgrade automatically"
old version of netron can open my model, but latest can't

[2021-03-05 07:14] lutzroeder commented on #589
For context, folks that want to investigate and submit a fix. The error happens when the graph is too large for the graph layout algorithm in [dagre](https://github.com/dagrejs/dagre) to handle. It is not related to the file or weights size.

[2021-03-05 07:18] lutzroeder commented on #696
Can you investigate what changed and provide a pull request to fix the issue. The priority is to keep the community involved to improve quality of recent versions. The source is available so forking and creating a custom build is another option.

[2021-03-05 07:18] #696 closed

[2021-03-05 09:05] JarnoRFB opened #697 "Allow loading models from file url"
Very cool app!

Momentarily it is possible to load model from a http url like https://netron.app/?url=https://raw.githubusercontent.com/srom/chessbot/master/model/chessbot.pb

It would be very useful if the model file could also be specified via a local file url like  https://netron.app/?url=file:/home/myuser/chessbot.pb

The usecase I have is that I want to track model architectures in mlflow. So

[2021-03-05 10:08] ghylander commented on #687
ah i see, yes, it wouldn't be possible to have it runing in the desktop, since deconvolution/gradient ascent operations are required
i'm developing the feature visualization using Francois Chollet book as reference
this implmentation requires use of python and keras as one is basically running the model in inference model
reagarding all the frameworks, it would require a lot of work
as i'm sure yo

[2021-03-06 02:20] lutzroeder commented on #697
@JarnoRFB can you clarify how this is expected to work and maybe submit a pull request? Since the app is running in the browser which is a sandbox without access to the file system, how is this expected to work?

[2021-03-06 02:20] #697 closed

[2021-03-07 05:44] lutzroeder commented on #281
[alexnet_traced.pt.zip](https://github.com/lutzroeder/netron/files/6096602/alexnet_traced.pt.zip)

[2021-03-07 05:45] lutzroeder commented on #281
[alexnet.pkl.pth.zip](https://github.com/lutzroeder/netron/files/6096603/alexnet.pkl.pth.zip)

[2021-03-07 05:50] lutzroeder commented on #281
[densenet161_traced.pt.zip](https://github.com/lutzroeder/netron/files/6096613/densenet161_traced.pt.zip)
[densenet161.pt.zip](https://github.com/lutzroeder/netron/files/6096614/densenet161.pt.zip)

[2021-03-07 05:52] lutzroeder commented on #281
[mobilenet_v2_traced.pt.zip](https://github.com/lutzroeder/netron/files/6096623/mobilenet_v2_traced.pt.zip)
[mobilenet_v2.pt.zip](https://github.com/lutzroeder/netron/files/6096624/mobilenet_v2.pt.zip)

[2021-03-07 05:54] lutzroeder commented on #281
[inception_v3_traced.pt.zip](https://github.com/lutzroeder/netron/files/6096627/inception_v3_traced.pt.zip)
[inception_v3.pt.zip](https://github.com/lutzroeder/netron/files/6096628/inception_v3.pt.zip)

[2021-03-07 06:19] lutzroeder commented on #281
[r3d_18_traced.pt.zip](https://github.com/lutzroeder/netron/files/6096649/r3d_18_traced.pt.zip)
[r3d_18.pt.zip](https://github.com/lutzroeder/netron/files/6096650/r3d_18.pt.zip)

[2021-03-07 06:26] lutzroeder commented on #281
[squeezenet1_1_traced.pt.zip](https://github.com/lutzroeder/netron/files/6096661/squeezenet1_1_traced.pt.zip)
[squeezenet1_1.pt.zip](https://github.com/lutzroeder/netron/files/6096662/squeezenet1_1.pt.zip)

[2021-03-07 06:30] lutzroeder commented on #281
[resnet101_traced.pt.zip](https://github.com/lutzroeder/netron/files/6096666/resnet101_traced.pt.zip)
[resnet101.pt.zip](https://github.com/lutzroeder/netron/files/6096667/resnet101.pt.zip)

[2021-03-07 06:31] lutzroeder commented on #281
[shufflenet_v2_x1_0_traced.pt.zip](https://github.com/lutzroeder/netron/files/6096670/shufflenet_v2_x1_0_traced.pt.zip)
[shufflenet_v2_x1_0.pt.zip](https://github.com/lutzroeder/netron/files/6096671/shufflenet_v2_x1_0.pt.zip)

[2021-03-07 20:38] lutzroeder commented on #676
[control_flow_ut_while_0122.ms.zip](https://github.com/lutzroeder/netron/files/6097926/control_flow_ut_while_0122.ms.zip)

[2021-03-07 21:09] lutzroeder commented on #600
[blazeface_quant.ms.zip](https://github.com/lutzroeder/netron/files/6097966/blazeface_quant.ms.zip)
[control_flow_ut_while_0122.ms.zip](https://github.com/lutzroeder/netron/files/6097967/control_flow_ut_while_0122.ms.zip)

[2021-03-07 23:24] lutzroeder commented on #57
[DenseNet121.h5.zip](https://github.com/lutzroeder/netron/files/6098149/DenseNet121.h5.zip)
[InceptionResNetV2.h5.zip](https://github.com/lutzroeder/netron/files/6098150/InceptionResNetV2.h5.zip)
[InceptionV3.h5.zip](https://github.com/lutzroeder/netron/files/6098151/InceptionV3.h5.zip)
[MobileNetV2.h5.zip](https://github.com/lutzroeder/netron/files/6098152/MobileNetV2.h5.zip)
[NASNetMobile.h5.zip

[2021-03-08 09:04] JarnoRFB commented on #697
@lutzroeder  Not sure if I understand you correctly. I mean one does load models from the file system via the UI or one can specify the path to the model file from the command line when starting the server. Therefore I thought that it would be possible to utilize one of those mechanisms to also load models from the file system specified via a URL.

If you think that this is possible I can attempt

[2021-03-10 09:51] JarnoRFB commented on #697
@lutzroeder Just noticed that mlflow also exposes its artifacts via its http API, so an access via a local file URL is no longer required for my usecase.

[2021-03-10 11:41] lakshminarayanareddybn opened #698 "Add support to save model as png/svg from command line or python API"
@lutzroeder It would be great if you could implement adding support to save model as png/svg from command line.

[2021-03-10 19:59] lutzroeder commented on #698
Duplicate of #162

[2021-03-10 19:59] #698 closed

[2021-03-11 02:05] w1005444804 opened #699 "can netron export onnx model or caffemodel or prototxt"

[2021-03-11 02:06] lutzroeder commented on #699
No, this is not supported.

[2021-03-11 02:07] #699 closed

[2021-03-12 08:12] lutzroeder commented on #600
[mnist.ms.zip](https://github.com/lutzroeder/netron/files/6128484/mnist.ms.zip)
[squeezenet1.1.ms.zip](https://github.com/lutzroeder/netron/files/6128485/squeezenet1.1.ms.zip)

[2021-03-13 19:28] #629 closed

[2021-03-15 02:15] #686 closed

[2021-03-18 02:21] atyshka opened #702 "[Question] How to determine re-scaling factor for quantization?"
I'm working on implementing a tiny MNIST classifier on FPGA and was looking at this tool for inspecting the tflite graph. I know when performing an operation such as conv2d, the input and weights will be multiplied into int32 products. accumulated with int32 biases, and then a relu op will be applied. Then the output needs to be re-scaled to int8. My question is how do I determine the re-scaling f

[2021-03-18 02:36] lutzroeder commented on #702
@atyshka the code is [here](https://github.com/lutzroeder/netron/blob/main/source/tflite.js#L485-L501). Please reach out to TensorFlow Lite folks if more context is needed. If this can be improved in any way feel free to submit a pull request.

[2021-03-18 02:36] #702 closed

[2021-03-18 03:24] atyshka commented on #702
Oh I see. It looks like netron currently does not support the per-filter quantization which is why this didn't show up. On conv2d's it will make a separate scale factor for each channel on the output. Multiplying input by that factor gives reasonable results.

[2021-03-18 03:25] atyshka commented on #702
Don't have time to contribute changes under project timeline but maybe later

[2021-03-18 04:43] karstenpatzwaldt commented on #504
This is still happening if the file opened is not owned by the same user as the one executing the tool, even if the user has read permissions.

[2021-03-18 04:44] lutzroeder commented on #504
@karstenpatzwaldt can you investigate why this is happening and provide a fix?

[2021-03-18 04:46] karstenpatzwaldt commented on #504
No.

[2021-03-18 05:58] cloudy-sfu commented on #540
[5_model_fold_0.zip](https://github.com/lutzroeder/netron/files/6161617/5_model_fold_0.zip)
Invalid argument identifier
'[["_CONSTANT_VALUE",-1,-0.019062494859099388,{}],["_CONSTANT_VALUE",-1,-0.023046385..
in '5_model_fold_0.h5'.

[2021-03-20 03:20] lutzroeder commented on #540
@cloudy-sfu can you share the code that created this model?

[2021-03-20 03:23] cloudy-sfu commented on #540
def build_network(params):
    main_input = Input(shape=(params['input_shape']), dtype='float32')
    x = cnn_block(main_input, **params)
    x = Bidirectional(GRU(12, input_shape=x.shape.as_list()[1:],
                    return_sequences=True,return_state=False))(x)
    x = LeakyReLU(alpha=0.3)(x)
    x = Dropout(0.2)(x)
    x = Bidirectional(GRU(12, input_shape=x.shape.as_list()[1:],

[2021-03-20 03:34] lutzroeder commented on #540
[5_model_fold_0.h5.zip](https://github.com/lutzroeder/netron/files/6174822/5_model_fold_0.h5.zip)

[2021-03-20 18:56] lutzroeder commented on #182
[celeb-classifier.nn4.small2.v1.pkl.zip](https://github.com/lutzroeder/netron/files/6176216/celeb-classifier.nn4.small2.v1.pkl.zip)

[2021-03-21 00:20] headdab opened #704 "FLOP counts for each kernel would be a nice addition"
Nothing fancy, the strateight-forward, no-optimized count would be great!

[2021-03-21 00:59] lutzroeder commented on #704
Duplicate of #204

[2021-03-21 00:59] #704 closed

[2021-03-21 00:59] lutzroeder commented on #204
@headdab

[2021-03-21 11:14] Vozf opened #705 "Model comparison support"
It would be useful to compare 2 graphs to find the difference between the two.
It can be possibly viewed as 2 side by side graphs with duplicated navigation where same nodes are highlighted as green and different nodes are highlighted as yellow

[2021-03-21 15:57] lutzroeder commented on #705
@Vozf please implement this an submit a pull request.

[2021-03-21 20:33] lutzroeder commented on #697
First approach is the browser exposing a dialog or drag & drop gesture which requires user interaction. Second approach requires running a server. Neither allows the code running in the browser to directly access the local file system.

[2021-03-22 03:10] lutzroeder commented on #286
[vgg16.mar.zip](https://github.com/lutzroeder/netron/files/6179223/vgg16.mar.zip)

[2021-03-22 03:18] lutzroeder commented on #286
[resnext-101-64x4d.model.zip](https://github.com/lutzroeder/netron/files/6179250/resnext-101-64x4d.model.zip)

[2021-03-22 07:32] luchangli03 opened #706 "v4.8.3, open model very slow: need to accept cookies usage for each open."
v4.8.3, open model very slow: need to accept cookies usage for each open.

[2021-03-22 10:05] lutzroeder commented on #706
@luchangli03 can you provide some context or investigate why this is happening? Which bowser and OS or how the model is loaded. Does it happen for all files and formats or only specific ones?

[2021-03-22 10:49] luchangli03 commented on #706
I double-click the pb or pbtxt model to open the netron after installing Netron-Setup-4.8.3.exe on win10. For older versions, I only need to accept the usage of cookies at the usage after installation. But now I need to wait about half minute for each model open no matter how large the model is.

[2021-03-22 19:34] lutzroeder commented on #706
@luchangli03 can you follow the instructions in [DEVELOPMENT.md](https://github.com/lutzroeder/netron/blob/main/DEVELOPMENT.md) and debug this on your machine.
1) Drag and drop make a difference instead of double-click
2) `%APPDATA$\Netron\configuration.json` or `%APPDATA$\Electron\configuration.json` exists and is accessible
3) `configuration.json` contains a `consent` field
4) The initialize cod

[2021-03-22 19:34] #706 closed

[2021-03-23 01:05] lutzroeder commented on #281
[mask_depthwise_conv.pt.zip](https://github.com/lutzroeder/netron/files/6186157/mask_depthwise_conv.pt.zip)
[refine_model.pt.zip](https://github.com/lutzroeder/netron/files/6186158/refine_model.pt.zip)
[rpn_model.pt.zip](https://github.com/lutzroeder/netron/files/6186159/rpn_model.pt.zip)

[2021-03-23 11:54] raymon-tian commented on #647
Cannot read property 'name' of null in 's2.onnx'.

I exported such a onnx graph:

[code]
[s2.zip](https://github.com/lutzroeder/netron/files/6189334/s2.zip)

[2021-03-23 16:09] JarnoRFB opened #708 "Appending of timestamp to model URL breaks mlflow artifact API"
- Netron app and version: 4.8.1
- mlflow version: 1.7.1

As described in #697 I want to automatically open netron with artifacts saved in mlflow. I got it working now, but stumbled over a probelm. In https://github.com/lutzroeder/netron/blob/main/source/index.js#L438 the current time is appended to the model URL as a query parameter. However, since it only contains a value and not a key, it someho

[2021-03-23 16:19] lutzroeder commented on #708
@JarnoRFB please investigate and submit a pull request with a fix if needed.

[2021-03-23 16:19] #708 closed

[2021-03-23 16:42] lutzroeder commented on #647
[s2.onnx.zip](https://github.com/lutzroeder/netron/files/6191354/s2.onnx.zip)

[2021-03-24 01:39] #647 closed

[2021-03-25 09:05] codgeek commented on #681
reproduce steps:
1.  download the  sparsed "mobilenet v1 1.0 " model  in xnnpack page: https://github.com/google-research/google-research/tree/master/fastconvnets, link is [https://storage.googleapis.com/fast-convnets/tflite-models/mbv1_100_90_12b4_684.tflite](https://storage.googleapis.com/fast-convnets/tflite-models/mbv1_100_90_12b4_684.tflite)

2.  open model file with netron, choose the first

[2021-03-26 01:53] #681 closed

[2021-03-26 04:12] Roh1t129 opened #710 "Cannot read property "intializer" of undefined"
Netron 4.8.4 throwing the error: Cannot read property "intializer" of undefined, while opening tflite model.

[2021-03-26 04:14] Roh1t129 commented on #710
[tlite_model.zip](https://github.com/lutzroeder/netron/files/6209339/tlite_model.zip)

[2021-03-26 04:47] lutzroeder commented on #710
@Roh1t129 is this a valid model file?

[code]

[2021-03-26 04:48] lutzroeder commented on #710
[model_pyramid_0_0_63_31.tflite.zip](https://github.com/lutzroeder/netron/files/6209444/model_pyramid_0_0_63_31.tflite.zip)

[2021-03-26 05:14] #710 closed

[2021-03-26 05:14] lutzroeder commented on #710
@Roh1t129 is this a valid model file?

[code]

[2021-03-27 00:26] RobinKa commented on #543
Got redirected here by trying to open this file with Netron https://drive.google.com/file/d/1ORAeb4DlS_65WDkQN6LHx5dPyCM5PAVV/view

(Speaker encoder from https://github.com/auspicious3000/autovc)

My local version is 4.8.4 and I also tried it with the web version.

[2021-03-29 16:28] lutzroeder opened #711 "NumPy support"
[mlp.zip](https://github.com/lutzroeder/netron/files/6225731/mlp.zip)
[tensor.npy.zip](https://github.com/lutzroeder/netron/files/6225732/tensor.npy.zip)
[numpy.array.pkl.zip](https://github.com/lutzroeder/netron/files/6233588/numpy.array.pkl.zip)
[object.npy.zip](https://github.com/lutzroeder/netron/files/9485289/object.npy.zip)
[datasplit.pkl.zip](https://github.com/lutzroeder/netron/files/10099

[2021-03-29 16:28] lutzroeder commented on #711
[tensor.npy.zip](https://github.com/lutzroeder/netron/files/6223135/tensor.npy.zip)

[2021-03-29 16:31] lutzroeder commented on #711
[mlp.zip](https://github.com/lutzroeder/netron/files/6223147/mlp.zip)

[2021-03-29 21:04] addisonklinke opened #712 "Highlight all nodes of a specific type"
Currently you can `ctrl + F` to search for specific nodes by name and have them highlighted in the graph. Is it possible to extend this to highlight all nodes of the same type? For instance, searching "reshape" would highlight reshape_1, Reshape_2, reshape/3, etc. This should support all the major types of nodes: concat, conv, unsqueeze, etc. Since the metadata for node type is already included in

[2021-03-30 03:05] lutzroeder commented on #712
@addisonklinke can you implement this and submit a pull request.

[2021-03-30 10:28] murtazabasu opened #713 "Export ONNX model as image using netron python library"
Hello I have a pytorch model that I can successfully export it to a onnx and then using Netron App open the model and visualize it. But for my purpose, I would like to save the visualized model as a image using python.

Now of course, in the Netron application there is a option of exporting and saving the file as image. But I would prefer doing this in python.

There is a pip library for netron av

[2021-03-30 11:13] lutzroeder commented on #713
Duplicate of #162

[2021-03-30 11:13] #713 closed

[2021-03-31 15:33] lutzroeder commented on #593
@sunyuan789 ONNX files need to use `.onnx` as a file extension instead of `.pth`.

[2021-03-31 17:16] addisonklinke commented on #712
I have pretty minimal experience in JavaScript, but I could give it a try if you're able to provide a conceptual outline of what changes need to be made in which files?

[2021-04-03 06:14] efard opened #714 "LSTM internal weights in TFLite"
As you know, LSTM cell has four internal gates: forget, input, output and cell gate (https://colah.github.io/posts/2015-08-Understanding-LSTMs/) When we convert a model containing LSTM to TFLite format, we can see the internal weights in groups like "std.constant9" (with no specific name). But it isn't clear that which weight group is related to which gate. In other words, how do we recognize weig

[2021-04-03 06:15] efard commented on #714
[tflite_models.zip](https://github.com/lutzroeder/netron/files/6252043/tflite_models.zip)

[2021-04-03 06:33] lutzroeder commented on #714
@efard please investigate this issue and submit a pull request with a fix.

[2021-04-03 06:33] #714 closed

[2021-04-03 08:08] efard commented on #714
For test reasons, I made some minor changes in code, like this (line 44 of tflite-metadata.json):
{ "name": "output_bias", "type": "T", "description": "Output gate bias tensor.", "visible": false},
to
{ "name": "output_bias", "type": "T", "description": "Output gate bias tensor.", "visible": true },

or this (line 86 of tflite-metadata.json):
{ "name": "input", "type": "T" },
to
{ "name": "input!!

[2021-04-06 01:49] 424778940z commented on #550
Tried open holistic_landmark models from mediapipe giving me this error

[2021-04-06 01:55] lutzroeder commented on #638
[events.out.tfevents.1617485839.39aaee5846c1.58.0.zip](https://github.com/lutzroeder/netron/files/6261502/events.out.tfevents.1617485839.39aaee5846c1.58.0.zip)

[2021-04-07 04:53] #712 closed

[2021-04-07 04:54] lutzroeder commented on #712
`sidebar.FindSidebar` in `view-sidebar.js` implements the search dialog and is probably a good place to get started.

[2021-04-07 18:30] lutzroeder commented on #191
[int4-model.zip](https://github.com/lutzroeder/netron/files/6273773/int4-model.zip)

[2021-04-07 21:07] TomWildenhain-Microsoft opened #716 "Negative attributes in ONNX graphs now don't display correctly"
Negative values are displayed as large positive values.

![image](https://user-images.githubusercontent.com/67606533/113201355-675df700-9237-11eb-87b6-e247690429d3.png)

[2021-04-07 21:18] TomWildenhain-Microsoft commented on #716
NVM this was a mistake on my part.

[2021-04-07 21:45] TomWildenhain-Microsoft commented on #716
Here's a model with the issue:

https://www.dropbox.com/s/rodr6d5ueafn5yv/neg_value.onnx?dl=1

![image](https://user-images.githubusercontent.com/67606533/113938747-03a07480-97c9-11eb-9334-033509e0b430.png)

![image](https://user-images.githubusercontent.com/67606533/113938795-14e98100-97c9-11eb-97ed-f5cf6c445c6d.png)

[2021-04-08 00:50] #716 closed

[2021-04-09 03:00] lutzroeder opened #718 "xmodel support"

[2021-04-09 03:01] #718 closed

[2021-04-09 06:39] zero15 opened #719 "Error loading TensorFlow Lite model. Tensor data type 'boolean' is not implemented."
I opend a tflite model in browser and this error comes out. The previous version of netron  works with the same model.

[2021-04-09 06:42] lutzroeder commented on #719
@zero15 can you share the model file?

[2021-04-09 07:27] zero15 commented on #719
[https://github.com/zero15/GITTest/blob/master/tacotron2.zip.001](url)
[https://github.com/zero15/GITTest/blob/master/tacotron2.zip.002](url)

[2021-04-09 15:35] #719 closed

[2021-04-11 05:43] abitrolly commented on #664
@lutzroeder here is one https://github.com/abitrolly/ai_people_counter/blob/master/ucsd_UNet.pth

Looks like this.

![image](https://user-images.githubusercontent.com/8781107/114293820-fffb3f00-9aa1-11eb-948d-0adc5acb3169.png)

[2021-04-11 05:57] lutzroeder commented on #664
Duplicate of #236

[2021-04-11 05:59] lutzroeder commented on #236
Duplicate of #133

[2021-04-11 17:19] abitrolly commented on #133
Maybe document this properly explaining why this happens? I guess because links are left in the Python code that configures the model and is used for inference.

[2021-04-11 22:18] lutzroeder commented on #133
PyTorch and TorchScript support multiple serialization formats. Based on which format is used `.pth` file might only contain tensor data or an incomplete model hierarchy without graph connections. [Saving and Loading Models](https://pytorch.org/tutorials/beginner/saving_loading_models.html) for mode context.

The recommended approach is to save the model to [ONNX](https://pytorch.org/docs/stable/o

[2021-04-11 22:22] lutzroeder opened #720 "PyTorch support"
PyTorch and TorchScript support multiple serialization formats. Based on which format is used, a `.pth` file might contain only tensor data or an incomplete model hierarchy without graph connections. [Saving and Loading Models](https://pytorch.org/tutorials/beginner/saving_loading_models.html) for more context. pytorch/pytorch#31877 for a discussion of the different container formats.

The recomme

[2021-04-11 22:25] #720 closed

[2021-04-11 22:27] lutzroeder commented on #133
Duplicate of #720.

[2021-04-12 06:43] goldflower opened #721 "Pytorch: Unsupported function 'torch._convolution'"
- Netron app and version: 3.8.8 desktop
- OS and browser version: windows10 1803  chrome 89.0.4389.82

Steps to Reproduce:
open the file via netron

the file attached below:

https://drive.google.com/file/d/1RHV096iQW_hhLHt-1hu2hEzPFt8MIHj6/view?usp=sharing

Thank you :)

[2021-04-12 12:15] #721 closed

[2021-04-13 15:56] EkAugust opened #722 "PyTorch: The calculation graph is not complete."
- Netron app and version: Desktop app 4.8.8
- OS and browser version: macOS 11.2.3
- Framework: Pytorch 1.8

Steps to Reproduce:

1. Define a ResNet18 model and save the model file as  *.pkl
2. Open Netron.app and open the model file
3. The calculation graph doesn't show detailed layers information in Basic blocks. It only present the name of sequential container. Meanwhile, the link arrows of seq

[2021-04-13 19:43] lutzroeder commented on #722
@EkAugust can you share a sample model file or repro steps?

[2021-04-14 01:16] abdullah-al-masud commented on #546
I am facing an error showing "unsupported function torch.softmax"
I attached the script file here.
[torch_script_model_dot15.zip](https://github.com/lutzroeder/netron/files/6307552/torch_script_model_dot15.zip)

[2021-04-14 03:37] lutzroeder opened #723 "MXNet support"

[2021-04-14 04:32] #723 closed

[2021-04-14 05:10] lutzroeder commented on #546
[torch_script_model_dot15.pt.zip](https://github.com/lutzroeder/netron/files/6308295/torch_script_model_dot15.pt.zip)

[2021-04-14 05:13] lutzroeder commented on #458
[knift_index.pb.zip](https://github.com/lutzroeder/netron/files/6308301/knift_index.pb.zip)

[2021-04-15 06:52] assael07 commented on #647
Hi @lutzroeder .. I saw this issue again when I open Centernet and EfficientDet from Tensorflow model zoo
https://tfhub.dev/tensorflow/collections/object_detection/1

[2021-04-15 12:40] Haider-Asif commented on #647
Hi, @lutzroeder I saw this issue again while opening my self-created model's pb file: "Cannot read property '0' of undefined in model.pb"

[2021-04-15 14:38] lutzroeder commented on #647
@Haider-Asif can you share a the model file or try if this reports at TIP.

[2021-04-16 01:10] TomWildenhain-Microsoft opened #724 "Visual bug displaying ONNX Resize node inputs"
One of the inputs is optional (empty string) which might have something to do with it.

![image](https://user-images.githubusercontent.com/67606533/114957260-a93d8e80-9e2e-11eb-9b1a-75237dff8197.png)

Netron version 4.8.8
Model: https://www.dropbox.com/s/roqc7lglifja8cx/compare_gan_9.onnx?dl=1

[2021-04-16 04:02] #724 closed

[2021-04-17 22:02] lutzroeder opened #725 "TensorRT support"
https://forums.developer.nvidia.com/t/visualizing-tensorrt-engine/69032

[2021-04-17 22:03] lutzroeder commented on #533
Duplicate of #725.

[2021-04-18 16:42] #725 closed

[2021-04-19 15:18] satmonkey opened #726 "input.split is not a function in 'saved_model.pb'"
[saved_model.zip](https://github.com/lutzroeder/netron/files/6337150/saved_model.zip)

Error appears after the model load.
Custom trained ssd_mobilenet_v2_fpnlite_640x640_coco17_tpu-8
Netron 4.8.8

[2021-04-19 15:44] lutzroeder commented on #726
@satmonkey can you try this again in 4.8.9? Are there specific steps after loading the model to repro this issue?

[2021-04-19 15:44] #726 closed

[2021-04-19 16:19] satmonkey commented on #726
in 4.8.9, it is loading successfully :)
Thank you!

[2021-04-20 06:22] gtvforever opened #727 "Leverage the all cores to speed up the performance on big model"
When we tried to open big model, like bert.  It took very long time. When i opened the task manager, i found only one core was occupied for each netron instance.

I'm wondering that it's possible to leverage all phsysical cores to speed up its performance

[2021-04-20 06:52] lutzroeder commented on #727
Duplicate of #727.

[2021-04-20 06:52] #727 closed

[2021-04-20 07:07] lutzroeder opened #728 "TypeError: tensor.storage is not a function"
[video_classification.pt.zip](https://github.com/lutzroeder/netron/files/6341327/video_classification.pt.zip)

[2021-04-20 07:09] #728 closed

[2021-04-20 14:04] JohnnyOpcode opened #729 "Nvidia file formats"
NVIDIA has added three additional formats into the model universe.

Will it be difficult to add the capability to Netron?

EJRVS - Inference models used on their Jarvis runtime
TLT - Transfer learning models
NEMO - Conversational AI models

[2021-04-20 14:11] JohnnyOpcode commented on #415
Check this out.

https://github.com/Microsoft/Windows-Machine-Learning/blob/master/Tools/WinMLDashboard/README.md

[2021-04-20 16:32] lutzroeder commented on #729
@JohnnyOpcode can you create separate issues for each format, provide a link to a format specification, sample files and ideally a pull request to implement support.

[2021-04-20 16:32] #729 closed

[2021-04-22 05:44] TheRisenPhoenix opened #730 "Show/Hide Attributes/Initializers per node"
I came across a case where I need to display the attributes of some specific components (e.g. an Activation Node), but want to hide them for all other nodes, as this would be too much information and thus confusing. As far as I have seen, there is only the option to turn the view on and off for all nodes at the same time.

It would be nice to have a checkbox in the properties window of each node t

[2021-04-22 22:03] yunuscukran opened #731 "Exporting Visualised Graphs for Further Manipulation"
Hi,

Is there a way to export a visualized Netron graph to a text / JSON (or another kind of) file? This might be a great cross-platform way to represent and modify NNs!

Cheers

[2021-04-23 01:33] lutzroeder commented on #731
Can you be more specific or submit a pull request for what you are trying to accomplish? The app supports dozens of formats for representing graphs. Formats like ONNX are intended for model exchange. For visuals there is export to SVG and PNG.

[2021-04-23 01:33] #731 closed

[2021-04-23 01:41] lutzroeder commented on #730
Can you provide more specifics? Why is this needed for Activation nodes? What is the problem and are there other potential solutions? Is there an example how checkboxes in the properties window would work? For example, is this a common feature supported by other tools that is already known to most users? Can this be done in a way that is intuitive to most users or would it lead to a different kind

[2021-04-23 01:41] #730 closed

[2021-04-23 04:30] TheRisenPhoenix commented on #730
The Activation example was only meant as an example. In general, my thought was that it could be helpful for visualization purposes (e.g. in a presentation or scientific paper) if you could show only the details of individual nodes. Especially if you want to focus the presentation on a certain area of the network, you could show the details for that (e.g. at .h5, for an activation node, because it

[2021-04-23 04:53] lutzroeder commented on #730
Some formats handle activation by having different operators for each function. For example, ONNX will show `Relu` instead of `Activation` as the node type. Are there other examples where this would be needed or is this specific to how some formats store `Activation`, `Binary` or `Unary` operators which could be handled differently?

[2021-04-23 06:56] #458 closed

[2021-04-23 07:19] TheRisenPhoenix commented on #730
I guess it could be helpful for any kind of node - completely depending on what to put the focus on when using it for visualization. I'm thinking of large nets, where you want to show the specific configuration of a certain part, but not of the rest.
I think that it's always helpful to be able to customize a visualization as precisely as possible and tailor it to your specific needs.
But of course

[2021-04-24 21:07] lutzroeder opened #732 "PyTorch: Failed to resolve module 'ops.torchvision'"
[d2go.pt.zip](https://github.com/lutzroeder/netron/files/6370675/d2go.pt.zip)

[2021-04-26 17:18] TomWildenhain-Microsoft opened #733 "Winget install netron fails: "Opening manifest failed""
![image](https://user-images.githubusercontent.com/67606533/116124120-e0fbd000-a691-11eb-8ddc-8ac02f4d5cb9.png)

[2021-04-26 19:19] lutzroeder commented on #733
@TomWildenhain-Microsoft does this repro with the most recent version of winget?

[2021-04-26 19:19] #733 closed

[2021-04-26 19:23] TomWildenhain-Microsoft commented on #733
haha nope.  Apparently an old winget version was the issue.

[2021-04-29 15:25] Martin20179 opened #737 "Can't install netron because of unknown certifcation"
- Netron app and version: 4.9.0
- OS and browser version: Ubuntu 16.04.7 LTS

Steps to Reproduce:

1. wget https://github.com/lutzroeder/netron/releases/download/v4.9.0/Netron-4.9.0.AppImage
2. snap install netron
3. I get following error message: `error: cannot install "netron": Post https://api.snapcraft.io/v2/snaps/refresh: x509: certificate
       signed by unknown authority`

[2021-04-29 15:33] Martin20179 commented on #737
Sorry, I think this issue is on my side. https://api.snapcraft.io/ is blocked by the company firewall :-(

[2021-04-29 15:33] #737 closed

[2021-04-30 19:20] mdeisher commented on #647
I'm seeing this error on a confidential model that cannot be shared.  It would be nice if the error message included the name of the node that cannot be processed by Netron.

[2021-04-30 20:01] lutzroeder commented on #647
@mdeisher can you [run](https://github.com/lutzroeder/netron/blob/main/DEVELOPMENT.md) this in the debugger and submit a fix. This is likely in OpenVINO code so maybe someone at Intel can have a look?

[2021-04-30 23:06] mdeisher commented on #647
Sure.
On Windows, what is the “./netron root folder”?
Is it C:\Users\username\AppData\Roaming\Netron ?

--Mike

From: Lutz Roeder ***@***.***>
Sent: Friday, April 30, 2021 1:02 PM
To: lutzroeder/netron ***@***.***>
Cc: Deisher, Michael ***@***.***>; Mention ***@***.***>
Subject: Re: [lutzroeder/netron] Error: Cannot read property (#647)

@mdeisher<https://github.com/mdeisher> can you run<https://g

[2021-04-30 23:11] lutzroeder commented on #647
The folder the repo was clone into.

[2021-05-03 14:34] mdeisher commented on #647
Please forgive my ignorance since I'm not a Java developer.  I can run Netron via the Visual Studio Code debugger.  But it is not finding the source code.  I get a message like "<path>\netron/node_modules/.bin/electron.cmd .\source\app.js
Could not read source map for file:///<path>/netron/node_modules/electron/dist/resources/default_app.asar/main.js: ENOENT, main.js.map not found in <path>\netron

[2021-05-03 20:35] lutzroeder commented on #647
@mdeisher did you set the Visual Studio Code debugger to `Debug Renderer Process` in the `Debug` tab? The app has a main process and a separate "renderer" process for each view. Those messages should only show in the main process and can be ignored.

[2021-05-03 20:57] mdeisher commented on #647
When I do that a dialog pops up saying “Unable to launch browser: ‘Could not connect to debug target at http://localhost:9222: Promise was canceled’”.

I am able to launch the Python web server which causes an instance of Netron to appear in a Chrome browser tab.  But I'm not sure how to connect the Visual Code Debugger to that process.

[2021-05-03 20:59] lutzroeder commented on #647
@mdeisher you can use the built-in Chrome debugger (press F12) when running in Chrome.

[2021-05-07 01:58] #732 closed

[2021-05-07 18:37] lu-wang-g opened #738 "Display associated files in a TFLite model"
Previously, TFLite model and associated files (label files, vocab files) are separated files, and users need to search for the corresponding associated files on their own. It caused a lot of develop friction and barriers.

Now, TFLite models can have associated files packed inside as a zip. See the description [here](https://www.tensorflow.org/lite/convert/metadata#model_with_metadata_format). Dis

[2021-05-08 03:01] #738 closed

[2021-05-10 19:48] mdeisher commented on #647
I'm still not able to debug it.  But I did try it on another machine with Netron 4.6.5 installed and it can display the XML just fine.

[2021-05-12 06:46] AlexRux commented on #647
Hi guys. i got this problem after 19 months that my model worked. What it's happening?

[Model.zip](https://github.com/lutzroeder/netron/files/6464003/Model.zip)

The same models that before worked now they're not.

[2021-05-12 14:21] mdeisher commented on #647
I resolved my issue.  It turned out to be a malformed model that included an edge with a bad port number.

[2021-05-12 14:45] AlexRux commented on #647
I'm using the same models that before worked with Netron. Then suddenly I got this problem.

[2021-05-12 15:48] mdeisher commented on #647
@AlexRux, yes there is an issue.  As I mentioned above, previous versions of Netron could render my bad graph.

[2021-05-13 01:51] lutzroeder commented on #647
This issue is a catch all for crashes caused by null references.
@AlexRux the issue is related to custom activations in Keras, already fixed by commit above.
@mdeisher can you add a change to guard against malformed OpenVINO graphs or provide a minimal repro?

[2021-05-13 14:31] mdeisher commented on #647
Here is a reproducer.
[netronRepro.zip](https://github.com/lutzroeder/netron/files/6473074/netronRepro.zip)

[2021-05-14 08:55] jokerspy commented on #546
Error loading PyTorch model. Unsupported function 'torch.__rshift__' in 'test.pt'.
I met above error with netron 4.6.0 and torch 1.5.1. Minimal example to reproduce is provided as below. Thanks.

[code]

[2021-05-17 13:45] #663 closed

[2021-05-17 13:46] #540 closed

[2021-05-17 16:40] lutzroeder opened #740 "IMGDNN support"

[2021-05-17 16:40] #740 closed

[2021-05-18 23:38] yuslepukhin opened #741 "ONNX: sparse tensor type support"
Need to include support for models and nodes that accept SparseTensor and may have sparse outputs.
I am not able to attache either an onnx or python files.

[2021-05-19 03:38] lutzroeder commented on #741
@yuslepukhin can you create and share a file to reproduce the issue?

[2021-05-19 15:46] rinne1998 commented on #543
[corpus.zip](https://github.com/lutzroeder/netron/files/6510101/corpus.zip)

[2021-05-19 17:32] yuslepukhin commented on #741
[SparseInModels.zip](https://github.com/lutzroeder/netron/files/6510688/SparseInModels.zip)

[2021-05-20 01:13] lutzroeder commented on #741
[sparse_initializer_as_output.onnx.zip](https://github.com/lutzroeder/netron/files/6512243/sparse_initializer_as_output.onnx.zip)

[2021-05-20 01:39] leondgarse commented on #342
I think a temporary easiest way is using `tflite`, just works if model is not too complicated:
[code]

[2021-05-20 01:50] MAhaitao999 commented on #289
What about the meaning of "format Onnx v3"?

[2021-05-20 03:09] lutzroeder commented on #289
Format is the [version](https://github.com/onnx/onnx/blob/7480638f0de437f724289e230798b698b1e74a70/onnx/onnx.proto#L70) of the ONNX container format. Imports lists the operator [sets](https://github.com/onnx/onnx/blob/7480638f0de437f724289e230798b698b1e74a70/onnx/onnx.proto#L711) used by the model.

[2021-05-22 20:48] sjain-stanford opened #742 "Support torch.fx IR visualization using netron"
`torch.fx` is a library in PyTorch 1.8 that allows python-python model transformations. It works by symbolically tracing the PyTorch model into a graph (`fx.GraphModule`), which can be transformed and finally exported back to code, or used as a `nn.Module` directly. Currently there is no mechanism to import the graph IR into netron. An indirect path is to export to ONNX to visualize, which is not

[2021-05-22 20:55] lutzroeder commented on #742
@sjain-stanford can you share a sample model file.

[2021-05-22 20:55] #742 closed

[2021-05-23 16:51] sjain-stanford commented on #159
@lutzroeder has there been a change in API on latest release? I get this when I specify `port` here:

[code]

[2021-05-23 17:15] lutzroeder commented on #159
`netron.start(model_path, 8080)`

[2021-05-25 01:09] amr-martini opened #743 "Failed to resolve module 'ops.roi_ops' (in a custom TorchScript model)"
A custom op can be visualized in Netron if model is exported to ONNX but not with TorchScript.

- Netron app and version: Windows Desktop app 4.9.3
- OS and browser version: Windows 10; OS build 19042.867
- PyTorch version: 1.8.1
- Ninja: 1.10.0.post2

Steps to Reproduce:

1. Ninja is required to run the code as well as torch. Run the following code and verify that the TorchScript model is unable

[2021-05-25 02:48] lutzroeder commented on #743
This is a TorchScript issue. The model file does not contain metadata or a definition for `roi_ops.nms`.

[2021-05-25 02:48] #743 closed

[2021-05-25 03:41] lutzroeder commented on #743
[nms_wrapper.zip](https://github.com/lutzroeder/netron/files/6536285/nms_wrapper.zip)

[2021-05-26 09:31] yuval-neureality commented on #342
Is TF 2.0 savedModel supported? it's looks weird. converting the TF2.0 SavedModel to ONNX works well with Netron though.

Thanks

[2021-05-28 16:59] Engineero opened #744 "Search by tensor shape, other features"
It would be great if we could expand the search feature from just node names to include features of nodes (search for specific kernel shapes or activation functions, etc.) and tensor shapes.

This comes from a current need that I have where I'm getting some cryptic shape errors at run time in an ONNX model and tracking them down has been a real pain. It would be great if I could use this utility t

[2021-05-28 18:41] lutzroeder commented on #744
Duplicate of #744

[2021-05-28 18:41] #744 closed

[2021-05-31 11:25] betterhalfwzm commented on #543
[weigths_0000000.zip](https://github.com/lutzroeder/netron/files/6569893/weigths_0000000.zip)
@lutzroeder

[2021-06-02 13:55] besherh opened #745 "Export CNN graph as JSON"
is there a way to export the CNN graph using netron as Json or Panda data frame?

[2021-06-02 20:31] lutzroeder commented on #745
Duplicate of #731

[2021-06-02 20:31] #745 closed

[2021-06-03 02:50] lutzroeder opened #746 "MNN: File format is not mnn.Net"
Please provide steps or model files to reproduce this issue.

[2021-06-03 02:51] #746 closed

[2021-06-03 08:15] dwSun opened #747 "paddle __model__ file can't be selected under macos"
- Netron app and version: 4.9.5 Desktop app
- OS and browser version: macOS 11.4

![image](https://user-images.githubusercontent.com/5899962/120611607-f0d3b480-c486-11eb-9aa2-7999b44f7a20.png)

[2021-06-03 10:51] lutzroeder commented on #747
Duplicate of #443 and #554

[2021-06-03 10:51] #747 closed

[2021-06-07 08:39] nasircsms commented on #593
Unsupported Protocol Buffers content '1:2,2:2,3:2' for extension '.model' in 'spm_char.model'.

[covost2_en_asr_vocab_char.zip](https://github.com/lutzroeder/netron/files/6607278/covost2_en_asr_vocab_char.zip)

[2021-06-07 18:24] lutzroeder opened #748 "SentencePiece detection"
[sentencepiece_model.proto](https://github.com/google/sentencepiece/blob/master/src/sentencepiece_model.proto)
[covost2_en_asr_vocab_char.zip](https://github.com/lutzroeder/netron/files/6611189/covost2_en_asr_vocab_char.zip)

[2021-06-09 16:19] epsilon-deltta opened #750 "how can i check the serving status in python command"
![image](https://user-images.githubusercontent.com/45354219/121391358-3ca3c380-c989-11eb-89bd-2b876dc9c3f6.png)
i usually use this netron in jupyter lab but, executing this command ,  the session doesn't wait until server is terminated .
so i can execute another cmds after operating netron server.
 i wanna know how i can check the status whether netron server is terminated or not. is there any com

[2021-06-10 02:50] #750 closed

[2021-06-11 06:07] lutzroeder opened #751 "Core ML Model Package support"
[EfficientNetB0.mlpackage.zip](https://github.com/lutzroeder/netron/files/6636195/EfficientNetB0.mlpackage.zip)

[2021-06-14 02:24] #751 closed

[2021-06-15 10:00] jeranio opened #752 "Font not showing in open file dialog"
Ubuntu 4.9.7 Desktop

Clicking on the "Open Model" button, the resulting file dialog shows up but all the text is just tiny rectangles in place of the text. No text itself is legible. Any ideas? What font am I missing?

[2021-06-16 05:49] 21kc-caracol opened #753 "Clarification request for the "runtime" field"
In Netron model viewer, what does the "runtime" field means?

Is it the TensorFlow version that used to create this model?
[https://i.stack.imgur.com/ko6E5.png](Screenshot of Netron model properties section)

[2021-06-16 05:49] 21kc-caracol opened #754 "Runtime field clarification request"
In Netron model viewer, what does the "runtime" field means?

Is it the TensorFlow version that used to create this model?
[https://i.stack.imgur.com/ko6E5.png](Screenshot of Netron model properties section)

[2021-06-16 05:52] lutzroeder commented on #754
Duplicate of #753

[2021-06-16 05:52] #754 closed

[2021-06-16 05:58] lutzroeder commented on #753
For TensorFlow lite contains the `min_runtime_version` [required](https://stackoverflow.com/questions/67881794/fetching-tflite-version-information-from-tflite-model) to run the model.

[2021-06-16 05:58] #753 closed

[2021-06-16 06:03] lutzroeder commented on #752
Please report this as an Ubuntu or Electron issue. This [issue](https://github.com/electron-userland/electron-builder/issues/5217) sounds similar and has a few pointers.

[2021-06-16 06:03] #752 closed

[2021-06-21 08:15] ouyangqr opened #755 "Package exe"
How is this project packaged into exe， Can you provide the following method, thank you

[2021-06-21 15:40] lutzroeder commented on #755
[electron-builder](https://www.electron.build)

[2021-06-21 15:40] #755 closed

[2021-06-23 03:13] #748 closed

[2021-06-23 07:53] junluan opened #756 "extension name missing . in paddle register"
The last two file extension name in [https://github.com/lutzroeder/netron/blob/main/source/view.js#L1406](https://github.com/lutzroeder/netron/blob/main/source/view.js#L1406) missing `.` and this can cause useless paddle.js load in [https://github.com/lutzroeder/netron/blob/main/source/view.js#L1641](https://github.com/lutzroeder/netron/blob/main/source/view.js#L1641) when I did not load a paddle

[2021-06-24 03:40] lutzroeder commented on #756
`model` (no extension) is a file name used by legacy `.tar` models. Can you provide a repro for when this is causing an issue?

[2021-06-24 03:40] #756 closed

[2021-06-24 05:47] alanvgreen opened #757 "Incorrect rendering of model"
- Netron app and version: Netron.app 4.9.8
- OS and browser version: ChromeOS, Google Chrome | 92.0.4515.66 (Official Build) beta (64-bit)

Steps to Reproduce:

1. Start netron.app
2. Load attached model

[2021-06-24 06:43] junluan commented on #756
Hi @lutzroeder

I think you can just remove paddle.js and load a none paddle model such as onnx model. You can see the error:

`The script 'file:///xxx/netron/dist/web/paddle.js' failed to load.`

I extend netron to support a custom model type. And remove all other model type's related files to minimum integrate with our inner product.

[2021-06-24 07:00] alanvgreen commented on #757
This tflite file: https://drive.google.com/file/d/1MiEPhIHikObElnfxAlTxbTWVSb9MSTHW/view?usp=sharing

Note that the first concatenation has two of its outputs as inputs. Instead the 6 MaxPool2D ops should be inputs to the concatenation operation.

[2021-06-24 12:04] #757 closed

[2021-06-24 13:19] 21kc-caracol commented on #753
By the way I posted your answer on [StackOverFlow](https://stackoverflow.com/questions/67987360/in-netron-model-viewer-what-does-runtime-mean) and put a link to this thread.

Thanks!

[2021-06-25 10:33] wm901115nwpu opened #758 "open error"
Error loading Python module. Unsupported function 'torch.quantize_per_tensor' in 'resnet18_fx_graph_mode_quantized.pth'.

[2021-06-25 13:27] lutzroeder commented on #758
@wm901115nwphu can you please share the model file.

[2021-06-25 13:27] #758 closed

[2021-06-25 14:26] lutzroeder commented on #758
[resnet18_fx_graph_mode_quantized.pth.zip](https://github.com/lutzroeder/netron/files/6716842/resnet18_fx_graph_mode_quantized.pth.zip)

[2021-06-26 01:55] wm901115nwpu commented on #758
yes, this file

[2021-06-27 21:59] lutzroeder opened #759 "nnabla support"
[sony/nnabla](https://github.com/sony/nnabla)

[tecogan_model.h5](https://nnabla.org/pretrained-models/nnabla-examples/GANs/tecogan/tecogan_model.h5)
[pretrained_fomm_params.h5](https://nnabla.org/pretrained-models/nnabla-examples/GANs/first-order-model/pretrained_fomm_params.h5)

[2021-06-28 00:26] #415 closed

[2021-07-01 12:07] jiankebe opened #760 "In node.js 14.16.0 version error: "Unsupported function 'torch.addmm' in 'traced_online_pred_layer.pt'.""
- Netron app and version:
- OS and browser version:

Steps to Reproduce:

1. node.js runtime
2. model is traced_online_pred_layer

Please attach or link model files to reproduce the issue if necessary.

When I use node.js 14.16.0, netron can not read the model(Error: "Unsupported function 'torch.addmm' in 'traced_online_pred_layer.pt'.") but in browser netron is ok, please help me how to use in no

[2021-07-01 12:08] jiankebe commented on #760
Netron code version from branch is master
OS: Mac OS
NodeJS: 14.16.0

[2021-07-01 12:23] lutzroeder commented on #760
No repro on macOS and Node.js 14.17.1 and 16.4. Please investigate and submit a pull request with a fix.

[2021-07-01 12:23] #760 closed

[2021-07-01 17:00] apivovarov opened #761 "TF Saved model shows only one node - StatefulPartitionedCall"
I created basic TF image classification model as described [in the tutorial](https://www.tensorflow.org/tutorials/keras/classification) (using tensorflow==2.5.0)
I saved the model.
There is `saved_model.pb` file Inside the saved model directory (which should contain the model graph).
When I open it in Netron I see just single super-node `StatefulPartitionedCall` with bunch on inputs.
- How to see

[2021-07-01 17:39] lutzroeder commented on #761
Duplicate of #342

[2021-07-01 17:39] #761 closed

[2021-07-01 19:39] apivovarov commented on #342
I created basic TF image classification model as described [in the tutorial](https://www.tensorflow.org/tutorials/keras/classification) (using tensorflow==2.5.0)
I saved the model.
There is `saved_model.pb` file Inside the saved model directory (which should contain the model graph).
When I open it in Netron I see just single super-node `StatefulPartitionedCall` with bunch on inputs.
- How to see

[2021-07-01 20:16] apivovarov commented on #342
To visualize saved model "mymodel" with tensorboard
[code]
Looks a bit ugly , but at least smth https://www.dropbox.com/s/bhjugtur1gsxk0m/saved_model_serving_default_graph.png?dl=0

[2021-07-02 02:11] wikiwen opened #762 "MindSpore: MSL1 format is deprecated"
- Netron app and version: 5.0.0
- OS and browser version: windows10, Chrome 91

Steps to Reproduce:

1. open file [control_flow_ut_while_0122.ms](https://github.com/lutzroeder/netron/files/6097971/control_flow_ut_while_0122.ms.zip)
2. Netron will pop up a window: Error loading MindSpore Lite model, MSL1 format is deprecated

Does it means mindspore lite v1.1 is depredcated? But the latest mindspor

[2021-07-02 02:34] lutzroeder commented on #762
@YvetteLaw

[2021-07-02 02:35] lutzroeder commented on #762
Duplicate of #676

[2021-07-02 02:35] #762 closed

[2021-07-02 02:49] wikiwen commented on #762
Thank you for your reply, I have seen YvetteLaw's explanation about this compatibility problem. Does it be ok if I degrade netron to a lower version? And where can i find a old windows install package, which can open mindspore lite v1.1 model?

[2021-07-02 03:31] lutzroeder commented on #761
[netron_issue_761.zip](https://github.com/lutzroeder/netron/files/6751899/netron_issue_761.zip)

[2021-07-02 04:35] apivovarov commented on #342
The situation improved in TF 2.5.0. Now `model.save("model_dir")` creates one additional file in the model folder - `keras_metadata.pb`.
The difference btw prev versions is that now we can load the model and get fully-featured Keras model.

[code]
Now we can save this loaded "saved model" in h5 format and open it in Netron.
[code]

[2021-07-05 09:54] zsffuture opened #763 "Is PyTorch reading the network architecture correctly?"
![image](https://user-images.githubusercontent.com/39027951/124453519-060b6e00-ddba-11eb-9cf6-bba6e9d17b85.png)

[2021-07-05 10:18] KarelPeeters commented on #647
A pytorch-exported model that causes this issue, the popup redirected me here:

![image](https://user-images.githubusercontent.com/7887115/124456516-13f5ca80-dd8b-11eb-9926-43fe72590801.png)

[model_0_epochs.zip](https://github.com/lutzroeder/netron/files/6763472/model_0_epochs.zip)

[2021-07-05 11:14] lutzroeder commented on #763
Duplicate of #720

[2021-07-05 11:14] #763 closed

[2021-07-05 16:53] lutzroeder commented on #647
[model_0_epochs.pt.zip](https://github.com/lutzroeder/netron/files/6765569/model_0_epochs.pt.zip)

[2021-07-05 17:23] KarelPeeters commented on #647
@lutzroeder Is that a smaller version of my file or do you have another file that happens to give the same error with the same name?

[2021-07-06 00:32] lutzroeder opened #764 "TensorFlow.js: File text format is not graph-model"
Please provide steps or model files to reproduce this issue.

[2021-07-06 03:55] triwahyuu opened #765 "Error on loading darknet config file"
- Netron app and version: 5.0.0 Website (July 6, 2021)
- OS and browser version: Ubuntu 20.04 + Chrome 91.0.4472.114

Steps to Reproduce:

1. open darknet config file [from here](https://github.com/WongKinYiu/yolor/blob/main/cfg/yolor_p6.cfg)
2. got the following:
[code]

Please attach or link model files to reproduce the issue if necessary.
https://github.com/WongKinYiu/yolor/blob/main/cfg/yolor_

[2021-07-06 04:13] lutzroeder commented on #765
[yolor_p6.cfg.zip](https://github.com/lutzroeder/netron/files/6767257/yolor_p6.cfg.zip)

[2021-07-06 04:15] #765 closed

[2021-07-06 04:18] triwahyuu commented on #765
hi, thanks for the quick reply, really appreciate it. Keep up your good work 👍

[2021-07-09 15:55] rnugmanx opened #766 "TensorIterator in OpenVINO IR is visualized differently"
- Netron app and version: 4.9.8 Desktop app, 5.0.0 Website
- OS and browser version: Windows 10, Chrome 91.0.4472.124
![image](https://user-images.githubusercontent.com/65988046/125105507-3408ef00-e0e7-11eb-9f57-8a32e80c5056.png)

Steps to Reproduce:
1. Followed the link to A3C model and converted it to IR https://docs.openvinotoolkit.org/2020.1/_docs_MO_DG_prepare_model_convert_model_Convert_Mode

[2021-07-09 17:52] lutzroeder commented on #766
@rnugmanx Please reach out the the OpenVINO team at Intel to investigate this.

[2021-07-09 17:52] lutzroeder commented on #766
Duplicate of #191

[2021-07-09 17:52] #766 closed

[2021-07-13 03:22] lutzroeder opened #767 "ONNX Runtime support"
[mobilenet_v2_float.ort.zip](https://github.com/lutzroeder/netron/files/6805664/mobilenet_v2_float.ort.zip)
[mobilenet_v2_uint8.ort.zip](https://github.com/lutzroeder/netron/files/6805665/mobilenet_v2_uint8.ort.zip)

[2021-07-13 03:25] #767 closed

[2021-07-13 10:04] BinhBa opened #768 "Viewing ncnn weight"
Hi @lutzroeder,
I'm using netron to work with ncnn. I saw in an discussion with nihui that we could see both graph and weight with the netron. But when I tried to grab both ".param" and ".bin" file and put them in netron, two window popped up. One open the ".param" file and one said that there is no ".xml" in ".bin" file as image attached.
I'm doing something wrong here?
![image](https://user-imag

[2021-07-13 14:57] lutzroeder commented on #768
Can you please include files to reproduce this behavior.

[2021-07-13 14:57] #768 closed

[2021-07-13 14:58] lutzroeder commented on #768
@nihui

[2021-07-13 15:06] BinhBa commented on #768
I included a sample model. One model contains 2 file .param.bin and .bin. I translated a issue in ncnn https://github.com/Tencent/ncnn/issues/2861 and he said that he can grab 2 file and open in netron so that he can view the weight. ^^ I wonder did I do some step wrong?
[weight_file.zip](https://github.com/lutzroeder/netron/files/6809837/weight_file.zip)

[2021-07-14 02:20] lutzroeder commented on #768
[mnet.25.zip](https://github.com/lutzroeder/netron/files/6813063/mnet.25.zip)

[2021-07-15 02:24] BinhBa commented on #768
@lutzroeder
Thank you for your fix. With the mnet.25.zip, things are fine. But with other model the problem still there. My weights used to test [cc_irse_facenet_18_opt.zip](https://github.com/lutzroeder/netron/files/6819921/cc_irse_facenet_18_opt.zip)
![image](https://user-images.githubusercontent.com/33077168/125718126-eafa0fb5-d2df-4a57-94d7-f368bd7b9cd3.png)

[2021-07-15 02:32] BinhBa commented on #768
@lutzroeder
Thank you for your fix. With mnet.25.zip, things are fine. But with others model the problem still there, I uploaded my test model for you in Drive [link](https://drive.google.com/file/d/1VKwdAA2H-_Ll-6Ec2Zg3Ou9e0D4G2jeZ/view?usp=sharing)
![image](https://user-images.githubusercontent.com/33077168/125718792-0b8be935-e642-4282-a3ec-58bb2b1662ae.png)

[2021-07-15 02:33] lutzroeder commented on #768
@BinhBa Please investigate this issue and submit a pull request with a fix.

[2021-07-15 09:47] walkerwzy opened #770 "Fail to render BatchNormalization layer"
- Netron app and version:  5.0.1
- OS and browser version:  macOS Big Sur(11.5)

Steps to Reproduce:

1. write a `Conv` layer with bias disabled
2. followed by a `BatchNormalization` layer

you'll found the `bias` still shows in the `Conv2d` node, and there's no `BatchNormalization` node

demo code in pytorch
[code]
![88151626341848_ pic_hd](https://user-images.githubusercontent.com/1918101/125768

[2021-07-15 16:24] lutzroeder commented on #770
This is a question for PyTorch or ONNX exporter.

[2021-07-15 16:24] #770 closed

[2021-07-15 16:24] #764 closed

[2021-07-16 03:50] py2ai opened #771 "NetworkX based adjacency_data JSON support"
It would be great if the support is added to visualize the networkX based JSON graphs:

For example:
This simple graph:
subtask_list = ['A','B','C']
conn_list = [('A','B'),('B','C')]

can be readily available from networkx.readwrite.json_graph.adjacency_data(G)
as below:
{'directed': True, 'multigraph': False, 'graph': [], 'nodes': [{'label': 'A', 'id': 'A'}, {'label': 'B', 'id': 'B'}, {'label': '

[2021-07-16 04:24] #771 closed

[2021-07-16 05:27] py2ai commented on #595
filename = 'OO.json'
out_file = open(filename,'w+')

from networkx.readwrite import json_graph
import matplotlib.pyplot as plt
import networkx as nx
import json
from networkx.drawing.nx_agraph import graphviz_layout

subtask_list = ['A','B','C']
conn_list = [('A','B'),('B','C')]

G = nx.DiGraph()

for name in subtask_list:
    G.add_node(name, label=name)

for names in conn_list:
    G.add_edge(na

[2021-07-16 05:28] py2ai commented on #595
This complete code will generate the OO.json file

[2021-07-17 05:24] Zengyf-CVer opened #772 "Problems using the online version of netron"
My browser version: chrome-stable:91.0.4472.164
I use online netron: https://netron.app/
When I loaded the model.json model of tfjs, this message popped up:
`Error loading TensorFlow model. Unknown weight data type size 'bool' in 'model.json'.`

This is the link to my model.json model:
https://drive.google.com/file/d/16JxAZkcLqhKESop17O47BBTGhctuVn-P/view?usp=sharing

[2021-07-17 17:23] lutzroeder commented on #772
@Zengyf-CVer can you share the weights files as well?

[2021-07-17 17:23] #772 closed

[2021-07-18 01:31] Zengyf-CVer commented on #772
https://drive.google.com/file/d/16JxAZkcLqhKESop17O47BBTGhctuVn-P/view?usp=sharing

[2021-07-18 19:47] simphide commented on #401
Hi, I also have this problem with the models of this project: https://github.com/BloodAxe/Kaggle-2020-Alaska2/releases

Does anybody have an idea how I can see the connections etc.? Thank you!

[2021-07-18 20:12] lutzroeder opened #773 "ONNX function support"
[model_local_func_test.onnx.zip](https://github.com/lutzroeder/netron/files/6845111/model_local_func_test.onnx.zip)

[2021-07-18 20:36] lutzroeder commented on #401
@simphide the file include training weights only. See #720.

[2021-07-22 01:03] lutzroeder opened #774 "TensorFlow .pbtxt support"
[invalid_graph.pbtxt.zip](https://github.com/lutzroeder/netron/files/6859459/invalid_graph.pbtxt.zip)

[2021-07-22 04:49] #774 closed

[2021-07-22 13:40] Chenzk1 opened #775 "file cannot begin with spaces"
- Netron app and version: 5.0.2
- OS and browser version: macOS 11.4

Steps to Reproduce

1. A file with extension "pbtxt"
2. If every line of the file begin with 2 spaces, netron cannot open it and show as follows:
![image](https://user-images.githubusercontent.com/35548458/126648570-e4acf629-75ef-41d3-9a01-abdc38dbf7c0.png)

[2021-07-22 17:26] lutzroeder commented on #775
@Chenzk1 can you please share a sample file?

[2021-07-22 17:27] lutzroeder commented on #775
Duplicate of #774

[2021-07-22 17:27] #775 closed

[2021-07-28 18:19] frank-onspecta opened #777 "PyTorch: Unknown 'torch.eq' expression type"
- Netron app and version:  5.0.5
- OS and browser version:  Windows

Steps to Reproduce:

1. Load the trace model file generated with in Detectron2 deployment script. (https://drive.google.com/file/d/1SihlPd_i2jzVZ8lK6F_84oLCAJ8cMrUh/view?usp=sharing)
2. Netron returns 'Unknown 'torch.eq' expressioon type in 'detectron2_trace.pt'

Please attach or link model files to reproduce the issue if necessa

[2021-07-29 03:40] #777 closed

[2021-08-02 17:57] jiafatom opened #778 "Netron is hanging when I start it"
- Netron app and version: 5.0.7, 5.0.5 Ubuntu
- OS and browser version: Ubuntu 20.04
Steps to Reproduce:
I just start click on netron icon, and it is just hanging there endlessly.

[2021-08-02 18:14] jiafatom commented on #778
Seems working....The first time it really takes a long time....

[2021-08-02 18:14] #778 closed

[2021-08-03 09:43] wm901115nwpu opened #779 "open deeplabv3"
l.slice is not a function in 'deeplabv3_resnet50_scripted.pth'.

[2021-08-03 09:44] wm901115nwpu commented on #779
When I upload the file, it always fails.

[2021-08-03 15:18] lutzroeder commented on #779
Did you try uploading as a Zip file? If the file is too large maybe use Dropbox or GDrive and share the link.

[2021-08-03 15:18] #779 closed

[2021-08-04 06:16] wm901115nwpu commented on #779
Ok, I have a try.

[2021-08-04 07:03] wm901115nwpu commented on #779
https://www.dropbox.com/s/eatcsfojvlbm6vt/deeplabv3_resnet50_scripted.pth?dl=0

[2021-08-08 04:16] #773 closed

[2021-08-10 02:48] hnuhchen opened #780 "how to build a .exe file of netron which can be installed on my windows computer"
Hello, i am a user of netron, now i want to visual my models by using netron, but the format of my model is different from any other frameworks, such as caffe, pytorch, paddle, mnn and so on. So i want to add my format to netron and rebuild it, then i can install the .exe application on my windows computer to visual my models.

[2021-08-10 02:52] lutzroeder commented on #780
See [DEVELOPMENT.md](https://github.com/lutzroeder/netron/blob/main/DEVELOPMENT.md) and [Makefile](https://github.com/lutzroeder/netron/blob/41135278264ac9d9595594e7d2c89c104215fc8c/Makefile#L46).

[2021-08-10 02:52] #780 closed

[2021-08-10 02:59] jangmin-deepx opened #781 "Request for Swish Function simplication"
Hi guys

In YoloV4, YoloV5 or any SOTA model uses Swish function for Activation
![image](https://user-images.githubusercontent.com/67268979/128801175-71d7d309-b563-412a-b602-f33d986c2ebe.png)

`Swish(x) = labmda x: x* Sigmoid(x)`

It can be confused when User parse Skip layers or something

Can it be merged into one Node ?

If don't, why it can be merged ?

Thanks.

[2021-08-10 03:28] lutzroeder commented on #781
@jangmin-deepx can you please share a sample file?

[2021-08-10 03:28] #781 closed

[2021-08-10 03:43] jangmin-deepx commented on #781
I forget to attach onnx file
[OnnxFile](https://drive.google.com/file/d/13WZ7VlY8X9bRR_kN-O2xJpb7z5uMW0Lp/view?usp=sharing)
This is my Target model to parse

[2021-08-10 04:13] lutzroeder commented on #781
The app shows the graph in the file. The encoding would be a question for ONNX.

[2021-08-10 12:42] sddi opened #782 "TensorFlow: Saved Model content detection"
- Netron app and version: <windows10 Desktop app 5.1.0 -->

Steps to Reproduce:

1. I use tf.SavedModelBuilder saving my model.
2. it shows:
![image](https://user-images.githubusercontent.com/4221050/128868452-952adb4b-9f92-4773-a694-8ea5991dfe95.png)

there is no logs........

[2021-08-10 16:26] lutzroeder commented on #782
@sddi can you please share a sample file?

[2021-08-10 22:51] abattery opened #783 "TensorFlow Lite: Signature support"
From TensorFlow 2.7 versions, the signature information will be automatically enabled in the all the converter APIs.

It would be nice to show the signature information in the summary of the graph.

One nice new feature is added for the ability to add multiple entry points through signatures as well.

For the details,
https://www.tensorflow.org/lite/guide/signatures

[2021-08-11 01:24] lutzroeder commented on #783
@abattery please implement this for all frameworks and submit a pull request.

[2021-08-11 01:26] lutzroeder commented on #783
[tflite_signature_samples.zip](https://github.com/lutzroeder/netron/files/6965263/tflite_signature_samples.zip)

[2021-08-11 01:31] lutzroeder commented on #782
See tensorflow/tensorflow#15061

[2021-08-11 01:49] lutzroeder commented on #782
[saved_model_xxx.pb.zip](https://github.com/lutzroeder/netron/files/6965264/saved_model_xxx.pb.zip)

[2021-08-12 02:54] #782 closed

[2021-08-13 18:14] TomWildenhain-Microsoft opened #784 "TensorFlow: signature support"
- Netron app and version: 5.1.0
- OS and browser version: Windows 10 desktop

I love the new subgraph UI to access subgraphs via nodes, but the removal of a global subgraph list for TF saved models makes most subgraphs inaccessible.  (only the save/restore subgraphs are referenced by the metagraph. Inference graphs are referenced by signatures but not directly called by the metagraph).

Example mo

[2021-08-16 03:45] lutzroeder commented on #784
@TomWildenhain-Microsoft which subgraph in the sample file is not accessible and how is it accessed by signatures?

[2021-08-16 08:28] aostrowski-hbn commented on #617
Looks like the issue came back (tested on 5.1.0 and 5.1.4).

[2021-08-16 18:22] TomWildenhain-Microsoft commented on #784
The primary graph of interest is __inference___call___110 which calls __inference__preprocess_88 (the later can also be called independently)

![image](https://user-images.githubusercontent.com/67606533/129610708-dee018ce-daae-490c-8e5f-8d21958cb26b.png)

The signatures can be found using the saved model cli with `saved_model_cli show --dir C:\Users\tomwi\Downloads\nnlm --all` and are:

[code]

Th

[2021-08-17 03:54] linchpinlin commented on #589
[issue_model.zip](https://github.com/lutzroeder/netron/files/6996951/last_hidden_state_crf_jud.zip)

[2021-08-20 09:54] 946166920 opened #786 "DaVinci OM support"
Hello, lutzroeder.
I'm an employee of Huawei inc. I have extened Netron to support HiAI Foundation, which is an AI framework developed by Huawei Hisilicon(https://developer.huawei.com/consumer/cn/hiai#Foundation). Could you please let me merge my work (https://github.com/946166920/netron_om) into Netron?

[2021-08-23 14:23] mikhail-barg commented on #593
Unsupported Protocol Buffers content '' for extension '.pb' in '192x15-2021_0823_1130_56_656.pb'.

https://training.lczero.org/get_network?sha=7b1ec0ff403d3eb36e3cd04c8e4481d10be612ed4b45f65a0b46c3d0bf518f87

[2021-08-24 04:23] #786 closed

[2021-08-24 12:09] 946166920 opened #788 "DaVinci om model can not be recognized"
Steps to Reproduce:

1.when I open hiai_noaipp.om model on latest Netron code, the .om model can not be recognized.
[hiai_noaipp.om.zip](https://github.com/lutzroeder/netron/files/7038979/hiai_noaipp.om.zip)

2.review  the  code, source/app.js should add om in 176 line, and source/index.html should add .om in 364 line.

[2021-08-25 03:30] lutzroeder commented on #788
Would it make sense to discontinue the OM format and use a standard format like `.onnx` or `.pb`? Supporting these formats creates overhead and they provide little value.

[2021-08-25 03:30] #788 closed

[2021-08-25 03:31] lutzroeder commented on #788
Duplicate of #786

[2021-08-25 04:00] lutzroeder commented on #786
@946166920 Please discontinue the `.om` format and use a standard format like `.onnx`. This format provide little value, duplicates existing formats and creates additional work. See also #600.

[2021-08-25 04:17] lutzroeder commented on #786
@946166920 Please discontinue the `.om` format and use a standard format like `.onnx`. This format duplicates existing formats and creates additional work. See also #600.

[2021-08-25 05:19] lutzroeder commented on #786
@946166920 Please use a standard format like `.onnx`. This format duplicates existing formats and creates additional work. See also #600.

[2021-08-25 08:18] reuvenperetz opened #789 "TensorFlow: Event file metadata support"
- Netron app and version:  5.1.5 Python server
- OS and browser version:  Ubuntu 18.04

Steps to Reproduce:

1. Creating an event file with GraphDef to display on TensorBoard contains TaggedRunMetadata which contains node statistics (https://github.com/tensorflow/tensorflow/blob/v2.6.0/tensorflow/core/protobuf/config.proto#L750).
2. On TensorBoard, the stats are displayed (memory and compute time)

[2021-08-26 04:00] glistening opened #790 "Circle support"
Hello, lutzroeder.

I work at Samsung Electronics. We are developing an on-device AI framework named [`ONE`](https://github.com/Samsung/ONE).
`ONE` uses model format named `circle` (not related to CircleCI), which is basically based on `tflite` format.
`circle` has more operation, which is (was) not supported by `tflite`, and quantization scheme,
Also, it is used as input to compiler for devices w

[2021-08-26 07:15] #790 closed, assigned to glistening

[2021-08-27 06:48] chenyuyi94 opened #791 "error: can't copy 'node_modules/dagre/dist/dagre.js': doesn't exist or not a regular file"
- Netron app and version:
- OS and browser version:

Steps to Reproduce:
when I want to build the .whl file,then the error have came,the error is "cant find <node_modules/dagre/dist/dagre.js>',anyone can help ?,thank you.
1.
2.

Please attach or link model files to reproduce the issue if necessary.

[2021-08-27 09:06] #791 closed, assigned to nobody

[2021-08-28 03:08] 946166920 opened #792 "DaVinci om model with device_config, RangeError happened."
1.when I open om model with device_config on latest Netron code, RangeError happened.
2.review the code, source/om.js should add reader.seek(offset + partition.offset) before reader.uint32() in line 539.

[2021-08-28 07:54] kit1980 opened #793 "Show string name in additional to int value when parameters represent DataType"
For ONNX ops Cast, EyeLike, RandomNormal, etc. there is an integer input that represents DataType.
Currently Netron shows only the int value for such inputs.
To see the DataType that corresponds to this int, a user needs to consult `onnx.in.proto` in the ONNX repo.
It would be nice if the string value is also displayed in Netron ('FLOAT' for '1', 'UINT8' for '2', etc.)

[2021-08-28 09:24] #792 closed

[2021-08-28 09:24] #793 closed

[2021-08-28 13:58] lqwang1025 opened #794 "can not open *.pb"
[out.pb.zip](https://github.com/lutzroeder/netron/files/7070798/out.pb.zip)
hi, I used my own framework to generate this model using the TF protocol, but Netron said it was not supported

[2021-08-28 15:43] lutzroeder commented on #794
@lqwang1025 please investigate this issue.

[2021-08-28 15:43] #794 closed

[2021-08-31 10:21] Leonardo-Ding opened #796 "Paddle Lite support"
Hi, I'm a [Paddle-Lite](https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/README_en.md) developer, I want to know extremely how netron can support Paddle-Lite .nb format visualization. Thanks.

[2021-08-31 13:08] lutzroeder opened #797 "Paddle Lite support"
[PaddlePaddle/Paddle-Lite](https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/README_en.md)
[framework.fbs](https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/model_parser/flatbuffers/framework.fbs)

[2021-08-31 13:08] #797 closed

[2021-08-31 22:39] glistening commented on #790
@lutzroeder I am sorry for late response. (I was off Monday, and get vaccinated yesterday). Let me explain current status. I am doing under our company's open source process to contribute our code to external. It usually takes a long time to finish. Also, our current source is based on v4.6.5. I need to rebase the code. How do you want us to proceed this task? May I push PR in this repo when we ar

[2021-09-01 07:44] lutzroeder commented on #706
@ypwhs please [investigate](https://github.com/lutzroeder/netron/blob/main/DEVELOPMENT.md) why this is happening and submit a fix.

[2021-09-02 00:10] lutzroeder commented on #796
@Leonardo-Ding can you please provide additional information. The `.nb` format does not seem to support versioning so any change to the format will break tooling for existing files?

[2021-09-02 00:10] lutzroeder commented on #796
Duplicate of #797

[2021-09-02 00:10] #796 closed

[2021-09-03 08:30] 946166920 opened #798 "RangeError happened"
[hwhiaimodel-device.zip](https://github.com/lutzroeder/netron/files/7104405/hwhiaimodel-device.zip)

this model, rangeError happened.

[2021-09-03 08:53] lutzroeder commented on #798
[netron_issue_798.om.zip](https://github.com/lutzroeder/netron/files/7104598/netron_issue_798.om.zip)

[2021-09-03 08:57] #798 closed

[2021-09-03 08:58] lutzroeder commented on #792
Duplicate of #798

[2021-09-03 09:01] lutzroeder opened #799 "DaVinci OM support"
[netron_issue_788.om.zip](https://github.com/lutzroeder/netron/files/7104677/netron_issue_788.om.zip)
[netron_issue_798.om.zip](https://github.com/lutzroeder/netron/files/7104660/netron_issue_798.om.zip)

[2021-09-03 09:07] lutzroeder commented on #786
Duplicate of #799

[2021-09-03 09:08] #799 closed

[2021-09-03 15:52] surprisedong commented on #549
I have the same problem, did you solve it?

[2021-09-03 16:21] lutzroeder commented on #549
@surprisedong can you share the model file to reproduce the issue?

[2021-09-03 16:32] surprisedong commented on #549
Thanks for replying, I seem to be using a corrupted file, now the problem is solved

[2021-09-03 20:53] rachthree opened #800 "General question: Changing node display using an additional file"
Hello, I'm really digging Netron since it's been so useful in investigating models! I'm trying to adapt it for my own use (this is not a feature request, just asking for pointers). I have a JSON file that would provide additional information to certain operators/layers, and would like to display that information in the sidebar as well as change the color of those operators (all indicated operators

[2021-09-04 22:12] #800 closed

[2021-09-05 14:47] Hang-Zhang opened #801 "Fail to support the saved model by Tensorflow 2.0"
We can use the following code to generate and save a simple model.

`import tensorflow as tf`
`model = tf.keras.Sequential([tf.keras.layers.Dense(5, input_shape=(3,)), tf.keras.layers.Softmax()])`
`model.save('model')`

However, when I open the saved .pb file through netron, the strange result is generated (as show below):
![Screen Shot 2021-09-05 at 10 31 43 PM](https://user-images.githubusercont

[2021-09-06 05:11] harishch4 commented on #168
Any update on this feature implementation?

[2021-09-09 02:53] Qiancj0605 opened #803 "TensorRT support"
Can netron visualize TRT models？
I tried it, and netron doesn’t seem to be able to visualize the TRT model。
Is there a way to visualize the TRT model？Thanks。

[2021-09-09 03:52] lutzroeder commented on #803
`.trt` is an undocumented format and hence cannot be supported. Please ask the creators of the format.

[2021-09-09 03:54] lutzroeder commented on #803
Duplicate of #533

[2021-09-09 03:54] #803 closed

[2021-09-10 02:56] RockySong opened #805 "When debug Render Process in VS code then netron often get stuck in startup"
- Netron app and version: Desktop app, 4.9.0 and later
- OS and browser version: Windows 10 1909 to 21H1 (19043.1165)

Steps to Reproduce:

1. Open Netron folder with Visual Studio Code
2. Set debug mode to "Debug Render Process", then start debug in VS Code.

this issue can be reproduced in at least 5 of 6 computers, all are self owned laptops by students (not uniformly configured).

![netron_deb

[2021-09-10 03:28] lutzroeder commented on #805
@RockySong since this repros for you, can you investigate and submit a fix.

[2021-09-10 03:28] #805 closed

[2021-09-10 10:33] RockySong commented on #805
We did some investigation but no progress right now...

[2021-09-12 03:02] lutzroeder commented on #589
[EfficientDet-d0.onnx.zip](https://github.com/lutzroeder/netron/files/5296050/EfficientDet-d0.onnx.zip)
[subword-conformer.latest.tflite.zip](https://github.com/lutzroeder/netron/files/7148911/subword-conformer.latest.tflite.zip)
[cnn.onnx.zip](https://github.com/lutzroeder/netron/files/7148909/cnn.onnx.zip)
[last_hidden_state_crf_jud.onnx.zip](https://github.com/lutzroeder/netron/files/7148912/la

[2021-09-12 07:13] lutzroeder commented on #589
Duplicate of #68

[2021-09-12 09:52] yairb-gm commented on #68
Hi, I'm encountering this issue as well for models I was able to open with previous versions, of onnx files

[2021-09-12 10:28] Rincewindrunner commented on #764
I can reproduce the issue with this model file: (a Yolov3-tiny model that I trained with Darknet and then converted across to Tensorflow.js)

[model.zip](https://github.com/lutzroeder/netron/files/7149425/model.zip)

[2021-09-12 17:01] lutzroeder commented on #68
@yairb-gm can you share a sample file to reproduce the issue.

[2021-09-12 19:35] lutzroeder commented on #764
[yolo3_tiny_darknet.zip](https://github.com/lutzroeder/netron/files/7150178/yolo3_tiny_darknet.zip)

[2021-09-12 20:55] lutzroeder commented on #722
Duplicate of #720

[2021-09-12 20:55] #722 closed

[2021-09-13 11:10] ajaichemmanam opened #806 "Brew install not updating"
Steps to Reproduce:

1. brew install netron Installs the app on macos
2. brew update/upgrade won't install an updated version of netron
3. Everytime has to brew reinstall netron to keep it updated

Expected Results:
brew upgrade
updates the netron, just like other brew modules

[2021-09-13 17:40] lutzroeder commented on #806
@ajaichemmanam my understanding is this the case for most brew casks. Brew installs the initial version and the apps tend to bring their own auto-update mechanism to install further updates. For example, running `/Applications/Netron.app/Contents/MacOS/Netron` from Terminal will bring some information what the updater is up to. Can you investigate this further and make work on a pull request if an

[2021-09-13 17:40] #806 closed

[2021-09-14 02:19] blacklong28 opened #807 "Why the caffe and onnx model weight type is float32 but it looks like a double type"
![image](https://user-images.githubusercontent.com/13930040/133183806-22c8fd52-ab7b-4c04-a7fe-37b9109e40ec.png)
I am very puzzled。
I didn't read the code, can anyone tell me?

[2021-09-14 03:09] lutzroeder commented on #807
Duplicate of #478

[2021-09-14 03:09] #807 closed

[2021-09-19 03:48] FrozenGene opened #808 "[TF2][GraphDef] Make Const hide in the operators' initializers"
Hi @lutzroeder , thanks for creating this cool tool.

In TF2 graphdef visualization, our const doesn't be hidden in the operators' in initializers attribute like our TF1 support. For example, in just one simple minist model, we will have this:

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/7287321/133914697-56acf821-2ee0-4266-83bb-80591f86a54b.png">

It will be look

[2021-09-19 03:49] lutzroeder commented on #808
Duplicate of #342

[2021-09-19 03:49] #808 closed

[2021-09-19 20:03] #162 closed

[2021-09-19 21:05] #24 closed

[2021-09-19 22:07] lutzroeder opened #809 "Vertical center view"

[2021-09-20 04:07] qq1243196045 opened #810 "how can I open more model?"
I want to compare model A with B,but how can I do it?,it seem that netron can't open two or more windows?

[2021-09-20 04:08] #810 closed

[2021-09-20 13:57] GiorgiGagnidze opened #811 "'url' query parameter in Netron"
How is the url parameter supposed to be used?

I am trying to use Netron the way it is described in #302

I tried to pass local model path to url parameter but it failed.

Is this valid use of this feature ? - `https://netron.app?url=/path/to/local/file/model.onnx`

If not, can you give me a valid example of how to use this parameter? Link in the attached issue also fails.

[2021-09-20 18:06] aseemw opened #812 "Core ML: Unsupported tensor value "bytes" in "Manifest.json""
- Netron app and version:  5.2.4
- OS and browser version:  macOS Big Sur (11.1), Safari

Steps to Reproduce:

1. See attached files

The attached files are generated by:
[code]

Please attach or link model files to reproduce the issue if necessary.

[mobilenet_v2_not_working_netron.mlpackage.zip](https://github.com/lutzroeder/netron/files/7197761/mobilenet_v2_not_working_netron.mlpackage.zip)

[r

[2021-09-20 18:12] lutzroeder commented on #811
The app is running in the browser and does not have access to the local file system.

The [README](https://github.com/lutzroeder/netron/blob/main/README.md) contains some URL examples which requires [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) to be configured on the remote server .

[2021-09-20 18:12] #811 closed

[2021-09-20 18:13] lutzroeder commented on #811
Duplicate of #697

[2021-09-20 20:20] TomWildenhain-Microsoft commented on #563
model.json from:
https://tfhub.dev/tensorflow/tfjs-model/posenet/mobilenet/float/075/1/default/1
will reproduce (expand the filter weight of the first conv)

![image](https://user-images.githubusercontent.com/67606533/134069827-62f00d83-8083-4b80-914f-815835318322.png)

[2021-09-21 02:44] lutzroeder commented on #563
@TomWildenhain-Microsoft this seems to be a corrupt model file. After extracting `posenet_mobilenet_float_075_1_default_1.tar` all files are compressed in Gzip format even though the file extensions suggest otherwise. Can you clarify this with the model author?

[2021-09-21 03:20] TomWildenhain-Microsoft commented on #563
Yep the weights are gzip compressed.  There are actually a lot of tfjs models on tfhub with gzip compression, even on .json files.  I didn't make the model. I have no idea why Google likes to do it this way.  It's fine with me if Netron doesn't handle these ones, just posting since the dialog box requested it.

[2021-09-21 06:12] #812 closed

[2021-09-21 10:12] D3m0n92 commented on #550
I tried to open this model but give me this error.

[tracking.zip](https://github.com/lutzroeder/netron/files/7202300/tracking.zip)

[2021-09-21 15:01] lutzroeder commented on #550
@D3m0n92 what format is the file expected to be in and how did you acquire it? The file has an `obfs` header and it would be good to know how this was created?

[2021-09-21 16:52] D3m0n92 commented on #550
I recover it from SnapML (foot tracking example)

[2021-09-22 08:58] sjain-stanford commented on #742
@lutzroeder In the attached archive, you'll find the `dot` graph generated from resnet18's FX traced graph, and the corresponding `svg` for visualization purposes. If we could visualize this dot graph in netron, that would be super super helpful, as this opens up a new mechanism of visualizing Pytorch models directly (without going through ONNX or Torchscript). Please consider.

[resnet18.zip](htt

[2021-09-22 15:19] cbodenst commented on #811
Hi just one more question. If the url inludes query parameters itself this seems not to work. Is there any workaround to this?

Example: https://my.server.com/models.h5?model_id=a&version=15

[2021-09-22 16:52] lutzroeder commented on #811
`https://netron.app?identifier=models.h5&url=https%3A%2F%2Fmy.server.com%2Fmodels.h5%3Fmodel_id%3Da%26version%3D15`

[2021-09-23 17:51] cbodenst commented on #811
Thank you. This works!

[2021-09-24 04:04] wang-kangkang opened #814 "about room"
发现在5.2.4版本里，强制把之前滚轮实现缩放的功能，改成滚轮实现上下的功能。这个改动真的十分反人性。希望再改回去

[2021-09-24 04:05] #814 closed

[2021-09-24 05:05] wang-kangkang commented on #814
In 5.2.4, it was forced to change the scroll wheel function from zoom to up and down.  This change is really anti-human.  I wish I could change it back
I hope you take this problem seriously and don't shut it down

[2021-09-24 05:09] lutzroeder commented on #814
Can you explain what the problem is? The scroll wheel is used to scroll pages up and down in most apps.

[2021-09-24 05:18] wang-kangkang commented on #814
The core of the problem is that model-structure-viewing software has different requirements than most other software.
There are two core operations to use Netron: 1: view network collation structure and 2: view different OP. In previous versions of Netron, viewing the network structure was moving by holding down the left mouse button, and viewing the OP details was zooming with the scroll wheel. T

[2021-09-28 07:31] Xxfore opened #815 "Ubuntu: Open dialog error"
- Netron app and version: 5.2.5 Desktop
- OS and browser version: Ubuntu 20.04

Steps to Reproduce:

1. Install app
2. run and click "Open Model"

It cant open File picker windows, and shows error like
"[10351:0928/152251.289511:ERROR:browser_main_loop.cc(269)] Gtk: gtk_native_dialog_run: assertion '!priv->visible' failed
"
Please attach or link model files to reproduce the issue if necessary.

[2021-09-28 14:04] dorovl opened #816 "Looking for a way to display the "DOCUMENTATION" view (see image)"
Hi Lutz,

Whether from the web or from Windows I'm looking for a way to display the "DOCUMENTATION" view below and I don't find:

<img width="1308" alt="screenshot" src="https://user-images.githubusercontent.com/8594515/135101850-da3da05e-d71b-4af3-8424-fe343f4fd875.png">

Please tell-me how I can do.

Regards, Vlad

[2021-09-28 14:13] dorovl commented on #816
Sorry, I found it:
![screenshot2](https://user-images.githubusercontent.com/8594515/135104609-73a24f0c-5ba2-4745-9b92-1d1e626078b4.png)

[2021-09-28 14:13] #816 closed

[2021-09-28 15:32] lutzroeder commented on #815
electron/electron#31152

[2021-09-28 16:26] m275683 opened #817 "1"

[2021-09-28 16:26] #817 closed

[2021-09-28 17:42] #815 closed

[2021-09-29 11:23] brrbaral opened #818 "Error Loading Model. "functional" is not supported in model.h5"
Hi thanks for Netron. I really like it.  I am using netron for web projects. I got this error
**Error Loading Model. "functional" is not supported in model.h5**
while loading  the model. The model is created using vgg19 transfer learning.
![image](https://user-images.githubusercontent.com/45137751/135259101-83f994db-9fe2-4dc2-bfe3-9973d4accb1c.png)
Thanks.

[2021-09-29 15:35] lutzroeder commented on #818
@brrbaral can you share the model file?

[2021-09-29 15:35] #818 closed

[2021-09-29 16:37] brrbaral commented on #818
@lutzroeder thanks for your response. Here is the model file.
https://drive.google.com/file/d/1ZUqO9TjnuraxLjFWFtJQCm9QvGSh3F46/view?usp=sharing

[2021-09-30 02:14] lutzroeder commented on #818
@brrbaral loads without error in the latest version? Note the name of the shared file is different from the screenshot.

[2021-10-01 06:17] sjain-stanford commented on #742
@lutzroeder Could you please check if visualizing this dot graph with netron would be possible to support?

[2021-10-01 11:43] lutzroeder commented on #742
@sjain-stanford can you provide code samples how `torch.fx` models are serialized to different formats? What is the "officially" recommended approach to serialize `torch.fx` models?

Can you explain why this is a problem?

[2021-10-01 18:08] sjain-stanford commented on #742
This utility is used to [generate the dot graph](https://github.com/pytorch/pytorch/blob/master/torch/fx/passes/graph_drawer.py ) from `torch.fx`'s Graph IR. See this for [example usage](https://github.com/pytorch/pytorch/blob/592481a5cc8c6d97c6e5def95789d1d9f6e818d9/torch/fx/experimental/fx_acc/acc_utils.py#L86). At the moment (because netron doesn't support visualizing this directly), they use t

[2021-10-02 02:35] lutzroeder commented on #742
@sjain-stanford a better approach would be to write another script to serialize the graph into an ONNX container (or any other generic format used for deep learning that is already supported). ONNX allows for any operator type or attribute set to be stored similar to the shared `.dot` file.

[2021-10-02 06:51] HappyAIWalker opened #819 "How to export all weight with netron"

[2021-10-02 06:52] HappyAIWalker commented on #819
I can open a pdparams with netron, but how can I export the weight? If is it possible export all the weight with several line code by netron. Hoping for your reply.

[2021-10-02 15:21] lutzroeder commented on #819
Duplicate of #450

[2021-10-02 15:21] #819 closed

[2021-10-03 00:55] minrui-hust commented on #275
does netron support editing now?

[2021-10-05 04:01] dstampher opened #820 "winget install netron "Multiple packages found matching input criteria. Please refine the input.""
- Netron app and version:
N/A

- OS and browser version:
Edition	Windows 10 Home
Version	20H2
Installed on	‎9/‎26/‎2020
OS build	19042.1237
Experience	Windows Feature Experience Pack 120.2212.3530.0

Steps to Reproduce:

1.  Open windows CLI
2.  execute the command "winget install netron"

Note:  executing the command "winget install LutzRoeder.Netron" works.

[2021-10-05 05:55] sjain-stanford commented on #742
@lutzroeder thanks for the suggestion & consideration.

[2021-10-05 11:05] lutzroeder commented on #820
microsoft/winget-cli#1523

[2021-10-05 14:36] docongminh opened #821 "TorchScript: Order operators in output network"
Dear author, I have a question about order output of my network ?
In image 1: my output network order to get node value are `pre_yaw, pre_pitch, pre_roll`. But when i convert my model to ncnn and visualize by netron i got  3 nodes as same as image 2. I don't know order of output same as `pre_yaw, pre_pitch, pre_roll` in image 1 is. Can't anyone help me explain this problem ? thank you
- Image 1:
<

[2021-10-06 03:10] lutzroeder commented on #821
@docongminh can you share a sample model file.

[2021-10-06 03:13] #821 closed

[2021-10-06 04:04] docongminh commented on #821
@lutzroeder  My model used from [deep-head-pose](https://github.com/natanielruiz/deep-head-pose) by Nataniel Ruiz. And convert step by step as same as ncnn guide:

1. [Pytorch->Onnx](https://github.com/Tencent/ncnn/wiki/use-ncnn-with-pytorch-or-onnx).
2. [Onnx -> Ncnn](https://github.com/Tencent/ncnn/tree/master/tools/onnx)
3. [Optimized Model](https://github.com/Tencent/ncnn/wiki/use-ncnnoptimize

[2021-10-09 11:38] GeorgeS2019 opened #822 "Support grouping of Transformer Architecture Encoder-Decoder building blocks"
The more complex transformer architecture (e.g. from ONNX) consists of a stacking of either encoder or decoder building blocks.  It will help if the Netron community can feedback how to make such complex graph network more intuitive to visualize with an overview of these building blocks.

Ideally these higher level building blocks are defined within the ONNX during export.

Is there graph layout m

[2021-10-09 14:39] lutzroeder commented on #822
Duplicate of #68

[2021-10-09 14:46] #822 closed

[2021-10-09 19:27] #820 closed

[2021-10-11 03:44] fefe982 opened #823 "Netron stops displaying shapes along the lines"
- Netron app and version:
5.2.8 Windows Desktop installer version
- OS and browser version:
Windows 10

Steps to Reproduce:
Netron stops displaying the shape along the lines.
I check 5.2.7 and the shapes can display correctly.

[2021-10-11 04:39] #823 closed

[2021-10-11 14:30] jamesben6688 opened #824 "fold and unfold a block or a stack of layers"
Hello, thank you for your great work.

I wonder if you can provide a feature, where we can fold or unfold a block, for example, we may want to fold a bottleneck block, or a stack of same layers. Usually the neural network is very long, so if we can fold a block, we can have a better understanding of the whole network.

In addition, it would be better if the output size of each layer can be present

[2021-10-11 17:41] lutzroeder commented on #824
@jamesben6688 can you share a sample file?

[2021-10-11 17:43] #824 closed

[2021-10-13 03:00] thelou1s opened #825 "please support pytorch mobile(.ptl), thx"
please support pytorch mobile(.ptl), thx.

nothing more to say, great work until now...

[2021-10-13 03:01] #825 closed, assigned to nobody

[2021-10-13 16:41] AlexRibard opened #826 "Ability to search for operator"
It might be a regression, but in previous versions I think we could search for a given operator (let's say `Conv`) and the search bar would show the list of layers which are of that operator type.
If not, it would be nice to be able to do that

[2021-10-13 16:42] lutzroeder opened #827 "PyTorch Mobile support"
[alexnet.ptl.zip](https://github.com/lutzroeder/netron/files/7340000/alexnet.ptl.zip)
[wav2vec2.ptl.zip](https://github.com/lutzroeder/netron/files/7447547/wav2vec2.ptl.zip)

[2021-10-13 16:55] #826 closed, assigned to nobody

[2021-10-14 02:34] apivovarov opened #828 "4294967295 instead of -1 for pbtxt models"
Netron version 5.2.9 (on Mac or online at https://netron.app/)
model.pbtxt
[code]

-1 displayed as 4294967295

the same model saved NOT as text (`tf.io.write_graph(..., as_text=False)`) shows -1 correctly

[2021-10-14 03:12] #828 closed

[2021-10-14 11:56] wang-kangkang opened #829 "Force automatic update"
Why set up forced automatic updates???

[2021-10-14 18:45] lutzroeder commented on #829
Duplicate of #243

[2021-10-14 18:45] #829 closed

[2021-10-18 09:08] fdwr opened #830 "Please keep Find dialog panel open"
When I have a dozen search results to look through, closing the panel and needing to press Ctrl+F & click for each one becomes tedious. Keeping the panel open would be preferred for me (more expedient and less jarring in the UI) because often I need to search for a series of node names, but if you prefer to close it by default, then I propose a checkbox. Thanks.

![image](https://user-images.githu

[2021-10-19 02:30] #830 closed, assigned to nobody

[2021-10-20 03:04] jnulzl opened #831 "Export: Caffe to ONNX"
Netron could visual ONNX, TensorFlow Lite, Keras, Caffe format and so on

Hope to support "save as"  function, such as:  from caffe save as to onnx
and even from one of {caffe, onnx, mnn, ncnn, tflite} to one of {caffe, onnx, mnn, ncnn, tflite}

[2021-10-20 04:21] lutzroeder commented on #831
Duplicate of 415

[2021-10-20 04:21] #831 closed

[2021-10-24 23:59] aseemw opened #832 "Core ML: Cannot read properties in "Manifest.json""
- Netron app and version:  5.3.1
- OS and browser version:   macOS Big Sur (11.1), Safari

Steps to Reproduce:

1. See attached file. It is generated by

[code]

<img width="673" alt="netron_error" src="https://user-images.githubusercontent.com/7546478/138618011-10889d20-578e-46d7-8635-09d5eaaccadf.png">

[lstm_model.mlpackage.zip](https://github.com/lutzroeder/netron/files/7406463/lstm_model.mlpa

[2021-10-29 01:18] fefe982 opened #835 "Netron does not display dynamic shapes along the lines"
- Netron app and version:
5.3.1 destop installer version
- OS and browser version:
Windows 10

Steps to Reproduce:
Netron only displays shape with fixed demension (like `2 x 768`), but does not display dynamic dimensions （like `batch x sequence x 768`)

Please attach or link model files to reproduce the issue if necessary.

[2021-10-29 01:19] #835 closed, assigned to nobody

[2021-10-30 21:12] lutzroeder commented on #825
Duplicate of #827

[2021-10-31 02:35] #827 closed

[2021-11-01 03:29] fefe982 commented on #835
I created a simple onnx graph, the this is the graph rendered by v5.2.7:
<img width="387" alt="pic_5 2 7" src="https://user-images.githubusercontent.com/3244578/139617710-c1aceaee-dd04-40b6-b04e-4a8da2c8fbe6.png">
This is the one rendered by v5.3.3. All dynamic dimensions are missing here
<img width="387" alt="pic_5 3 3" src="https://user-images.githubusercontent.com/3244578/139617716-6de74985-a73

[2021-11-01 16:28] awsomecod opened #836 "TensorFlow: Memmapped support"
The deepspeech project produce a model in pbmm format:

https://github.com/mozilla/DeepSpeech/releases/download/v0.9.3/deepspeech-0.9.3-models.pbmm

Does Netron support pbmm?

I changed the extention pbmm to pb and gave the result to Netron. But I received this error: Unsupported file content.

[2021-11-01 23:00] Jeremalloch opened #837 "PyTorch visualization fails with torch.jit.script, but works with torch.jit.trace"
- Netron app and version: 5.3.1 (as pip package)
- OS and browser version: macOS 11.4

I have a relatively basic CNN (conv2d, concat, add, batch norm and relu) in PyTorch.  When I trace the model with torch.jit.trace Netron visualizes the model, but with torch.jit.script Netron is unable to visualize it (with error "Error loading Python module. Unsupported function 'torch.conv2d' ").  I know in a

[2021-11-02 02:12] #836 closed

[2021-11-02 02:12] lutzroeder commented on #836
@awsomecod please submit pull requests to fix any remaining issues.

[2021-11-02 02:27] #837 closed

[2021-11-03 01:12] lutzroeder opened #838 "TensorFlow: Unknown function 'X'"
[graph_missing_function.pbtxt.zip](https://github.com/lutzroeder/netron/files/7464813/graph_missing_function.pbtxt.zip)

[2021-11-03 01:47] #838 closed

[2021-11-03 14:20] marklam opened #839 "ML.NET: Unknown loader signature 'NAReplaceTransform' on load"
- Netron for Windows, 5.3.3
- Windows 11 + Edge 95
- Visual Studio 2022 preview ML.NET component

Steps to Reproduce:

1. Generate a prediction model with the ML.NET addin
2. Open the model with Netron
[code]
This is the model file, from the first time I've used ML.NET (and it's from the 2022 preview bits) so I've no idea whether the model is OK, but here's the file:
[MLModel1.zip](https://github.

[2021-11-03 15:17] marklam commented on #839
(Just checked with the Visual Studio 2019 ML.NET add-in, and the result is the same)

[2021-11-04 01:33] lutzroeder commented on #790
@glistening are there any `circle` sample model files available?

[2021-11-04 01:47] fefe982 commented on #835
Thank you for fixing this.

However, I see there is a length limit of 16. The actual content can easily exceed 16 when we use meaning names for the dimension, for example: "batch x sequence x 768", or "2 x batch x 12 x sequence x 64". There are many similar shapes in my actual graph.

This limitation does not exist prior to 5.2.7

[2021-11-04 01:47] #839 closed

[2021-11-04 09:55] liziru commented on #301
@lutzroeder  It's necessary to view the total number of models.

[2021-11-05 07:37] glistening commented on #790
@lutzroeder
I can only found our circle models in `ONE` are  in `.reipe` format. (our internal text format). Thus, I attach here some samples - [circle_model_samples.zip](https://github.com/lutzroeder/netron/files/7481360/circle_model_samples.zip).  Each model has only 1 operator. If you want bigger model, I will put more models.

[2021-11-06 03:00] lutzroeder commented on #790
[circle_model_samples.zip](https://github.com/lutzroeder/netron/files/7489768/circle_model_samples.zip)

[2021-11-06 03:13] lutzroeder commented on #790
@glistening after looking at this some more it is not clear why Circle has forked the TensorFlow Lite format to an essentially identical yet outdated and incompatible variant without clear benefits. The right course of actions seems to be for Circle to work towards adopting a more recent version of the TensorFlow Lite format?

[2021-11-06 05:57] glistening commented on #790
@lutzroeder Thank you for your comment! I appreciate your suggestion and your time.

`ONE` project has started as closed source a few years ago before it is open-sourced under the name of `ONE` . At the beginning, we don't want to create from scratch. We've chosen the most recent version of tflite schema at that time. Then, we've added or modified several things including operators, quantization a

[2021-11-07 03:42] lemmaa commented on #790
@lutzroeder , Thank you for your continued interest and help. In fact, we have already started working on it. https://github.com/Samsung/ONE/issues/7589 However, due to some compatibility issues between recent versions of TensorFlow and our internal release schedule, it has been delayed for a while. We expect to be able to start again soon. :)

[2021-11-08 01:26] MonTer998 commented on #549
hi i have a model converted from pytorch i was using netron normally for few days and today i recive this message whenever i try to open it again.
![image](https://user-images.githubusercontent.com/93642193/140670578-5f0ff505-8274-48ed-a04e-81f6c5fd2d04.png)

[2021-11-08 08:45] marklam commented on #839
Thanks!

[2021-11-10 13:58] YSunLIN opened #840 "Tensorflow pb highlighting is dead"
- Netron app and version: 5.3.4

just open https://netron.app/?url=https://raw.githubusercontent.com/srom/chessbot/master/model/chessbot.pb

the highlighting and the auxiliary information of operators is gone

![image](https://user-images.githubusercontent.com/9075222/141125739-4a127074-b6d4-4919-9381-fda4f470b090.png)

[2021-11-10 14:18] YSunLIN commented on #840
Btw, why are all older release versions  deleted?

[2021-11-10 16:33] #840 closed

[2021-11-10 18:52] YSunLIN commented on #840
That's very fast. Thx :)

[2021-11-14 21:31] lutzroeder opened #842 "TorchScript support"
[code]

**Examples:**
[alexnet.pt.zip](https://github.com/lutzroeder/netron/files/6096605/alexnet.pt.zip)
[alexnet_traced.pt.zip](https://github.com/lutzroeder/netron/files/6096602/alexnet_traced.pt.zip)
[bert-base-uncased.pt.zip](https://github.com/lutzroeder/netron/files/7705212/bert-base-uncased.pt.zip)
[binop.pt.zip](https://github.com/user-attachments/files/22703318/binop.pt.zip)
[blitz_cifar

[2021-11-14 21:31] lutzroeder commented on #281
Duplicate of #842

[2021-11-17 13:34] lordnn opened #843 "GPU process isn't usable."
- Netron app and version: 5.3.7 Desktop app
- OS and browser version: Windows 10 20H2 - Edge

Steps to Reproduce:

1. Run

I received next output:
[16448:1117/161841.980:ERROR:gpu_process_host.cc(951)] GPU process launch failed: error_code=40
[16448:1117/161841.980:FATAL:gpu_data_manager_impl_private.cc(417)] GPU process isn't usable. Goodbye.

I use Intel HD 530 graphics, driver version: 100.9864

[2021-11-18 09:45] lutzroeder commented on #843
@lordnn please investigate why this is happening. This is likely an issue related to Electron so folks in electron/electron might have some ideas how to troubleshoot.

[2021-11-18 09:45] #843 closed

[2021-11-24 02:29] qjia7 opened #844 "Error loading TensorFlow model"
- OS and browser version: <html>
<body>

Google Chrome | 96.0.4664.45 (Official Build) (64-bit)
-- | --
<html>
<body>

OS | Windows 10 Version 20H2 (Build 19042.1348)
-- | --

</body>
</html>

</body>
</html>

Steps to Reproduce:

1. Open https://lutzroeder.github.io/netron/
2. Click `Open Model` and select the model.json which is downloaded from https://storage.googleapis.com/learnjs-data/mobilen

[2021-11-24 02:38] #844 closed

[2021-11-24 06:14] LuJyKa commented on #814
+1

[2021-11-25 06:47] #651 closed

[2021-11-27 18:33] #627 closed

[2021-11-28 11:28] mervess commented on #625
Hello, I'm using _netron.app_ on Firefox-88.0 on a Linux machine. The output of `export` is more or less the same as above. Both _png_ and _svg_ exports come with huge gaps. I'm fixing them via image editing, but still have wanted to let you know the situation. A fix would have been great of course.

The one with transparency below is _png_, and the other one is the view of _svg_ file.

![png](htt

[2021-12-02 08:47] szymak opened #847 "Error opening TensorFlow PBTXT files containing Infinities and NaNs"
- Netron app and version: 5.4.0 Desktop app
- OS and browser version: Windows10

Steps to Reproduce (on Ubuntu20 in my case):

Execute simple TensorFlow code performing Addition with dumping graphs enabled.

1. Create test_add.py file with code:
`
import tensorflow as tf
import numpy as np

@tf.function
def test_op():
  return tf.math.add(np.zeros([5]), [2.3, 3.4, np.inf, -np.inf, np.nan])
print (

[2021-12-02 14:54] lutzroeder commented on #847
[netron_issue_847.pbtxt.zip](https://github.com/lutzroeder/netron/files/7642864/netron_issue_847.pbtxt.zip)

[2021-12-06 11:14] julinfn opened #848 "can netron visualize models generated by libtorch?"
I wanna compare structures of pytorch version and libtorch version, but it seems that netron do not support libtorch.

[2021-12-06 17:29] #848 closed

[2021-12-07 09:29] erelon opened #849 "Export models as graph"
At the moment - exporting supports PNG/SVG formats.

Is it possible to create an export to one/more of the "classic" graph formats (GML, GraphML, etc.)?

[2021-12-07 09:29] dalerxli commented on #849
您好！您的邮件已收到，谢谢。

[2021-12-07 14:58] julinfn commented on #848
sample code : https://github.com/AllentDan/LibtorchSegmentation
sample model:   link：https://pan.baidu.com/s/1gGcmnYpICeQJQeRbZq1NmQ
                           extract code ：abcd

[2021-12-07 19:33] lutzroeder opened #850 "Flax support"
https://github.com/google/flax

[2021-12-07 20:49] #850 closed

[2021-12-07 20:51] lutzroeder commented on #849
@erelon this is currently not a priority. Feel free to provide more context or submit a prototype. [DOT](https://en.wikipedia.org/wiki/DOT_(graph_description_language)) might be another option.

[2021-12-07 20:51] #849 closed

[2021-12-08 10:12] kkontny opened #851 "Torchvision scripted detection models doesn't work"
- Netron app and version: 5.4.1 Linux

Steps to Reproduce:
Run following Python script to export torchvision model to torchscript. (Here is example based on ssdlite320_mobilenet_v3_large but all other doesn't work too)
[code]
2. Open file with Netron.
3. Netron can't open file: AssertionError inside model.

[2021-12-08 20:26] #851 closed

[2021-12-08 20:26] lutzroeder commented on #851
@kkontny can you please investigate this further and submit a pull request.

[2021-12-09 07:05] gtvforever opened #852 "Is it possible to add an option to customize the scroll wheel behavior?"
Hello @lutzroeder ,

i'm a developer of inference optimization tool which it means i need to check the many model detail/structure every day.
The legacy version of netron supports using scroll well to zoom in/out model structure, however, this feature was replaced by scroll up/down one day after forcing update.

As there's ticket (https://github.com/lutzroeder/netron/issues/814) raised this issue

[2021-12-09 18:59] #852 closed

[2021-12-10 15:00] perone opened #853 "Question regarding privacy"
Hi, I wasn't able to find an answer for this question and also wasn't able to find another place to ask the question so I'm opening this issue to check: does Netron (when used as Desktop app in MacOS for instance) sends any information to any server or is it purely offline ? This is more a question regarding the privacy of using Netron. It would be nice if there is a section about that in the READ

[2021-12-10 16:12] lutzroeder commented on #853
The app sends error messages and file format counts to Google Analytics using `anonymizeIp`. See also #475 and #623.

[2021-12-10 16:12] #853 closed

[2021-12-12 18:26] sl-sergei commented on #549
I can reproduce this issue on https://netron.app/ with:
[code]
Torchvision 0.11.1
PyTorch 1.10.0

[Model file](https://drive.google.com/file/d/1ibWv2oJyOQnZd8jZGZiHptp_T6QjlHQz/view?usp=sharing)

[2021-12-12 23:11] lutzroeder commented on #549
@sl-sergei the file opened in both the browser app and the desktop app. What OS and browser version are you using?

[2021-12-13 14:20] sl-sergei commented on #549
For some reason, the problem does not reproduce right now. If it didn't happen before, I wouldn't find this issue topice. Sorry for the inconvenience=/

[2021-12-13 17:53] #809 closed

[2021-12-13 20:18] #789 closed

[2021-12-14 10:05] shixinlishixinli opened #854 "When using the paddle model, there is no connecting line between layers"
![image](https://user-images.githubusercontent.com/20768380/145976845-fdbb46c2-20bd-47be-a234-515ff9c756e3.png)

i use v5.4.4 and v5.4.1.
there is no connecting line between layers

[2021-12-14 14:31] lutzroeder commented on #854
@shixinlishixinli can you share repro steps and a sample file.

[2021-12-14 14:32] #854 closed

[2021-12-16 18:00] negvet opened #855 "Disconnected graph due to multiple inputs to TFLambdaLayer"
- Netron app and version: 5.4.5 Desktop app
- OS and browser version: Windows 10

Graph is visualied as disconnected (although it is working)
![image](https://user-images.githubusercontent.com/17028475/146423494-cc38081b-6b97-424c-bea8-0a9101a41303.png)
Most probably, the reason is that TFLambdaLayer inbound_nodes could have format `[['bn1', 0, 0 {'y': ['bn2', 0, 0], 'name': None}]]` for multiple

[2021-12-16 18:48] lutzroeder commented on #855
[netron_issue_855.h5.zip](https://github.com/lutzroeder/netron/files/7729736/netron_issue_855.h5.zip)

[2021-12-16 18:58] #855 closed

[2021-12-18 10:55] FrostBird347 opened #856 "Brain.js support"
[Brain.js](https://github.com/BrainJS/brain.js) allows users to [export their neural network to JSON](https://github.com/BrainJS/brain.js#json), which can be then be imported again later.
Attempting to import the exported JSON in netron fails with this error message:
[code]

Here is the JSON exported by Brain.js that produced the error above:
[code]
As I can find little information on netron's sup

[2021-12-18 10:55] FrostBird347 commented on #595
#856

[2021-12-18 16:02] lutzroeder commented on #856
@FrostBird347 couldn't find evidence this format is used broadly. Looking at the example it seems to only serialize weights without types or connections. Added an error message. Feel free to investigate this further, provide more context or a pull request.

[2021-12-18 16:02] #856 closed

[2021-12-18 20:14] lutzroeder opened #857 "Keras Pickle support"

[2021-12-18 20:44] #857 closed

[2021-12-21 09:35] perone commented on #475
This doesn't seem to be working, I'm using Netron from a country that is listed in the countries that are supposed to be given consent, however I never got that consent confirmation. I checked the return from `https://ipinfo.io` and it is correct.

[2021-12-21 17:05] lutzroeder commented on #475
@perone can you debug the issue and provide more context. Are you using the browser or desktop app?

[2021-12-22 01:45] lutzroeder commented on #540
[model_float32.h5.zip](https://github.com/lutzroeder/netron/files/7759357/model_float32.h5.zip)

[2021-12-27 10:21] AI-Hunter opened #858 "Pytorch model visualization issue?"
Can not see the connection in netron.
Would you tell me please why? it shows only module
![image](https://user-images.githubusercontent.com/94281395/147462310-f667971f-fb76-45ca-8845-4f834c9d99af.png)

[2021-12-27 14:32] lutzroeder commented on #858
Duplicate of #720

[2021-12-27 14:46] #858 closed

[2021-12-27 14:47] #450 closed

[2021-12-27 23:32] #426 closed

[2021-12-29 04:40] wangxudong-cq commented on #593
![image](https://user-images.githubusercontent.com/76459010/147627890-597525ba-12b9-4e43-85e2-5739813d0eb8.png)

[2021-12-29 05:22] lutzroeder commented on #593
@wangxudong-cq can you share the model file? How was it created?

[2021-12-29 05:59] wangxudong-cq commented on #593
sure
[output_1.zip](https://github.com/lutzroeder/netron/files/7787521/output_1.zip)
!

[2021-12-29 06:22] wangxudong-cq commented on #593
[code]

Is this problem related to raw_data or float_data?

[2021-12-29 06:25] wangxudong-cq commented on #593
@lutzroeder What does the content '1:0,2:0,4:2' mean?

[2021-12-29 09:13] ujsyehao commented on #543
@lutzroeder
Hi, the model will re-direct here, I provide model below
[model_trt.zip](https://github.com/lutzroeder/netron/files/7788094/model_trt.zip)

[2021-12-29 23:05] TwistedAlex commented on #648
https://drive.google.com/file/d/188K19ucknC6wg1R6jbuPEhTq9zoufOx4/view?usp=sharing

[2021-12-29 23:07] TwistedAlex opened #859 "RangeError: Invalid string length"
- Netron app and version:

Steps to Reproduce:

1. download https://drive.google.com/file/d/188K19ucknC6wg1R6jbuPEhTq9zoufOx4/view?usp=sharing
2. load model file named "karras2018iclr-celebahq-1024x1024.pkl"

[2021-12-30 03:18] #859 closed

[2021-12-31 02:13] wangxudong-cq commented on #593
@lutzroeder  Is there a version that can be verified?

[2022-01-01 15:27] zjeffer opened #861 "Export as PNG or SVG doesn't work"
- Netron app and version: Netron-5.4.9, the AppImage
- OS and browser version: `Arch Linux 5.15.12`, with `bspwm 0.9.10-33-ge22d0fa`

### Steps to Reproduce:

1. Load a model (I tried it with my own models and the SqueezeNet 1.0-3 sample model from README.md)
2. Go to File > Export
3. A file manager popup opens
4. Give a name to the file
5. Choose PNG or SVG
6. Click Export

The file manager popup

[2022-01-02 03:06] lutzroeder commented on #861
@zjeffer does adding a file extension to the file name resolve this?

[2022-01-02 03:06] lutzroeder commented on #861
Duplicate of electron/electron#21935

[2022-01-02 03:06] #861 closed

[2022-01-02 11:30] zjeffer commented on #861
@lutzroeder That works. I guess the issue is upstream, but they have no intention of fixing this: https://github.com/electron/electron/pull/15510

Is there no way to at least show the user an error when no extension is given, maybe in an `else` statement after this `if`: https://github.com/lutzroeder/netron/blob/main/source/view.js#L667

Because currently, there is no way to tell that it went wron

[2022-01-04 06:15] RyanShun-511 opened #862 "Setting 4 as parent of 4 would create a cycle"
Setting 4 as parent of 4 would create a cycle

[2022-01-04 11:19] lutzroeder commented on #862
@RyanShun-511 can you share an example file to reproduce this issue.

[2022-01-04 11:19] #862 closed

[2022-01-04 14:46] tdomagal opened #863 "TensorFlow: Inconsistent Placeholder detection"
- Netron app and version: 5.4.9 Desktop app
- OS and browser version: Windows 10 Enterprise

Attaching simple graph from tensorflow 2.6.2, it's collected after placer.

Graph is cotaining 2 placeholders and 2 ops on them.
Node A and B are the same type - Placeholder, and the same dtype.
Netron 5.4.9 draws them completely different style, what is more clicking to one of them points to model prop. i

[2022-01-05 05:48] lutzroeder commented on #863
@tdomagal thank you for reporting this. For context, the Placeholders are represented as graph inputs and expected to show as model inputs in the sidebar.

[2022-01-05 05:48] #863 closed

[2022-01-06 11:00] leosh64 opened #864 "Graph visualization unnecessarily wide"
For some networks, the visualization of the graph becomes unnecessarily wide. This makes it difficult to understand connections when zoomed in:

![image](https://user-images.githubusercontent.com/4062160/148372676-db4ca6d6-a757-4fe0-a59a-dbec10e46cd2.png)

Throughout the model, there is no section that would justify such a wide visualization.

Below some screenshots when zoomed out:

![image](http

[2022-01-06 13:26] KarelPeeters commented on #864
I was just about to report this as well!

For example, [yolov5n.onnx](https://github.com/ultralytics/yolov5/releases/download/v6.0/yolov5n.onnx) looks like this for me:

![image](https://user-images.githubusercontent.com/7887115/148389610-ff5d9746-7254-441f-b021-c51bea355666.png)

This width is somewhat justifiable since the final layers of the model do indeed need the width, but there is no reaso

[2022-01-06 16:22] lutzroeder commented on #864
@leosh64 @KarelPeeters can you help investigate this and suggest a fix.

dagrejs/dagre#239 has some context. The paper describing the algorithm can be found [here](https://www.semanticscholar.org/paper/Fast-and-Simple-Horizontal-Coordinate-Assignment-Brandes-Köpf/69cb129a8963b21775d6382d15b0b447b01eb1f8) and the code [here](https://github.com/lutzroeder/netron/blob/1c8316d6a99111eee8fbe91efb85913a

[2022-01-10 09:30] dragen1860 commented on #504
any solutions?

[2022-01-10 09:53] lutzroeder commented on #504
@dragen1860 can you investigate why this is happening and provide a fix?

[2022-01-10 09:53] lutzroeder commented on #504
@dragen1860 can you investigate why this is happening and provide a fix?

[2022-01-12 06:44] daodaoawaker opened #865 "TorchScript: Argument names to match runtime"
Hi, there is some questions about node's name which in pt model saved by TorchScript. I use netron to view my pt model exported by torch.jit.save()，but the node's name doesn't match with it's real name resolved by TorchScript interface. It looks like the names in pt are arranged numerically from smallest to largest，but this is clearly not the case when they are parsed from TorchScript's interface.

[2022-01-12 07:15] lutzroeder commented on #865
@daodaoawaker can you share a sample file to reproduce the issue.

[2022-01-12 11:41] daodaoawaker commented on #865
It looks like the names in pt are arranged numerically from smallest to largest, don't you think there's something wrong with that ??

[2022-01-12 11:45] lutzroeder commented on #865
@daodaoawaker which names? Can you share an example or screenshot?

[2022-01-12 11:55] daodaoawaker commented on #865
My files related about this situation all in company，can u wait for me to upload the files after I negotiate with IT colleagues tomorrow，thanks

[2022-01-13 07:47] daodaoawaker commented on #865
![b8d610f3-18d1-438a-b04f-2c2035904ee4](https://user-images.githubusercontent.com/29951128/149287510-4a591a53-aeb5-496e-a4e6-0b9b5d813467.png)

[2022-01-13 07:58] daodaoawaker commented on #865
![b8d610f3-18d1-438a-b04f-2c2035904ee4](https://user-images.githubusercontent.com/29951128/149288714-56534195-def4-42d0-8e50-e57d95e87386.png)

![8f5f898a-92f5-4f58-8b3e-86067efdbcf3](https://user-images.githubusercontent.com/29951128/149288744-022739f7-12d7-4336-bc92-4662e28d2484.png)

Hi, @lutzroeder

As shown above, the conv-op in pt model viewed by netron whose name is number 4, but the node's

[2022-01-14 05:03] lutzroeder commented on #865
@daodaoawaker there seem to be multiple options:
1. Using the variable names from TorchScript code
2. Using the identifiers the runtime allocates (is there a description available how this allocation is done)

Can you help investigate this and submit a fix?

[2022-01-14 05:03] lutzroeder commented on #865
@daodaoawaker there seem to be multiple options:
1. Using the variable names from TorchScript code
2. Using the identifiers the runtime allocates (is there a description available how this allocation is done)

Can you help investigate this and submit a fix?

[2022-01-14 12:03] daodaoawaker commented on #865
I think the first approach seems more appropriate, while the second approach is more complex and I don't yet understand the mechanics of TorchScript‘s runtime compilation.
For the first optins, The PT model is saved with the name of the first output variable as the node name. Although this has not been verified, the pt model should have done something unique to the node name during model's saving

[2022-01-15 20:22] makslevental opened #866 "Add CITATION.cff"
so that I can cite you.

https://zenodo.org/

https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files

[2022-01-15 23:32] #866 closed

[2022-01-18 11:52] enpasos opened #867 "Starting app with link to model url"
I'm so happy to have netron. Very nice tool.

Is it possible to start the browser version with providing an external model.onnx link?

The idea is to provide a link to netron app on some page that has the model url included as a parameter such that netron opens together with the model.

[2022-01-18 11:57] enpasos commented on #867
At the moment I provide links to netron.app and model separately:
https://enpasos.ai/muzero/How#onnx
I would like to improve the UX.

[2022-01-18 12:18] lutzroeder commented on #867
Duplicate of #811

[2022-01-18 12:18] #867 closed

[2022-01-18 12:25] lutzroeder commented on #867
"...for your browser the Neutron App." is a typo?

[2022-01-18 13:58] enpasos commented on #867
How cool ... works like a charm!

[2022-01-18 13:59] enpasos commented on #867
Ups ... thanx

[2022-01-18 22:19] sjain-stanford commented on #742
@lutzroeder I have something minimal working (FX graph >> ONNX container). For example:  [fx_graph.onnx.zip](https://github.com/lutzroeder/netron/files/7892701/fx_graph.onnx.zip)

At the moment, the coloring metadata seems to live inside Netron and is tied to the ONNX Operator Spec. Is it possible for us to embed this coloring info as metadata in the ONNX nodes to be rendered appropriately?

[2022-01-19 03:36] sjain-stanford opened #868 "Netron not displaying certain strings in node attributes (ONNX container)"
In the more recent versions of netron, I see an issue with node attributes (strings) not appearing. See below the same model with rendered with `5.5.3` not  showing the string attributes properly for `type` and `target`, and with an older version `5.2.7` displays the string properly.

**Bad version: 5.5.3**
![image](https://user-images.githubusercontent.com/19234106/150058766-6fad949f-74ee-497c-9b

[2022-01-19 10:24] LuisTbx opened #869 "Not exporting to PNG/SVG"
Using the SNAP version of NETRON, when exporting files no output is generated. Perhaps some missing dependency? Using an ONNX model.

Interestingly, when the export name points to an existing file the export works. Perhaps it is a permission issue.

[2022-01-19 12:22] #868 closed

[2022-01-19 12:25] lutzroeder commented on #869
Duplicate of #861

[2022-01-19 12:25] #869 closed

[2022-01-19 12:44] lutzroeder commented on #742
@sjain-stanford can't think of a straightforward way to do this. Some ideas:
* Add a `metadata_props` dictionary to [OperatorProto](https://github.com/onnx/onnx/blob/793ddeda9e2de8b71bc2d1e6d957c4e6d1274e5c/onnx/onnx-operators.proto3#L48). However, there currently isn't a way to embed [OperatorSetProto](https://github.com/onnx/onnx/blob/793ddeda9e2de8b71bc2d1e6d957c4e6d1274e5c/onnx/onnx-operators.

[2022-01-20 14:12] pbsds opened #870 "TorchScript: Unsupported function 'torch.cross'"
- Netron app and version: 5.5.3 website
- OS and browser version: Firefox 96.0 on Linux, Manjaro Gnome

## Steps to Reproduce:

1. use torch.cross in a module
2. export with torch.trace(...).save()
3. open in netron.app

## Please attach or link model files to reproduce the issue if necessary.

![image](https://user-images.githubusercontent.com/140964/150354092-cca4b07c-c44f-4a92-b468-be6d7a31c9d9

[2022-01-20 14:31] #870 closed

[2022-01-21 01:02] luchangli03 commented on #589
Is it possible to set a larger Maximum call stack size?

[2022-01-21 02:31] lutzroeder commented on #589
@luchangli03 can you share a sample file to reproduce the issue.

[2022-01-21 02:35] luchangli03 commented on #589
I have a vision transformer model that has 23359 nodes can't be opened by netron by this error, but I can't upload it.

[2022-01-21 02:37] lutzroeder commented on #589
@luchangli03 in this case you will need to investigate the issue and suggest a fix.

[2022-01-21 04:13] sjain-stanford commented on #742
Thanks @lutzroeder . Assuming we could find a way to embed it in the ONNX ModelProto, I imagine it would still require changes on Netron to pull the coloring metadata for rendering. Would you be able to support that change? If so, what info should I be embedding? Any pointers would help.

[2022-01-22 05:08] lutzroeder commented on #742
@sjain-stanford first step would be to check with ONNX folks if there is a recommended way to do this. Basically, try to standardize the ability to provide operator schemas with custom metadata into ONNX.

The workaround approach that you would have to sign up to maintain, would be embedding a JSON schema like [onnx-metadata.json](https://github.com/lutzroeder/netron/blob/main/source/onnx-metadata

[2022-01-24 05:23] Berrytart commented on #865
@Torch.jit.script  But most name are not supported...

[2022-01-24 05:38] Berrytart commented on #865
Argument would be def fun(, bar= none ):...

The standers type hierarchy than naming an binding.

[2022-01-24 05:47] Berrytart commented on #865
Try when interning a solid name starting name " or = "or/

[2022-01-24 05:47] Berrytart commented on #865
Try when interning a solid name starting name " or = "or/

[2022-01-26 04:29] lutzroeder opened #871 "kmodel support"
**[Version 3](https://github.com/kendryte/kendryte-freertos-sdk)**
[cifar10.kmodel.zip](https://github.com/lutzroeder/netron/files/7965167/cifar10.kmodel.zip)
[mbnetv1.kmodel.zip](https://github.com/lutzroeder/netron/files/8111310/mbnetv1.kmodel.zip)
[ulffd_landmark.kmodel.zip](https://github.com/lutzroeder/netron/files/8111629/ulffd_landmark.kmodel.zip)
[Maix-EMC](https://github.com/sipeed/Maix-E

[2022-01-26 12:02] lenlaw opened #872 "What's this icon and content?"
![Netron whats this](https://user-images.githubusercontent.com/35935455/151159741-bf935352-2ace-4a96-a62f-c22572651820.png)

[2022-01-26 13:48] lutzroeder commented on #872
The values of the tensor and saving them to disk as a NumPy array.

[2022-01-26 13:48] #872 closed

[2022-01-28 03:29] anklebreaker opened #873 "CoreML 5: File Not Found"
- Netron app and version:
- OS and browser version:

Steps to Reproduce:

1. Drag and drop any .mlpackage file into site

Results in 'File Not Found' error. Error occurs even with sample model EfficientB0.mlpackage used in other issues.

[2022-01-28 04:33] anklebreaker commented on #873
The mlpackage needs to be zipped first and then it appears to work

[2022-01-28 04:33] #873 closed

[2022-01-28 06:18] lutzroeder commented on #873
@anklebreaker which browser and OS are you using?

[2022-01-28 06:20] lutzroeder commented on #873
Duplicate of apple/coremltools#1219

[2022-01-28 23:51] mehdismh24 commented on #543
The model which led to this issue is attached.
Thanks in advance
[resnet18_cifar10_quantized.zip](https://github.com/lutzroeder/netron/files/7962516/resnet18_cifar10_quantized.zip)

[2022-01-29 03:04] lutzroeder commented on #864
[yolov5n.onnx.zip](https://github.com/lutzroeder/netron/files/7962856/yolov5n.onnx.zip)

[2022-02-01 19:09] mdeisher opened #874 "Search for operator by type"
Currently, search returns a list of nodes that whose names (partially) match the search term.  Sometimes, particularly with very large graphs, it would be very useful to search by operator type.  For example, suppose there is single concat operation somewhere in a graph of 500 nodes and we do not know its name since the graph was generated from the original network by some tool like OpenVINO.  We

[2022-02-03 02:17] a1trl9 opened #875 "Serving a model directory"
Hi,

Would it be helpful to support serving a model directory so that people can access models inside the directory directly like:

[code]

Would like to make a PR if it would be a useful feature.

[2022-02-03 04:57] lutzroeder commented on #875
@a1trl9 can you provide an example how this would work?

[2022-02-03 04:57] #875 closed

[2022-02-05 15:22] antifriz opened #876 "Unable to open some pytorch recursive models"
When recursive script modules are used [here](https://github.com/lutzroeder/netron/blob/1a8fce4154b5e02e9c2905c502c14f7aaabfab35/source/pytorch.js#L591
) `this._value.__parent__` is recursive. Since current object comparison is done through `JSON.stringify` it will fail.

It should be replaced with a deep comparison of the two objects, something like [this](https://stackoverflow.com/a/1144249)).

[2022-02-09 05:12] lutzroeder commented on #876
@antifriz can you provide a sample model file to reproduce this issue?

[2022-02-09 05:12] #876 closed

[2022-02-09 07:01] antifriz commented on #876
[model.pt.zip](https://github.com/lutzroeder/netron/files/8030235/model.pt.zip)

[2022-02-14 03:20] thelou1s opened #879 "Core ML: Unknown model type audioFeaturePrint"
- Netron app and version: 5.5.5 Mac Desktop app
- OS and browser version: macOS 12.1

Steps to Reproduce:

1.open with Netron Mac App
2.alert window shows:
  Unknown model type '["specificationVersion","description","audioFeaturePrint"]' in 'MySoundClassifier 2.mlmodel'.

Please attach or link model files to reproduce the issue if necessary.
[MySoundClassifier 2.mlmodel.zip](https://github.com/lut

[2022-02-14 03:21] thelou1s commented on #879
change title

[2022-02-14 04:00] #879 closed

[2022-02-14 15:35] mdeisher commented on #874
I tried it on several networks and it works as expected. Thank you, @lutzroeder !!!

[2022-02-24 11:11] cloudy-sfu opened #881 "-"
-

[2022-02-24 11:21] #881 closed

[2022-02-24 12:16] pbsds opened #882 "TorchScript: ValueError: not enough values to unpack"
- Netron app and version: web app 5.5.9?
- OS and browser version: Manjaro GNOME on firefox 97.0.1

# Steps to Reproduce:

1. use torch.broadcast_tensors
2. export with torch.trace(...).save()
3. open in netron.app

I have also gotten a `Unsupported function 'torch.broadcast_tensors'`, but have been unable to reproduce it due to this current error. Most likely, the fix for the following repro will

[2022-02-27 06:51] AlexHJH opened #883 "ONNX: textual syntax support"
noticed that `.onnxtxt` suffix has bin registered in the recent commit, will it be completely supported in the future?

network file like this
<div  align="center">
<img src="https://user-images.githubusercontent.com/30765323/155871658-af8837ab-a085-4808-95a5-8dc6c14624ab.png" width="50%" height="50%">
<div>

[2022-02-27 08:50] AlexHJH commented on #883
onnx has a new feature
(https://github.com/onnx/onnx/blob/main/docs/Syntax.md)
The syntax enables a compact and readable representation of ONNX models，like prototxt  in caffe

[2022-02-27 08:59] AlexHJH commented on #883
@lutzroeder so i think it is possible to describe the onnx network in a textual way，and visualize it

[2022-02-27 19:27] lutzroeder opened #884 "ONNX text support"
[Syntax](https://github.com/onnx/onnx/blob/main/docs/Syntax.md) - [parser.h](https://github.com/onnx/onnx/blob/main/onnx/defs/parser.h), [parser.cc](https://github.com/onnx/onnx/blob/main/onnx/defs/parser.cc)

[text_example.txt.zip](https://github.com/lutzroeder/netron/files/8190032/text_example.txt.zip)
[text_function.txt.zip](https://github.com/lutzroeder/netron/files/8189629/text_function.txt.z

[2022-02-27 20:03] lutzroeder commented on #883
@AlexHJH can you share a few more complex example files?

[2022-02-27 20:04] lutzroeder commented on #883
Duplicate of #884

[2022-02-28 01:24] gramalingam commented on #883
@AlexHJH : please note that the syntax you describe is an experimental feature of ONNX (as mentioned in the documentation). You can use the parser documented there (in C++ or python) to create a standard .onnx protobuf file which can be consumed by Netron or any other tool. It is not meant to be an interchange standard at this point, just a tool to help users easily create onnx protobuf files.

[2022-02-28 13:01] AlexHJH commented on #884
i have created a  repo to transfer onnx proto file(.onnx) to textual file, and put a mobilenetv3 within for test
[example](https://github.com/AlexHJH/onnx_text/blob/main/deploy.onnxtxt) @lutzroeder

[2022-03-02 10:38] AlexHJH commented on #883
i think it a very good idea to describe the model  in a textual syntax, but few people know it now.  in the past, i wanted to modify onnx model but hvae to go back to the code and reorganize them, maybe just a little change. but now i can modify it on the text directly after i convert it to text representation, i tried and it really work @gramalingam

[2022-03-08 14:37] KarelPeeters commented on #543
Another case where this happens:
[muzero_models.zip](https://github.com/lutzroeder/netron/files/8207040/muzero_models.zip)

[2022-03-09 15:26] JaykingLJK opened #887 "Export the model's input/output's name/type to a json file?"
Hi I would like to know if I can export the model's input/output name/type to a json file or any other txt file type.
For example after I get a model file, with this feature I can quickly get a json file with the model's input/output data.

[2022-03-09 17:50] anirudth opened #888 "Unable to view MXNet model weights"
- Netron app and version: 5.6.1 Desktop version
- OS and browser version: macOS 12.2.1 and Chrome 99

Steps to Reproduce:

1. In earlier versions of Netron (around January 2021), we could double click on an MXNet model's param files and visualized the neural network along with all of the weight values.
2. However, from version 5.6, I'm not able to see the weights in a dropdown as it shows that Ten

[2022-03-09 19:11] lutzroeder commented on #888
@anirudth can you share the model files to reproduce the issue?

[2022-03-09 19:14] lutzroeder commented on #887
@JaykingLJK this is not a supported feature. Can you describe the scenario and workflow?

[2022-03-09 19:14] #887 closed

[2022-03-09 20:57] anirudth commented on #888
Please find mobilenet models in this drive folder: https://drive.google.com/drive/folders/1qAEBhHeW64lw4tLrh1mKFOj9dCv5INnI?usp=sharing.

[2022-03-09 20:58] anirudth opened #889 "MXNet: Unable to view model weights"
Reopen #888 with repro files.

Please find mobilenet models in this drive folder: https://drive.google.com/drive/folders/1qAEBhHeW64lw4tLrh1mKFOj9dCv5INnI?usp=sharing.

_Originally posted by @anirudth in https://github.com/lutzroeder/netron/issues/888#issuecomment-1063363659_

[2022-03-10 01:39] JaykingLJK commented on #887
@lutzroeder Hi the workflow is that after opening a model using Netron, I just want to save the model properties shown in the picture as an easy-to-read file type (like json).
![image](https://user-images.githubusercontent.com/45059360/157569855-fbc8e103-9433-4ecd-a2f6-1543e97b2e89.png)

[2022-03-10 02:32] lutzroeder commented on #887
@JaykingLJK how would you be using the exported file? For example, would it make sense to write script using the actual framework that was used to produce the model file?

[2022-03-10 03:21] JaykingLJK commented on #887
@lutzroeder Hi actually it can be done if I write the script myself. I am just thinking that Netron could be better with more features. :>

[2022-03-10 03:33] #889 closed

[2022-03-11 10:06] CC-Xiaoyu opened #890 "File format is not caffe.NetParameter"
![微信图片_20220311100450](https://user-images.githubusercontent.com/57242977/157846182-9c6e65e4-ae56-4c19-9ba1-b0df5f0df066.png)

Big man help me~

[2022-03-11 14:47] chausner-audeering commented on #275
Even just basic editing support would be amazing:
- Include/exclude nodes from the list of input/output nodes
- Remove nodes

[2022-03-11 17:40] lutzroeder commented on #890
@CC-Xiaoyu can you share a sample model file?

[2022-03-11 17:40] #890 closed

[2022-03-12 19:36] #871 closed

[2022-03-12 19:36] #759 closed

[2022-03-14 00:05] Fannettembrown commented on #865
Visit Tag Manager interface for code names.

[2022-03-14 00:06] Fannettembrown commented on #864
Is your phone build with special lenses?

[2022-03-14 00:09] Fannettembrown commented on #784
TF1 is a hub format, you also can use segments model Url as well.

[2022-03-14 00:14] Fannettembrown commented on #783
There is no version level on TensorFlow from my knowledge only builds an deploy( ML) powered applications. There a generator system Phython 2.7 that a good system connection according what phone, computer or tablet your system uses for good connection accepted flow...

[2022-03-14 00:15] Fannettembrown commented on #687
Look into your system brand name setting tools an play store app.

[2022-03-14 00:18] Fannettembrown commented on #637
User archived number to your application...

[2022-03-14 00:19] Fannettembrown commented on #610
Copy paste a separate file away from your search bar

[2022-03-14 00:21] Fannettembrown commented on #350
Algorithms would be a good search for medical resource.

[2022-03-14 00:22] Fannettembrown commented on #342
Detect if there's a Library content or a ecosystem value property within your search....

[2022-03-14 00:23] Fannettembrown commented on #275
Probably short fragment symbols.

[2022-03-14 00:24] Fannettembrown commented on #204
Called a Sequential model value....

[2022-03-14 00:26] Fannettembrown commented on #68
Also check an see if your branch system has a Flutter system....

[2022-03-14 13:01] lutzroeder commented on #883
Duplicate of #884

[2022-03-14 13:01] #883 closed

[2022-03-14 13:01] #884 closed

[2022-03-18 09:24] robert-kalmar opened #891 "TensorFlow Lite: show quantization params for per-channel quantized tensor"
TensorFlow Lite format enables the filter tensor in various convolutions to be quantized in per-channel (per-axis) form. Here each 'channel' has specific quantization params (scale and zero-point).
Currently _netron_ only shows the quantization params for per-tensor quantized filters.

[2022-03-18 12:06] lutzroeder commented on #891
@robert-kalmar can you share a sample file?

[2022-03-18 12:47] robert-kalmar commented on #891
@lutzroeder , example of such a model is here: https://tfhub.dev/tensorflow/lite-model/efficientnet/lite1/int8/2 . See filter/weights details in any Conv2D or DepthwiseConv2D does not contains quantization details:
![netron-efficientdet](https://user-images.githubusercontent.com/56120470/159005373-a7268aa8-08f4-4d2e-85b2-c7781f9c0d75.png)

[2022-03-18 17:49] CarlPoirier commented on #68
Hi @lutzroeder,

I've seen there was EfficientDet-D0 mentioned in the other issue about this. It does work now, but Netron still barfs on EfficientDet-D2. [Here](https://bit.ly/3qjoUxz) is an example onnx file. I'm not very fluent in javascript, is there anything I can do quickly to get this fixed?

Thanks,

Carl

[2022-03-19 01:28] #891 closed

[2022-03-19 13:03] lutzroeder commented on #188
Duplicate of #6

[2022-03-21 10:02] leeqiaogithub commented on #882
I had a similar problem. After quantitative training, I converted  pth format model to pt format model via TorchScript. Then  open it with netron.app.
But I got the same error----"Error loading Python module. ValudError: not enough values to unpack(expected 2,actual 1) in 'model.pt' "

[2022-03-21 10:21] lutzroeder commented on #882
@leeqiaogithub can you share the model file?

[2022-03-21 11:27] leeqiaogithub commented on #882
Of course. But I couldn't upload it on Github.
It says, something went really wrong, and we can't process that file.

[2022-03-21 12:05] pbsds commented on #882
zip it

[2022-03-21 12:07] leeqiaogithub commented on #882
@pbsds that is what i did

[2022-03-21 12:10] pbsds commented on #882
https://rigorousthemes.com/blog/best-firefox-send-alternatives/

[2022-03-21 12:12] leeqiaogithub commented on #882
@pbsds By the way, have you solved the problem you mentioned earlier

[2022-03-21 12:30] pbsds commented on #882
Huh, doesn't seem so. His fix worked for the smaller repro i provided, but not my medium model:
![image](https://user-images.githubusercontent.com/140964/159261044-5074046f-48dd-4e97-88f9-dd8eef800ba0.png)
[model.zip](https://github.com/lutzroeder/netron/files/8315352/model.zip)

[2022-03-22 03:55] leeqiaogithub commented on #882
@lutzroeder The file may not be uploaded for some reason. Do you have any thoughts on this issue?

[2022-03-22 03:58] leeqiaogithub commented on #882
I tried to open your model with the latest version of the app and got the same error as in the picture.

[2022-03-22 05:31] lutzroeder commented on #882
Three different issues:
1) @leeqiaogithub need a repro file, there are many ways for `ValueError: not enough values to unpack` to happen
2) model.pt `ValueError: not enough values to unpack` is fixed
3) model.pt `Unsupported function 'torch script.broadcast_tensors'` is a different error that happens later while tracing the TorchScript code. The model has a complex input signature which the app wo

[2022-03-22 06:04] lutzroeder commented on #882
Three different issues:
1) @leeqiaogithub need a repro file, there are many ways for `ValueError: not enough values to unpack` to happen. If upload is not an option, try Dropbox/GDrive/OneDrive or share a GitHub repo?
2) model.pt `ValueError: not enough values to unpack` is fixed
3) model.pt `Unsupported function 'torch script.broadcast_tensors'` is a different error that happens later while traci

[2022-03-22 09:42] erikfurevik opened #892 "Exporting image crops out connection"
- Netron app and version: Python server via pip
- OS and browser version: Windows 10 10.0.19043 + Firefox 98.0.1

Steps to Reproduce:

1. Build U-Net model (possibly others) in pytorch.
2. Export to onnx with torch.onnx.export()
3. Import to Netron python server (works fine!)
4. Export as either svg or png, horizontal or vertical.
5. Uppermost connection is cropped from exported image.
![Unet onnx

[2022-03-22 13:36] leeqiaogithub commented on #882
[models.zip](https://github.com/lutzroeder/netron/files/8324673/models.zip)
Both models in the attachment have similar problems.

[2022-03-22 18:24] lutzroeder commented on #892
@erikfurevik can you share a model to reproduce this issue?

[2022-03-23 07:37] davids91 commented on #275
Since models can be edited through the onnx python API [e.g here](https://leimao.github.io/blog/ONNX-Python-API/), it would be a possible way of resolving this to introduce a way to run python script, and then the community could add their own scripts into the editor.

[2022-03-23 11:55] leeqiaogithub commented on #882
@lutzroeder I think I know the reason, because TorchScript doesn't support some torch's operations when quantizing. such as torch.split

[2022-03-23 13:49] erikfurevik commented on #892
Here is an example pl module.

[code]

Which gives this output for me after exporting from netron, where the uppermost connection is cropped out.
![test](https://user-images.githubusercontent.com/59777571/159713317-db8fab4d-f9d0-432e-955d-4fea133cf5dd.png)
Again it's the same for svg/png and horizontal/vertical.

Note that the model is displayed perfectly in the browser, only the export has this p

[2022-03-24 06:45] lutzroeder commented on #892
[netron_issue_892.onnx.zip](https://github.com/lutzroeder/netron/files/8339044/netron_issue_892.onnx.zip)

[2022-03-24 14:13] #892 closed

[2022-03-28 08:25] erikfurevik opened #893 "Looping network structure"
With the example code
[code]
the following output is achieved
![test](https://user-images.githubusercontent.com/59777571/160355248-67b50d3a-c1eb-4db4-bb98-51ee6355fc85.png)
but wouldn't something like this make more sense, considering it's the same network being used several times?
![loop](https://user-images.githubusercontent.com/59777571/160355263-46234e86-0cfd-402f-ae06-ccfbbac821fc.png)

My id

[2022-03-28 14:05] #893 closed

[2022-03-31 02:53] jmduarte opened #894 "QKeras: Unknown node type 'undefined'"
- Netron app and version: web app 5.6.6
- OS and browser version: macOS 11.6.1 (20G224) + Chrome 99.0.4844.83

# Details
Model is from [QKeras](https://github.com/google/qkeras) (quantization-aware training extension of Keras), which used to work in netron circa summer 2021. I'd be happy to help support this if you have some guidance for what to add to support this use case and I can make a PR. Se

[2022-03-31 03:00] #894 closed

[2022-03-31 12:42] zvika-adler opened #895 "TensorFlow: object attribute support"
- OS and browser version: Ubuntu20 + Chrome 97.0.4692.99
- Netron version 5.6.6

Steps to Reproduce:

1. Take attached file and change extension to .pbtxt (this was changed due to GitHub restrictions). This model is build by Protobuf GraphDef structure that enables func structure.
2. Load with Web Netron
3. Press on Placeholder node to view attributes.

Current behavior: OutTensorInfo parameter is

[2022-03-31 14:32] jmduarte commented on #894
Thank you!

[2022-04-03 16:58] glenn-jocher commented on #882
@lutzroeder I see this error in [YOLOv5](https://github.com/ultralytics/yolov5) TorchScript models with torch.split(). I've attached a YOLOv5n model (8MB) that reproduces the error.

I confirm torch.split() is the cause because:
[code]
[yolov5n.torchscript.zip](https://github.com/lutzroeder/netron/files/8405066/yolov5n.torchscript.zip)

[2022-04-05 16:50] bennyb18 opened #897 "documentation or instruction of running netron as a web app"
Netron currently allows downloading the electron app as a desktop application. It also has a link to the web version. I can not find any document or instruction to package, deploy and run netron as a web app. I would like to run it with our own web app. Please help.

[2022-04-06 01:28] #897 closed

[2022-04-07 13:50] ldelaoa opened #898 "PyTorch: Monai Unet does not have right architecture"
- Netron app and version: Online webapp
- OS and browser version: Google Chrome

Steps to Reproduce:

1.x class MyModule(torch.nn.Module):
    def unet(self,x):
        x =  monai.networks.nets.UNet(
        spatial_dims=2,
        in_channels=1,
        out_channels=1,
        channels=(4, 8, 16, 32, 64),
    strides=(2, 2, 2, 2),
    )
       return x
2. traced = torch.jit.trace(model, torch.ran

[2022-04-07 15:13] lutzroeder commented on #898
@ldelaoa can you share a model file and some context on what output is expected?

[2022-04-07 15:27] ldelaoa commented on #898
Sure, please find it attached as zip, because I was not able to upload it as .pt

And I was expecting something with encoding/decoding architecture, similar as images on the following links: https://opg.optica.org/getImage.cfm?img=QC5sYXJnZSxib2UtMTEtOS01MzIxLWcwMDE
https://miro.medium.com/max/1400/1*OkUrpDD6I0FpugA_bbYBJQ.png

Thanks for that quick reply

[scriptmodule.zip](https://github.com/lut

[2022-04-08 02:44] wwdok opened #899 "Can it hightlight the selected line ?"
I met such a model as below, I can not figure out the line connect to which node, if it can highlight the selected line, then we can konw what two nodes are connected, by the way, if it could highlight two connected nodes as well, it seems to be better.
![image](https://user-images.githubusercontent.com/43233772/162352012-8bdf8f0e-4721-40b9-83bb-14c8fe212bd9.png)
The model I open is:
[face_landmar

[2022-04-08 02:48] lutzroeder commented on #899
Duplicate of #181 and #610

[2022-04-08 02:48] #899 closed

[2022-04-08 07:51] NikolasMarkou opened #900 "Keras: invalid inbound connection _CONSTANT_VALUE"
5.6.7 Desktop app

5.4.0-105-generic #119-Ubuntu SMP Mon Mar 7 18:49:24 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

Steps to Reproduce:

1. Open model file
![image](https://user-images.githubusercontent.com/1175820/162390080-00d0f101-9324-46ef-aca9-ad0101e2e1e0.png)

2.

Please attach or link model files to reproduce the issue if necessary.
[model_denoise.h5.zip](https://github.com/lutzroeder/netron/

[2022-04-08 14:37] lutzroeder commented on #900
[model_denoise.h5.zip](https://github.com/lutzroeder/netron/files/8452765/model_denoise.h5.zip)

[2022-04-08 14:39] #900 closed

[2022-04-09 15:53] lutzroeder commented on #882
[model_fnet.pt.zip](https://github.com/lutzroeder/netron/files/8457286/model_fnet.pt.zip)
[yolov5n.torchscript.zip](https://github.com/lutzroeder/netron/files/8457287/yolov5n.torchscript.zip)

[2022-04-09 18:59] #882 closed

[2022-04-09 19:05] #898 closed

[2022-04-10 16:41] lutzroeder commented on #895
[netron_issue_895.pbtxt.zip](https://github.com/lutzroeder/netron/files/8459475/netron_issue_895.pbtxt.zip)

[2022-04-18 16:13] lutzroeder opened #901 "Pickle support"
[myModel.model.zip](https://github.com/lutzroeder/netron/files/8506779/myModel.model.zip)
[net.pkl.zip](https://github.com/lutzroeder/netron/files/8506780/net.pkl.zip)

[2022-04-21 12:00] deyiluobo commented on #549
I got a same error when opening a model in browser app. The OS I am using is ubuntu18. this is the model repo:https://github.com/deyiluobo/reformer2onnx_err

Torchvision 0.11.1
PyTorch 1.10.0

[2022-04-21 14:26] lutzroeder commented on #549
@deyiluobo loading `reformer2onnx.onnx` with ONNX shows an error as well?
[code]

[2022-04-22 01:12] deyiluobo commented on #549
@lutzroeder  When I execute this code(model = onnx.load("reformer2onnx.onnx")) for the first time, it will not report an error, but after I use the browser app to open the model, I will have this error(google.protobuf.message.DecodeError) when I execute the same code again.
I uploaded another model file, you can try.
repo:https://github.com/deyiluobo/reformer2onnx_err

[2022-04-22 02:01] deyiluobo commented on #549
@lutzroeder Thank you for your help! I have found my problem now. When using pycharm to download to the local, the size of the model has changed, and the original model 500M has become very small after transmission.I am now able to successfully open the model in the browser app.

[2022-04-23 20:05] #901 closed

[2022-04-24 02:52] lutzroeder opened #903 "PaddlePaddle support"
[assign.pbtxt.zip](https://github.com/lutzroeder/netron/files/5485296/assign.pbtxt.zip)
[recognize_digits_multilayer_perceptron_weights.tar.zip](https://github.com/lutzroeder/netron/files/5551009/recognize_digits_multilayer_perceptron_weights.tar.zip)
[tranformer_base.zip](https://github.com/lutzroeder/netron/files/5160568/tranformer_base.zip)
[paddle_example.zip](https://github.com/lutzroeder/net

[2022-04-24 03:27] lutzroeder commented on #198
Duplicate of #903

[2022-04-24 16:11] #903 closed

[2022-04-26 06:49] lukasberbuer opened #904 "Pass model to netron.app as base64 encoded parameter?"
Would be a great option to open local models in the browser version.

Opening models by url seems to work with: `https://netron.app/?url=<...>`
Is there are way to pass models directly as parameters, e.g. as base64 encoded strings?

[2022-04-26 14:44] lutzroeder commented on #904
URLs have a size limit. Multiple formats can not be detected from content so a file extension needs to get passed. There isn't a straightforward way to create the URL. All this would likely lead to errors. Can the same be accomplished by using the `gist` parameter? For example, https://netron.app?gist=e65799e70358c6782b1b

[2022-04-26 14:44] #904 closed

[2022-04-27 12:09] tapioho opened #905 "ONNX: Cannot load models with complex data initializers"
- Netron app and version: 5.7.4 Desktop app, 5.7.4 Website
- OS and browser version: Windows 10.0.19042 Build 19042 + Edge 100.0.1185.50 (Official build) (64-bit)

Steps to Reproduce:

1. Load a model containing complex data initializer(s)
2. An error is thrown: `Error loading ONNX model. Unsupported tensor data type '14' in 'model.onnx'.`

I believe this error is thrown here: https://github.com/l

[2022-04-28 04:46] tapioho commented on #905
[complex_init.zip](https://github.com/lutzroeder/netron/files/8579550/complex_init.zip)

Here's a small onnx model which should reproduce the error

[2022-04-28 11:05] lutzroeder commented on #905
[complex_init.onnx.zip](https://github.com/lutzroeder/netron/files/8582128/complex_init.onnx.zip)

[2022-04-28 12:04] #905 closed

[2022-04-29 07:52] sungwonida opened #906 "Show/Hide Attributes menu are reversed in their actions"
As the title says, Show/Hide Attributes menu are reversed in their actions.

I'm using Netron v5.7.4 installed by `winget install -s winget netron`.

[2022-04-29 08:41] HadiSDev commented on #543
[UnlimitedCapacity-4199584.zip](https://github.com/lutzroeder/netron/files/8589427/UnlimitedCapacity-4199584.zip)
From ml-agents. Also not workin

[2022-04-30 01:14] #906 closed

[2022-05-06 02:24] thelou1s opened #907 "pt file showed a chaos picture on complex model"
Netron v5.7.3 + .pt + MacOs show blow picture, I don't know why but maybe more comprehensible  is better:

<img width="286" alt="image" src="https://user-images.githubusercontent.com/5654770/167056273-85cf9ef1-a9d3-4162-b1ba-b065a0a6e0e5.png">
[pytorch_mobile.pt.zip](https://github.com/lutzroeder/netron/files/8637166/pytorch_mobile.pt.zip)

[2022-05-06 03:03] thelou1s commented on #907
I checked the web version, It is just fine.

[2022-05-06 03:06] thelou1s commented on #907
Sorry, macOS v5.7.6 is fine too, gr8 work. so I'll close this post.

[2022-05-06 04:14] #907 closed

[2022-05-07 21:40] lutzroeder commented on #836
[output_graph.pbmm.zip](https://github.com/lutzroeder/netron/files/8645971/output_graph.pbmm.zip)

[2022-05-09 05:55] cymbidium-lan opened #908 "PyTorch: File does not contain root module or state dictionary"
- Netron app and version: 5.7.8 Desktop app
- OS and browser version: Windows 10

Steps to Reproduce:

1.It doesn't work when I open my model
[final_89.zip](https://github.com/lutzroeder/netron/files/8649060/final_89.zip)

[2022-05-10 02:19] #908 closed

[2022-05-11 07:16] pvardanis opened #909 "Keep older versions in PyPI"
I work for a company where we use Netron for model visualization. We've realized twice so far that when a new version is released the old ones are removed from PyPI. That creates huge issues to our production pipeline and we have to upgrade each time Netron version in order for the pipeline to work. Is there a reason behind this? Would you consider keeping older versions in PyPI?

[2022-05-11 14:19] #909 closed

[2022-05-14 09:21] mollon650 opened #910 "Slicing expected array in 'opt_xx.pt'."
- Netron app and version: 5.7.9
- OS and browser version: macos 12.3

Steps to Reproduce:

1.got Slicing expected array  error when open the torch pt file

[2022-05-14 20:23] lutzroeder commented on #910
@mollon650 can you share a sample file to reproduce the issue?

[2022-05-14 20:23] #910 closed

[2022-05-17 07:26] allenhsu6 commented on #546
Unsupported function 'torch.cat'

the pt file link :

https://lyft-l5-datasets-public.s3-us-west-2.amazonaws.com/models/urban_driver/BPTT.pt

[2022-05-17 07:52] mollon650 commented on #910
https://drive.google.com/file/d/1vZiVxO5YDu4H2Ux_A6NcKLF959Mw-A0M/view?usp=sharing model is here， u can download it and test

[2022-05-18 01:36] lutzroeder commented on #546
[BPTT.pt.zip](https://github.com/lutzroeder/netron/files/8712572/BPTT.pt.zip)

[2022-05-18 05:45] mollon650 opened #911 "Slicing expected array in 'opt_xx.pt'."
Netron app and version: 5.7.9
OS and browser version: macos 12.3
Steps to Reproduce:

1.got Slicing expected array error when open the torch pt file
https://drive.google.com/file/d/1vZiVxO5YDu4H2Ux_A6NcKLF959Mw-A0M/view?usp=sharing model is here， u can download it and test @lutzroeder

[2022-05-18 09:10] lutzroeder commented on #911
Duplicate of #910

[2022-05-18 09:10] #911 closed

[2022-05-18 19:37] nrudakov opened #912 "netron.stop() never returns (Python package)"
Netron version: 5.8.0
Python version: 3.9.12
OS: Windows 10 Pro build 19044.1706
Steps to reproduce:
1. Run the script with the following content:

[code]

Expected behavior:
1. netron.stop(...) returns
2. 'Stopped' get printed
3. Script execution finishes

Actual behavior:
1. netron.stop(...) never returns
2. 'Stopped' is not printed
3. Script is running forever

Looks like server is stopped but

[2022-05-19 02:17] lutzroeder commented on #912
@nrudakov can you investigate why this is happening with your computer and suggest a fix?

[2022-05-19 02:17] #912 closed

[2022-05-19 17:34] bryanloz-xilinx commented on #243
Auto update breaks my functionality every time...

Please give us option to disable the update...

[2022-05-20 10:00] mollon650 opened #913 "PyTorch: Slicing expected array"
Netron app and version: 5.7.9
OS and browser version: macos 12.3
Steps to Reproduce:

1.got Slicing expected array error when open the torch pt file,
https://drive.google.com/file/d/1vZiVxO5YDu4H2Ux_A6NcKLF959Mw-A0M/view?usp=sharing model is here，
i test it and  u can access it and download it and test @lutzroeder

[2022-05-20 21:35] fdwr opened #914 "ONNX: TypeProto optional_type support"
Netron fails to load this model [test_optional_get_element.zip](https://github.com/lutzroeder/netron/files/8744935/test_optional_get_element.zip) from the [ONNX backend test suite](https://github.com/onnx/onnx/blob/main/onnx/backend/test/data/node/test_optional_get_element/model.onnx) containing an [`OptionalGetElement-15` operator](https://github.com/onnx/onnx/blob/main/docs/Operators.md#Optional

[2022-05-21 02:11] lutzroeder commented on #914
[optional_type.onnx.zip](https://github.com/lutzroeder/netron/files/8746170/optional_type.onnx.zip)

[2022-05-21 02:16] #914 closed

[2022-05-21 04:00] fdwr commented on #914
Wow, fast.

[2022-05-21 15:47] lutzroeder commented on #913
[opt_xx.pt.zip](https://github.com/lutzroeder/netron/files/8747908/opt_xx.pt.zip)

[2022-05-21 15:49] lutzroeder commented on #910
Duplicate of #913

[2022-05-21 15:49] lutzroeder commented on #911
Duplicate of #913

[2022-05-21 16:23] lutzroeder commented on #913
Duplicate of pytorch/pytorch#48525

[2022-05-21 16:23] #913 closed

[2022-05-21 20:46] lutzroeder commented on #552
[recognize_digits_multilayer_perceptron_model.zip](https://github.com/lutzroeder/netron/files/4985730/recognize_digits_multilayer_perceptron_model.zip)
[ch_ppocr_mobile_v2.0_det_infer.zip](https://github.com/lutzroeder/netron/files/8748319/ch_ppocr_mobile_v2.0_det_infer.zip)

[2022-05-21 20:54] lutzroeder commented on #552
[recognize_digits_multilayer_perceptron_model.zip](https://github.com/lutzroeder/netron/files/4985730/recognize_digits_multilayer_perceptron_model.zip)
[ch_ppocr_mobile_v2.0_det_infer.zip](https://github.com/lutzroeder/netron/files/8748319/ch_ppocr_mobile_v2.0_det_infer.zip)
[critic.pdparams.zip](https://github.com/lutzroeder/netron/files/8748332/critic.pdparams.zip)

[2022-05-25 04:30] skyline75489 opened #915 "Unsupported 'torch.ne' expression type"
- Netron app and version:  5.8.1 Desktop app
- OS and browser version:  Windows 11 10.0.22621.1

Steps to Reproduce:

1. Opens torchtext models XLMR_BASE_ENCODER and ROBERTA_BASE_ENCODER
2.

Please attach or link model files to reproduce the issue if necessary.

I don't know how I can attach the model file, but you can easily get the model using:

[code]

[2022-05-25 12:57] lutzroeder commented on #915
Duplicate of https://github.com/pytorch/pytorch/issues/48525

[2022-05-25 12:57] #915 closed

[2022-05-25 21:09] goelbenj opened #916 "TensorFlow: Unsupported attribute value type"
When trying to load a .pb I am getting the following error:

![image](https://user-images.githubusercontent.com/59181809/170367669-c3be2b68-5f58-41f5-9458-13cd11e8fa8d.png)

I know that this model opens properly with release v.5.6.9 so maybe you can re-create that release? That would be great

[2022-05-26 14:16] lutzroeder commented on #916
@goelbenj can you share a model file to reproduce the issue?

[2022-05-26 14:16] #916 closed

[2022-05-27 01:14] lutzroeder opened #917 "Cambricon support"
**Examples:**
[deepsort_4c4b_bgr_270_v140.cambricon.zip](https://github.com/lutzroeder/netron/files/8783170/deepsort_4c4b_bgr_270_v140.cambricon.zip)
[SR_face_x3_530x530.cambricon.zip](https://github.com/lutzroeder/netron/files/8783172/SR_face_x3_530x530.cambricon.zip)

[2022-05-27 01:18] #917 closed

[2022-05-30 08:44] XYz-dev-max commented on #549
Hello, I have a question using this project, likes this error, my onnx file can loaded by onnx as
![image](https://user-images.githubusercontent.com/61358218/170953794-fb496784-5358-4bc6-beb4-45984d3c5db3.png)

[2022-05-30 11:25] lutzroeder commented on #549
@XYz-dev-max can you share the model file?

[2022-05-31 08:11] skyline75489 opened #918 "PyTorch: Dimension out of range"
- Netron app and version:  5.8.1 Desktop app
- OS and browser version:  Windows 11 10.0.22621.1

Steps to Reproduce:

1. Open saved torchaudio models
2.

Model produced by the following script:

[code]

[2022-05-31 15:24] goelbenj commented on #916
The change in behavior come from [this commit](https://github.com/lutzroeder/netron/commit/e4e4740e49db0acb7162810191b744470dc60996) (message get changed latter)
Where unknow case are no more ignored, but generate errors.

Can this be reverted?

[2022-06-01 01:30] lutzroeder commented on #916
@goelbenj what is the root cause for the invalid attribute? Please share a repro file and how it was created.

[2022-06-01 21:44] diviramon commented on #916
I am also seeing the same issue. I have attached a sample graph (I had to zip it since GitHub does not support the pb format).
[graph.pb.zip](https://github.com/lutzroeder/netron/files/8818946/graph.pb.zip)

[2022-06-02 02:43] lutzroeder commented on #918
[WAV2VEC2_BASE_quant-none-cpu.pt.zip](https://github.com/lutzroeder/netron/files/8820082/WAV2VEC2_BASE_quant-none-cpu.pt.zip)

[2022-06-02 02:45] #918 closed

[2022-06-02 03:30] skyline75489 commented on #918
Thanks a lot for the quick response! Really appreciate it :)

[2022-06-04 12:01] hannan72 opened #919 "Load very large language model with netron"
Hi all,

What I need is the ability to visualize the onnx file of large language models (specifically GPT like models) with netron. The only thing I need is to see the interconnections and also the input and output names of layers. Currently, my computer's RAM memory is less than the memory needed for loading this model and on the other hand, I do not need the much detail that existed in those mod

[2022-06-04 12:10] lutzroeder commented on #919
Option 1: Find a computer with enough memory, load the model, strip the weights, save
Option 2: Write an incremental protobuf reader/writer that can do the same without requiring the file to be fully loaded
Option 3: Provide a pull request to support doing this on the fly in Netron
Option 4: ...

[2022-06-04 12:10] #919 closed

[2022-06-06 15:23] pbsds opened #920 "TorchScript: Unsupported function 'torch.broadcast_to'"
- Netron app and version: website 5.8.5
- OS and browser version: Firefox 100.0.2 on Linux 5.15.41-1-MANJARO

# Steps to Reproduce:

1. use `torch.broadcast_to` or `torch.Tensor.broadcast_to` in a module
2. export
3. load in Netron

# Please attach or link model files to reproduce the issue if necessary.

![image](https://user-images.githubusercontent.com/140964/172191399-fa340555-7af4-4dd1-a5f8-0

[2022-06-07 20:46] yashnv opened #921 "ONNX: support for files not using .onnx extension"
- Netron app and version: 5.8.5 Desktop app
- OS and browser version: Ubuntu 20.04.4, Firefox 101.0

I have a model named as `resnet.onnx.dla` and it can't be loaded by netron, but if I rename it as `resnet.dla.onnx` it works.

Does Netron need extensions to correctly infer what type of model it is?

[2022-06-08 01:15] lutzroeder commented on #921
ONNX, TensorFlow and Caffe2 all use binary [Protocol Buffers](https://developers.google.com/protocol-buffers) which do not have way to definitively determine the format and schema from content. Is there a reason to use `.onnx.dla` instead of `.dla.onnx` if the format is ONNX?

[2022-06-08 01:15] #921 closed

[2022-06-08 01:24] lutzroeder commented on #920
Duplicate of #637

[2022-06-08 01:24] #920 closed

[2022-06-15 08:28] KukhoHeo opened #922 "The Attributes is not modified?"
Hi, i just have one question.

I hope to see "dtype" in the graph.

but , View -> Show Attributes is not work.

If possible, can someone tell me how to do it?

[2022-06-15 14:11] #922 closed

[2022-06-24 02:29] FengMu1995 opened #924 "PyTorch: ValueError: not enough values to unpack"
Steps to Reproduce:

1. when I use netron to view the torchscript model, it reports as following:
"Error loading Python module. ValueError: not enough values to unpack (expected 2, actual 0)"
I convert to torchscript by torch.jit.script()

[model.zip](https://github.com/lutzroeder/netron/files/8972755/model.zip)

[2022-06-25 01:00] #924 closed

[2022-07-02 01:21] lutzroeder opened #926 "DaVinci: Unsupported attribute type"
Please provide steps or model files to reproduce this issue.

[2022-07-08 22:52] srjoglekar246 opened #927 "Core ML: TypeError undefined is not an object"
Using coremltools' latest `compression_utils` to post-training compress a model causes Netron to throw an error. The main property that's different about these models is the presence of `constexpr` ops (like `constexpr_affine_dequantize` in quantization example below) & compressed weights (like 8-bit ints in quantization)

- Netron app and version: 5.9.1 Web app
- OS and browser version: macOS 12

[2022-07-09 01:09] #927 closed

[2022-07-09 01:10] lutzroeder commented on #927
@[znation](https://github.com/znation)

[2022-07-09 01:11] lutzroeder opened #928 "PyTorch: torch.package support"
This is tracking [torch.package](https://pytorch.org/docs/stable/package.html) support.

See #720 for PyTorch support.

Sample files:
[DCGAN2.pt.zip](https://github.com/lutzroeder/netron/files/9075628/DCGAN2.pt.zip)
[resnet34.pt.zip](https://github.com/lutzroeder/netron/files/9075629/resnet34.pt.zip)
[v3_1_ru.pt.zip](https://github.com/lutzroeder/netron/files/9075630/v3_1_ru.pt.zip)
[multi_return.

[2022-07-10 06:40] znation commented on #927
@lutzroeder Though the code change looks good to me, please note that I no longer work at Apple, so if you do want official eyes on it @aseemw might be a better reviewer. Thanks!

[2022-07-11 18:07] srjoglekar246 commented on #927
Verified that this works now. Thanks @lutzroeder !

[2022-07-13 10:53] pfk-beta opened #929 "Group source files"
First of all thanks for wonderfull tool:)

I plan to integrate netron to my personal project. I would like to deploy netron to docker, and k8s. Becase there is no such example, I started reading the source code.

My first idea, is to group files from `source` directory, I mean there are a lot of json, js and py files, would be great to group them in separate folders for easier maintenance.

My sec

[2022-07-13 16:13] #929 closed

[2022-07-14 15:13] Amur-Pal commented on #589
Has a fix to this problem been found?

[2022-07-15 04:23] lutzroeder commented on #589
@Amur-Pal can you share a model file to reproduce the issue?

[2022-07-15 07:20] Amur-Pal commented on #589
File was too big for Github, here's a drive [link](https://drive.google.com/file/d/1K8JvY9SXtRyLHruXnKflbpKYNPANRv_-/view?usp=sharing).

[2022-07-18 11:38] dingusagar opened #930 "TorchScript: Unsupported function 'ops.neuron.forward_v2_1'"
Compiled resnet pytorch model using aws neuron (https://docs.aws.amazon.com/dlami/latest/devguide/tutorial-inferentia-pytorch-neuron.html)

[code]
But when tried to visualise the model using netron, was getting the following error.

![image](https://user-images.githubusercontent.com/12700858/179503083-59cf0955-723f-4d03-9fbd-4615f866a87f.png)

[2022-07-19 01:05] #930 closed

[2022-07-19 06:28] dingusagar commented on #930
thanks for the fix. Is this change released? if not, how can I install the version that has this change.

[2022-07-19 23:50] SolomidHero opened #931 "TorchScript: Unsupported function `torch.as_strided`"
- Netron app and version: 5.9.2
- OS and browser version: MacOS 12.3.1 and Chrome Version 103.0.5060.114 (Official Build) (x86_64)

<img width="443" alt="Screenshot 2022-07-20 at 01 47 46" src="https://user-images.githubusercontent.com/28161779/179866698-7770c4ae-a36c-443f-bb30-002a860847e7.png">

Steps to Reproduce:

1. Create model (it uses torch.as_strided)

[code]

2. run from cli:
[code]

[2022-07-20 01:14] lutzroeder commented on #931
@SolomidHero can you please provide a file to reproduce to issue. The script doesn't run.

[2022-07-20 01:14] #931 closed

[2022-07-20 06:55] Klanly commented on #928
Can you take a look with this one?
[min-dalle-bart-dec_mini.pt.zip](https://github.com/lutzroeder/netron/files/9147239/min-dalle-bart-dec_mini.pt.zip)
(weights (data/xxx) are nulled, otherwise it's 890MB)
netron.app says exp_() not support.

[2022-07-20 11:11] harry-stark commented on #589
@lutzroeder This [file](https://huggingface.co/joeddav/xlm-roberta-large-xnli/blob/main/tf_model.h5) also produces the issue, I checked it with Netron==5.9.4.

[2022-07-20 13:28] lutzroeder opened #932 "TorchScript: Unsupported function 'torch.exp_'"
[min-dalle-bart-dec_mini.pt.zip](https://github.com/lutzroeder/netron/files/9147239/min-dalle-bart-dec_mini.pt.zip)
(weights (data/xxx) are nulled, otherwise it's 890MB)
netron.app says exp_() not support.

[2022-07-20 13:31] #932 closed

[2022-07-21 04:27] #589 closed

[2022-07-21 14:20] Amur-Pal commented on #589
The error has disappeared but now nothing shows up after a long time of waiting...

[2022-07-21 14:41] Meteorrrrr opened #933 "Unsupported tensor type "{}""
I'm using netron to visualize the onnx. The onnx file is from pytorch. But there is a bug that says "Unsupported tensor type "{}"".

[2022-07-21 14:59] lutzroeder commented on #933
@Meteorrrrr can you share a model file to reproduce the issue.

[2022-07-21 14:59] #933 closed

[2022-07-23 08:38] Meteorrrrr commented on #933
Thank you for solving this problem.

[2022-07-23 09:12] dyxer opened #934 "see nothing"

[2022-07-23 09:14] dyxer opened #935 "when i put the onnx modelinto the netron ,it show nothing"

[2022-07-23 14:06] yuenherny commented on #935
Hi, consider providing more information so that the community could reproduce the error and assist you with rectifying it.

Thank you!

[2022-07-23 14:49] #934 closed

[2022-07-23 14:50] #935 closed

[2022-07-24 16:23] vjsrinivas commented on #275
This could be helpful for anyone looking for something similar: https://github.com/ZhangGe6/onnx-modifier
It builds on top of Netron.

[2022-07-25 21:55] EricWiener commented on #549
I saw this issue after using `cp` to copy an ONNX engine. The copied engine failed to load in Netron with this error, but the original file loaded correctly. When I diffed the hex of the two files, the copied engine (which failed to load) had an additional `0A` at the end (line feed).

[2022-07-26 01:05] lutzroeder commented on #549
@EricWiener, can you provide some more context. `cp` should not modify the file contents -- correct?

[2022-07-27 11:18] Xinchengzelin opened #936 "Error loading Python module. Unsupported expression '-' in 'xxx.pt'."
I like to use netron on (https://netron.app/) .  However, recently the error appear: " Error loading Python module. Unsupported expression '-' in 'xxx.pt'."  when I open the xxx.pt model.  I'm sure this model can be opened before.  What should I do to open  .pt model online?

- Netron app and version:
- OS and browser version:

Steps to Reproduce:

1.
2.

Please attach or link model files to repro

[2022-07-27 15:49] mikekml opened #937 "model comparison in netron"
Hi Lutz,

Thank you for the Netron, we use it on a regular basis.  Have you ever considered to add possibility to compare networks, like you would compare source code in meld. We are working on optimizations of neural nets and just use two Netrons side by side to visualize changes.   Appreciate your thoughts.

Thanks,
-Mike

[2022-07-27 15:50] lutzroeder commented on #936
@Xinchengzelin can you share a sample file to reproduce the issue.

[2022-07-27 15:50] #936 closed

[2022-07-27 23:25] lutzroeder commented on #937
Duplicate of #705

[2022-07-27 23:25] #937 closed

[2022-07-28 01:15] Xinchengzelin commented on #936
I'm sure the model could be viewed before

[model.zip](https://github.com/lutzroeder/netron/files/9204522/model.zip)

[2022-07-29 00:19] alexanderganderson commented on #159
This has been bothering me for quite a while.

[code]

I'm running everything locally, so I'm not sure if you need to enable another port in your case.

[2022-07-29 01:08] lutzroeder commented on #159
@alexanderganderson can you investigate and submit a pull request.

[2022-08-01 03:55] zen-xingle opened #938 "TorchScript: serialization - update"
Thank you for building such great tool.

Refer to https://github.com/pytorch/pytorch/blob/master/caffe2/serialize/versions.h, version 8,9 is available now. Is there any plan to update the torchscript model version for netron?

[2022-08-01 04:14] lutzroeder commented on #938
@zen-xingle can you share sample files to reproduce the issue.

[2022-08-01 04:14] #938 closed

[2022-08-01 04:50] zen-xingle commented on #938
Yeah, I got a version 8 model.
https://drive.google.com/file/d/1rCVV4uyILQfsVkO8T3GmBy7zrL_SiECM/view?usp=sharing

[2022-08-03 15:20] zdaiot opened #939 "PyTorch: Missing node relationships"
Hello, I recently found that the latest version opens the pth model directly, and I can't see the node connection relationship.
But some of the old versions are fine, so I want to go back to tag 4.x, but I can't find the corresponding tag information. Do you have any information about tag?

[2022-08-03 18:51] lutzroeder commented on #939
@zdaiot can you share a sample file to illustrate the issue and regression?

`git log --oneline --grep="Update to 4."` to find commits for previous versions.

[2022-08-03 18:51] #939 closed

[2022-08-04 02:19] zdaiot commented on #939
@lutzroeder
Thanks a lot~

Example:
[code]

Whether it is model_para_new or model_para_old, the previous version can get connected nodes, but the new version can only get nodes.

You can get the model file from the following compressed file

[model.zip](https://github.com/lutzroeder/netron/files/9256176/model.zip)

Thanks again~

[2022-08-04 06:08] jinfagang commented on #546
Got a simillar issue:

<img width="426" alt="image" src="https://user-images.githubusercontent.com/21303438/182775155-8107a4c5-b504-4c77-86e4-4cccd921cf4a.png">

[2022-08-04 09:53] zdaiot commented on #939
Hello, I found that although the old version can show the connection relationship, it seems to be wrong.

In addition, when using `torch.save (model,'. / model_para_old.pth', _ use_new_zipfile_serialization=False)` to save the whole model, the definition source code of the model is stored in the model file. Can we use this to analyze the relationship between nodes?

[2022-08-04 11:59] lutzroeder commented on #546
@jinfagang can you share a model file to reproduce the issue.

[2022-08-04 12:21] lutzroeder commented on #939
Duplicate of #720

[2022-08-05 05:29] jinfagang commented on #546
@lutzroeder Hi, the model is torchscript which is very huge (499M), but the model is traced from here (torchscript): https://github.com/jinfagang/wenet

[2022-08-05 05:39] #546 closed

[2022-08-08 04:34] rtrw2000 opened #941 "Edge 40.15063.0.0 not supported"
- Netron app and version:
- OS and browser version:

Steps to Reproduce:

1.
2.

Please attach or link model files to reproduce the issue if necessary.

[2022-08-08 04:34] rtrw2000 opened #942 "Edge 40.15063.0.0 not supported"
- Netron app and version:
- OS and browser version:

Steps to Reproduce:

1.
2.

Please attach or link model files to reproduce the issue if necessary.