[2019-10-26 00:19] yurivict commented on #357
packaging like OS-level package creation, for example rpm/yum in Renhat/Fedora, apt-get in Debian, pkg in FreeBSD.

They all require sources to build and install.

```pip``` is a python-specific packaging system. People mosty use OS-level packages to search for/install software, which is language-neutral.

TensorFlow for example is available this way for many systems: https://repology.org/project/

[2019-10-26 01:12] #358 closed

[2019-10-26 01:49] lutzroeder commented on #357
The Netron `pip` package is used to launch Netron as a Python server and is language-specific. It should not be used without Python.

The Netron client app and website get packaged through `electron-builder` and uploaded as `deb`, `AppImage` including source to https://github.com/lutzroeder/netron/releases. The script also pushes to `snap` but it's still experimental.

[2019-10-26 04:10] yurivict commented on #357
When I take the tarball from GitHub and run a normal build procedure it fails:
[code]

[2019-10-26 06:13] lutzroeder commented on #357
What is a normal build procedure (what does it trigger) and what should it produce?

[2019-10-26 06:47] yurivict commented on #357
```python setup.py config && python setup.py build && python setup.py install```
It takes the source tree and installs the package into a given directory.

[2019-10-26 07:30] lutzroeder commented on #357
Running `npm install` first should resolve this, and there might be a way to run it as part of `python build` but not sure this is what you are actually looking for? For example, `apt install` should probably install the actual client app which is built via `npx electron-builder --linux` and is not using the python setup scripts at all. It might be helpful if you can provide some context of what y

[2019-10-26 16:12] yurivict commented on #357
```npm install``` is unsafe. It downloads files from GitHub without checking their fingerprints. When a package is created all sources it is built from are fingerprinted. It is this way in for RedHat rpms, Debian debs, and FreeBSD pkg packages.

They just don't create packages for npm-based projects due to safety concerns.

[2019-10-26 21:04] lutzroeder commented on #357
Are you planning to work on `electron-builder` and `npm` to fix those issues? `electron-builder` has an option to publish `rpm` to GitHub releases but sounds like this is not what you are looking for and probably would require some evidence this is actually needed. What exactly is the scenario you are trying to solve and why?

[2019-10-26 21:04] #357 closed

[2019-10-26 21:11] yurivict commented on #357
I was trying to build a package for ```netron``` so that it could be installed by users, but it doesn't seem that this can be done, because NodeJS's npm is inherently unsafe, and you are just looking for ways to push that unsafe code to users. RedHat and debian don't build rpms for npm projects due to security concerns. You seem to be trying to just ignore this.

[2019-10-26 21:38] #356 closed

[2019-10-26 21:39] #355 closed

[2019-10-28 02:42] #337 closed

[2019-10-29 07:49] zjp99 opened #359 "pytorch have some problem"
My model load shows 100 modules with no wires.
.pth   in https://github.com/xingyizhou/CenterNet
Use CenterNet  ----> ctdet_coco_dla_2x.pth   for detection

[2019-10-29 10:53] lutzroeder commented on #359
Duplicate of #133

[2019-10-29 10:53] #359 closed

[2019-10-29 16:06] buxtonpaul opened #360 "About box missing ok/close buttons on gnome"
Opening the about box the copyright and version information is shown, but there is no way to close the about box. See attached
![Screenshot from 2019-10-29 16-02-47](https://user-images.githubusercontent.com/19588204/67785980-03de0180-fa66-11e9-92e8-792ebd44b7df.png)

This was running the Appimage version, on a Ubuntu16 system with Gnome desktop.

[2019-10-30 04:36] #360 closed

[2019-10-30 08:04] ThummalaJanardhanReddy opened #361 "Child Nodes are not placing inside Parent Node."
while trying to draw Parent and child nodes, some of the child nodes are not placing inside the Parent node. Please check the attached screenshot and sample html code to reproduce the issue.

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <style>
        .clusters rect {
            fill: #00ffd0;
            stroke: #999;

[2019-10-30 09:09] ThummalaJanardhanReddy commented on #361
![dagre-bug](https://user-images.githubusercontent.com/51075757/67844012-02264380-fb23-11e9-89bf-0bd584017b12.JPG)

[2019-10-31 02:14] 791136190 opened #362 "export error"
win10，ver3.4.8.can't export png or svg file.

[2019-10-31 03:32] #362 closed

[2019-10-31 06:09] heyong919 commented on #181
+1

[2019-10-31 06:47] lutzroeder commented on #361
Is this a Netron issue or are you trying to write custom code using dagre?

Can you share the model file?

[2019-10-31 06:47] #361 closed

[2019-10-31 07:05] ThummalaJanardhanReddy commented on #361
I have modified the Netron code and trying to implement Clusters concept. In Netron code it has been already implemented partially, and same code I have modified. I Think the issue is with Dagre. I have created issue in Dagre repo also.
Thank you

[2019-10-31 11:41] yahiko-l opened #365 "Why not support pytorch"
Why not support pytorch？

[2019-10-31 15:16] lutzroeder commented on #365
Can you provide details or share a sample model file? Netron loads ONNX files produced by PyTorch and has experimental PyTorch and TorchScript support.

[2019-10-31 15:16] #365 closed

[2019-11-03 01:04] lutzroeder commented on #281
[mobilenet_quantization_scripted_quantized.zip](https://github.com/lutzroeder/netron/files/3801114/mobilenet_quantization_scripted_quantized.zip)

[2019-11-07 00:32] agateriver opened #366 "Error occured when canceling open model dialog"
Error Dialog Popup:

A JavaScript error occurred in the main process

Uncaught Exception:
TypeError: selectedFiles is not iterable at Application._openFileDialog.....

btw, netron 3.5.1 for windows

[2019-11-07 09:14] Tee0125 opened #367 "double click is not working in fileDialog"
when I select and double click a model file on model file, nothing happened.

I'm using OS X 10.14.6, Netron version is 3.5.2

[2019-11-07 11:08] lutzroeder commented on #367
electron/electron#21032

[2019-11-07 11:18] #366 closed

[2019-11-07 22:18] gundersena commented on #342
Hi, this is a great program - thanks.  I am using a subclassed model and therefore can only save_weights (TensorFlow SavedModel checkpoint).  What is the easiest way to convert this into a supported file-type for Netron?

[2019-11-12 13:57] Legorock opened #370 "Darknet cfg convolution weights dimensions"
I noticed that when I use Darknet's .cfg files and visualize the network topology, I got 4D weights like 3x3x3x(# of filters). I think you are using 'channels' information in the .cfg file for all weights channels. This seems to be wrong since the input feature map channel dimension is equal to the previous convolution # of filters. Also, see the actual page for detailed rundown of this topology.

[2019-11-13 08:49] Legorock commented on #370
Hi,
If I had some free time, I would love to help. Unfortunately, this might not be as simple as it seems.
Since darknet topology configurations do not have this kind of information embedded inside, we need some sort of 'shape inference' to figure the intermediate operators tensor shapes.

Cheers

Looking at ONNX which is the most mature in this context, they still have major problems with their s

[2019-11-13 08:54] lutzroeder commented on #370
Yes, good summary. Darknet source is fairly straightforward and readable so it's probably easier to bring these over than for other formats. See also #71.

[2019-11-14 10:19] lgeiger commented on #71
It would be excellent if `netron` would be able to show the shape of the activations between two layers. Similar to the way it shows the shape of the input layer:
<img width="253" alt="Screenshot 2019-11-14 at 11 01 48" src="https://user-images.githubusercontent.com/13285808/68848334-74c12280-06d0-11ea-9208-c35ddc30ca36.png">

This would be incredibly useful when developing models and seems to be

[2019-11-14 12:28] dorloff opened #372 "Netron does not work with OpenVINO IR v7"
Loading the attached IR file (in OpenVINO format) fails with the message: "Unknown precision 'null' in 'ir.xml'".
[ir.xml.zip](https://github.com/lutzroeder/netron/files/3846426/ir.xml.zip)

[2019-11-14 12:35] demid5111 commented on #372
@lutzroeder it seems to be an issue that I resolved yesterday about OpenVINO IR. Let me check, if so, I will add this example as a test (not artificial example that I wanted to prepare myself)

[2019-11-14 15:32] lutzroeder commented on #372
[code]

[2019-11-14 18:14] demid5111 commented on #372
@lutzroeder this is an extremely interesting and complex scenario - it will take more time to investigate than I expected, I will let you know when it is fixed (hopefully a couple of days)

[2019-11-15 05:08] lutzroeder commented on #307
@demid5111

[2019-11-15 17:34] #372 closed

[2019-11-22 19:50] lutzroeder opened #374 "Not a valid 'SNOD' block in 'tiny-yolo-voc.h5'"
https://github.com/allanzelener/YAD2K

https://github.com/llSourcell/YOLO_Object_Detection/blob/master/cfg/tiny-yolo-voc.cfg
https://drive.google.com/drive/folders/0B1tW_VtY7onidEwyQ2FtQVplWEU

`python3 yad2k.py darknet/cfg/tiny-yolo-voc.cfg tiny-yolo-voc.weights model_data/tiny-yolo-voc.h5`

[2019-11-24 03:53] akkaze opened #375 "Adjust layout"
Is there there any chance for user to adjust layout by themselves,sometimes the graph is too deep but slim to show in one standard webpage

[2019-11-24 03:55] akkaze opened #376 "Keras submodel inner dependency"
In my model,there is a submodel having two output,one depends on the other.
Howerver,in the graph,this dependency is not showed as an edge

[2019-11-24 05:35] lutzroeder commented on #376
Can you share the model file?

[2019-11-24 05:45] akkaze commented on #376
This file is too big to upload,can i have your email address？

[2019-11-24 10:32] akkaze commented on #376
The model is at [https://raw.githubusercontent.com/akkaze/model_file/master/yolo3_backbone.h5](model)
Please download by yourself
Pay attention to the layer named **yolo_darknet_maxpooling_4**

[2019-11-25 02:29] #376 closed

[2019-11-27 00:04] GiuseppeDiGuglielmo opened #377 "No file resources/app-update.yml"
I have install netron on RH7 through snap.

I get the following error. I can still use the tool but I would like to get rid of the problem. Is there a solution?
[code]

[2019-11-27 02:14] lutzroeder commented on #377
@GiuseppeDiGuglielmo can you investigate how Electron apps are expected to handle this and submit a fix?

Do Snap apps update through the OS and the app updater should be skipped? If so how is this accomplished?

https://www.electron.build/configuration/snap
https://snapcraft.io/docs/electron-apps
https://electronjs.org/docs/tutorial/snapcraft

[2019-11-27 03:06] lutzroeder commented on #377
Duplicate of #166

[2019-11-27 03:06] #377 closed

[2019-11-27 13:44] nazsw commented on #285
Hi @lutzroeder . The app is great for visualization of the tree - thank you. Are you planning on adding the weights exporting feature? I tried using properties window and saving weights manually for each layer, but going through 100+ layers simply sucks. It would be nice to have global "save" button for weights and biases similar to one you have for each layer.

[2019-11-27 20:19] congkun-ck opened #378 "What is "QMatMulAsymmetric" node type?"
In a model I see node like "QMatMulAsymmetric", with 5 inputs. Looks like a quantized LSTM, but I cannot find any definition of what exactly QMatMulAsymmetric is.

[2019-11-28 03:27] lutzroeder commented on #378
Can you provide a model file or specify which format or framework is used? Maybe direct the question to the authors of the file or the framework?

[2019-11-28 03:27] #378 closed

[2019-12-01 00:14] bachdb opened #379 "Keras shared network support"
Lutz, thanks for amazing work.
Do you have any plan on supporting shared network such as `this?`

[code]

[2019-12-01 04:59] lutzroeder commented on #379
[netron_issue_379.zip](https://github.com/lutzroeder/netron/files/3907830/netron_issue_379.zip)

[2019-12-03 01:34] lutzroeder commented on #342
[netron_issue_342.zip](https://github.com/lutzroeder/netron/files/3914066/netron_issue_342.zip)

[2019-12-03 01:40] lutzroeder commented on #342
[netron_issue_342.zip](https://github.com/lutzroeder/netron/files/3914074/netron_issue_342.zip)

[2019-12-03 01:48] lutzroeder commented on #342
[netron_issue_342.zip](https://github.com/lutzroeder/netron/files/3914095/netron_issue_342.zip)

[2019-12-03 20:31] lutzroeder commented on #342
[netron_issue_342.zip](https://github.com/lutzroeder/netron/files/3918584/netron_issue_342.zip)

[2019-12-05 03:54] kobemini opened #380 "Netron cannot open graph with too many nodes"
hi， netron is good.  But when there are too many nodes in the graph, it is too slow or unable to open . Only patience and determination will keep you waiting.. So I want to ask if there is room for optimization
![netron](https://user-images.githubusercontent.com/12507968/70202865-ff3bf580-1755-11ea-8897-c9798561be4d.PNG)

[2019-12-05 05:13] lutzroeder commented on #380
Duplicate of #68

[2019-12-05 05:14] #380 closed

[2019-12-05 06:00] kobemini commented on #68
@lutzroeder You mentioned "Those graphs will need an expand and explore UI that avoids rendering the entire graph" , are there any improvements planned for release versions in the future?

[2019-12-07 19:35] HagegeR opened #381 "Darknet maintained fork support"
Hi,

I just found you'r repo and it's awesome!

I work mostly with darknet lately and I use [@AlexeyAB](https://github.com/AlexeyAB/darknet) fork. It has a lot of improvements over the original and, most important, it's still alive and has incorporated a lot of new types of layers!

I'd love to see your repo work on this Darknet,

thank you for your time :)

[2019-12-07 20:13] HagegeR commented on #381
@AlexeyAB what do you think about this repo? I think this can also help put the documentation on layers directly in sight, exposing the possible parameters ect.

[2019-12-07 20:43] AlexeyAB commented on #381
Yes, it would be nice if this repo will support new layers and models, like Gaussian-yolo, EfficientDet, ASFF-Yolo, ...:
* EfficientNetB0-PRN-Yolov3 https://github.com/AlexeyAB/darknet/blob/master/cfg/enet-coco.cfg  with [weights file enetb0-coco_final.weights](https://drive.google.com/file/d/1FlHeQjWEQVJt0ay1PVsiuuMzmtNyv36m/view)

* MixNet-M-GPU:
[mixnet_m_gpu.cfg.txt](https://github.com/lutzroe

[2019-12-07 22:11] lutzroeder commented on #381
@HagegeR @AlexeyAB can you please create issues for specific examples and repros of what is not working and submit PRs with fixes.

[2019-12-08 05:56] lutzroeder commented on #188
[squeezenet1.1_shape.onnx.zip](https://github.com/lutzroeder/netron/files/3935903/squeezenet1.1_shape.onnx.zip)

[2019-12-08 19:29] HagegeR commented on #381
Ok so I'm trying to list the changes that needs to be done:
currently partially supported layers/activation are: conv/deconv, dropout, max/avgpool, connected, softmax, gru, lstm, rnn, crop, reorg, shortcut, batch_norm, norm, route, relu, leaky, linear, logistic, ramp, upsample, and yolo.
so missing things are:
- [ ] gaussian yolo, scale_channels, swish, mish, cost(?), and region
- [ ] the net part

[2019-12-10 19:14] HagegeR commented on #381
I have started to work on the metadata, I think It will take me 2-3 days [https://github.com/HagegeR/netron/pull/1](url)

[2019-12-11 04:41] lutzroeder commented on #381
@HagegeR rebase to tip. HagegeR#1 doesn't have the latest `darknet-metadata.json` changes.

[2019-12-12 03:41] lutzroeder opened #383 "Update not working in 3.6.0 to 3.6.8"
`Error: Redirect was cancelled` in 3.6.0, 3.6.1, 3.6.3, 3.6.4

[2019-12-12 03:45] lutzroeder commented on #383
electron-userland/electron-builder#4505

[2019-12-12 16:16] HagegeR commented on #381
thanks for merging it, there is still some work to do such as:

- [ ] the net part lacks improvements made in the fork, options such as max_batches, burn_in, scales, steps, policy, letterbox, power, mixup, and blur, are missing

- [ ] the from attribute that is (apparently) some kind of shortcut, I didn't know how to implement it

- [ ] types from part of the attributes

- [ ] description for prin

[2019-12-13 02:14] yippeesoft opened #385 "Error loading ncnn model. Invalid signature in 'mobilenet_v2.param'"
app : win 3.6.2
web:https://lutzroeder.github.io/netron/

test file： mobilenet.param

https://github.com/Tencent/ncnn/tree/master/benchmark

[2019-12-13 02:18] lutzroeder commented on #385
`mobilefacenet.param` does not exist in https://github.com/Tencent/ncnn/tree/master/benchmark?

[2019-12-13 04:29] yurivict opened #386 "TF Lite tensor field is_variable isn't displayed"

[2019-12-13 04:46] lutzroeder commented on #386
Do you have an example why this is needed?

[2019-12-13 04:52] yurivict commented on #386
No, but once it is included in the format it should be displayed by TF Lite viewers.

[2019-12-13 06:32] lutzroeder commented on #386
Can you share a file that is using this setting or some insights when it would be set to `true`?

[2019-12-13 07:06] yurivict commented on #386
TF and TF Lite support variables. If ```is_variable=true``` then this tensor has no static data, instead data is provided at the computation time.

[2019-12-13 08:44] yippeesoft commented on #385
mobilenet.param

and :Error loading ncnn model. Invalid signature in 'mobilenet_yolov3.param'.
[code]

[2019-12-13 18:04] lutzroeder commented on #385
Are you running the latest version of Netron and can you check the file has this content when opening in an editor?

[code]

[2019-12-13 18:04] #385 closed

[2019-12-13 22:44] yurivict opened #387 "TF Lite models show inadequate node names, no tensor IDs, etc."
When a TF Lite model is displayed it shows a number in the "name" field. TF Lite models don't define operator names, instead there are tensor names. You should probably not show this field at all.

Additionally, TF Lite has tensor numbers which identify inputs and outputs in files. You might want to display those along with their names in INPUTS/OUTPUTS sections. Perhaps just in braces after their

[2019-12-14 02:54] #387 closed

[2019-12-14 02:59] lutzroeder commented on #386
tensorflow/tensorflow@a3273e090f7

[2019-12-14 03:14] yurivict commented on #386
Sure: https://people.freebsd.org/~yuri/fully-connected-with-is_variable=true.tflite

[2019-12-14 03:33] lutzroeder commented on #386
`is_variable` seems to be `false` for all tensors in this file?

[code]

[2019-12-14 03:41] yurivict commented on #386
Sorry, my bad. I just updated the file.

[2019-12-14 03:46] lutzroeder commented on #386
[netron_issue386.zip](https://github.com/lutzroeder/netron/files/3963414/netron_issue386.zip)

[2019-12-14 03:48] lutzroeder commented on #386
[netron_issue_386.zip](https://github.com/lutzroeder/netron/files/3963415/netron_issue_386.zip)

[2019-12-14 03:50] #386 closed

[2019-12-14 14:46] lutzroeder opened #388 "Git Bash ONNX install script"

[2019-12-15 17:26] yurivict opened #389 "Please select an available port instead of using one fixed port (OSError: [Errno 48] Address already in use)"
Instead of defaulting to port 8080, a better strategy for netron would be to use a random port with a higher value, say in 20,000+ range. Using random port would greatly reduce the likelihood of the error in itself, but you can also add logic to change port when it happens to be used.

[code]

[2019-12-15 17:33] lutzroeder commented on #389
`--port` allows specifying a port manually. Please submit a PR to add port allocation and we can from there...

[2019-12-15 17:33] #389 closed

[2019-12-16 01:38] yurivict opened #390 "MXNet models aren't displayed properly"
I use Gluon that helps to work with MXNet.
Gluon brought in the model in 2 files:
* ```~/.mxnet/models/ssd_512_resnet50_v1_voc-9c8b225a.params```
* ```/usr/local/lib/python3.6/site-packages/gluoncv/model_zoo/quantized/ssd_512_resnet50_v1_voc_int8-symbol.json```

The second file (json) is displayed like this: https://people.freebsd.org/~yuri/netron+mxnet.png Weights aren't shown as weights but as i

[2019-12-16 01:47] yippeesoft commented on #385
yes. open as text:

112 112
Input            data             0 1 data 0=3 1=224 2=224
Convolution      conv1            1 1 data conv1 0=32 1=3 2=1 3=2 4=1 5=0 6=864
BatchNorm        conv1/bn         1 1 conv1 conv1_conv1/bn 0=32
Scale            conv1/scale      1 1 conv1_conv1/bn conv1_conv1/scale 0=32 1=1
ReLU             relu1            1 1 conv1_conv1/scale conv1_relu1
ConvolutionDepthWise

[2019-12-16 04:03] lutzroeder commented on #390
Copy the `.params` file to the same folder and rename to `ssd_512_resnet50_v1_voc_int8-0000.params`?

[2019-12-16 04:13] #390 closed

[2019-12-16 04:15] yurivict commented on #390
It doesn't seem to help:
[code]

I added a matching symbolic link but it still isn't shown.

[2019-12-16 05:26] lutzroeder commented on #390
Option 1:
[code]
Option 2:
[code]

[2019-12-16 05:42] yurivict commented on #390
I have Option 2 and it has the same problem.

IMO, the best solution is to give netron both files as arguments when the model is split like this.

[2019-12-16 06:00] lutzroeder commented on #390
Can you share the files? In the 2 option the console output `.params` base is missing `_int8`?

What if there are multiple weight files? What if the weight file is not specified or packaged with the symbol file into a compressed archive? If the files are in different folders how can they be opened in a single file open dialog for browser scenarios? Currently the Python server is a simple file serv

[2019-12-16 06:20] lutzroeder commented on #390
Can you share the files? In the 2 option the console output `.params` base is missing `_int8` or the other way around `-9c8b225a-XXXX.params` to resolve to `-9c8b225a-symbol.json`?

There is a lot of complexity here. Multiple frameworks and formats do things differently (some have weight files, others don't, some have fixed lookup strategies, some have multiple weight files). Models can be loaded

[2019-12-16 06:33] yurivict commented on #390
I compressed the directory: https://people.freebsd.org/~yuri/mxnet-models.tgz
File names there match Option 2, but the model isn't displayed correctly.
But this model works fine in MXNet.

[2019-12-16 08:39] lutzroeder commented on #390
The weight references in the `-symbol.json` file have an `ssd0_` prefix while the weight names in the `.params` file do not. Any ideas why that is? https://github.com/dmlc/gluon-cv/issues/925

[2019-12-16 08:50] yurivict commented on #390
I don't know why there's this name mismatch. I installed MXNet/GluonCV, the json file was installed by GluonCV, and the params file was downloaded.

[2019-12-16 10:56] #370 closed

[2019-12-16 10:56] #374 closed

[2019-12-17 03:57] lutzroeder opened #391 "t.getBoundingClientRect is not a function"
`TypeError: t.getBoundingClientRect is not a function @ Ot (d3.min.js:2:19138)`

[2019-12-17 04:02] lutzroeder opened #392 "Bundle header not available"
`Error loading TensorFlow model.: Bundle header not available. @ new tf.Variables.Index (tf.js:1399:19)`

[2019-12-17 22:02] HagegeR commented on #381
I've had a look at a lot of the supported framework. Can the yolo input/output format be copied from Core ML format? a lot of documentation there fits for most if not all of Darknet output, look at this for an example: [https://docs-assets.developer.apple.com/coreml/models/Image/ObjectDetection/YOLOv3Tiny/YOLOv3Tiny.mlmodel](url)

[2019-12-17 22:12] lutzroeder opened #395 "Darknet weights support"

[2019-12-18 07:31] #395 closed

[2019-12-18 19:19] HagegeR commented on #395
I tried to drag a weights file and nothing happened
[csresnext50-panet-spp_final.weights](https://drive.google.com/file/d/1aNXdM8qVy11nqTcd2oaVB3mf7ckr258-/view?usp=sharing)

[2019-12-18 20:23] yurivict opened #396 "Please display TFLite numeric tensor IDs along with string IDs"
In TFLite tensors have numeric IDs.

TF would sometimes print such error message when something goes wrong:

But netron currently can't help to find what ```input 59``` is because it only shows string IDs.

[2019-12-18 20:25] lutzroeder commented on #395
Rename the file to `csresnext50-panet-spp.weights` so it matches the `.cfg` file and copy it next to the `csresnext50-panet-spp.cfg` file.

[2019-12-18 20:49] lutzroeder commented on #396
Maybe this should be fixed in TensorFlow Lite to print the tensor name instead of or next to the index in error messages?

[2019-12-18 20:52] yurivict commented on #396
IMO it should be fixed in both. When you work with TFLite numeric IDs is what you have along with string IDs. All tensors/streams are indexed by this ID, and there's also a string ID in the tensor description. People print whatever comes to their mind, but tools like netron should print both IMO.

[2019-12-18 21:08] #396 closed

[2019-12-19 05:44] LingQiu opened #397 "error load ncnn model"
hello,
error load ncnn model use the version of the netron 3.6.5(win10):`Invalid signature in 'det.param'`.
It's the `det.param:`
[det.txt](https://github.com/lutzroeder/netron/files/3981934/det.txt)
I have no idea about this, can you give some help?
thx.

[2019-12-19 08:43] #397 closed

[2019-12-20 02:58] lutzroeder opened #398 "Git Bash PyTorch script support"
[code]

[2019-12-20 06:56] yurivict opened #399 "Netron doesn't show data shapes for TF models"
The same model in TF format is shown without shapes (https://people.freebsd.org/~yuri/android_graph-yolo.pb):

![image](https://user-images.githubusercontent.com/271906/71235801-0fa1b380-22b2-11ea-8d44-df91e36089ae.png)

and in TF Lite formatted model is shown with shapes (https://people.freebsd.org/~yuri/android_graph-yolo.tflite):

![image](https://user-images.githubusercontent.com/271906/712358

[2019-12-20 07:19] lutzroeder commented on #399
TensorFlow Lite infers the shapes during conversion and includes the resulting file. TensorFlow infers them at runtime.

[2019-12-20 07:19] lutzroeder commented on #399
Duplicate of #71

[2019-12-20 07:19] #399 closed

[2019-12-20 10:32] #367 closed

[2019-12-20 10:34] #338 closed

[2019-12-20 13:27] clstaudt opened #400 "Automating export to image"
I wonder if it is possible to use the `netron` Python module to automate the export of a model visualization to an image.  Great as the Netron desktop app is, I would like to skip the manual step of exporting the model to a file, opening it, exporting an image and including it in my Jupyter Notebooks.

[2019-12-21 00:07] lutzroeder commented on #400
Duplicate of #162

[2019-12-21 00:07] #400 closed

[2019-12-21 07:56] #388 closed

[2019-12-22 02:38] #391 closed

[2019-12-22 02:42] #392 closed

[2019-12-24 01:26] tensorbuffer opened #401 "pytorch check point support"
Hello, when I try to use the web version to load pytorch checkpoint file, I got this error: Error loading PyTorch model. File does not contain root module or state dictionary in 'checkpoint.pth'.
The checkpoint is saved as:
            checkpoint = {
                'model': model_without_ddp.state_dict(),
                'optimizer': optimizer.state_dict(),
                'lr_scheduler': lr_sche

[2019-12-24 01:28] lutzroeder commented on #401
Can you share the model file?

[2019-12-24 02:34] lutzroeder commented on #383
electron/electron#21566

[2019-12-24 02:34] lutzroeder commented on #383
electron-userland/electron-builder#4505

[2019-12-24 02:35] lutzroeder commented on #398
pytorch/pytorch#31370

[2019-12-24 02:35] lutzroeder commented on #398
pytorch/pytorch#31585

[2019-12-24 02:48] #375 closed

[2019-12-24 02:52] #401 closed

[2019-12-24 22:29] #170 closed

[2019-12-25 03:46] tensorbuffer commented on #401
trying to attach

[2019-12-25 03:52] tensorbuffer commented on #401
checkpoint.pth

[2019-12-25 06:12] lutzroeder commented on #401
Can you share it using a cloud drive?

[2019-12-25 18:08] tensorbuffer commented on #401
https://drive.google.com/file/d/1eIyTCGctlInencZBUwvBokPQikGz03Oq/view?usp=sharing

[2019-12-25 21:40] lutzroeder commented on #401
`features.1.skip_add.observer.scale` tensor is `null`

[2019-12-26 01:44] chiehpower opened #402 "The comparison of .onnx and .pb model."
Hi,
I have one ssd model which was downloaded from [Tensorflow detection model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md).
I took it to convert the model from pb to onnx. Of course, I am not sure whether its conversion is correct or not, but I just wanna try to compare their graphs of visualization.
My original model is ssd_mobilen

[2019-12-26 03:09] lutzroeder commented on #402
You can investigate this and consult the folks who wrote the converter. Please only file a Netron issue if there is an actual bug.

[2019-12-26 03:09] #402 closed

[2019-12-27 11:01] Ahmet57 opened #403 "Background color"
Hi, is there a way  to change background color? I am running your code from python server. Thanks.

[2019-12-27 21:13] lutzroeder commented on #403
Beyond dark and light mode the only option is modifying `.graph { background-color }` in `site-packages/netron/view.css`

[2019-12-27 21:13] #403 closed

[2019-12-27 22:21] lutzroeder commented on #277
[yolo_v3_tiny_pan3_aa_ae_mixup_scale_giou.cfg.zip](https://github.com/lutzroeder/netron/files/4006371/yolo_v3_tiny_pan3_aa_ae_mixup_scale_giou.cfg.zip)

[2019-12-29 01:34] lutzroeder opened #404 "ML.NET SsaForecasting support"
`ML.NET Error: Unknown loader signature 'SsaForecasting' in 'MLModel.zip'.`

https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/Forecasting_BikeSharingDemand/BikeDemandForecasting

dotnet/machinelearning-samples#763

[2019-12-29 21:39] #398 closed

[2019-12-30 04:17] #379 closed

[2019-12-30 04:17] #381 closed

[2019-12-30 04:18] #307 closed

[2019-12-30 04:18] #334 closed

[2019-12-30 04:28] #348 closed

[2019-12-30 08:15] HagegeR commented on #381
Thank you for your support in this endeavour!

is there any way for this to happen?

[2019-12-30 16:34] letmaik commented on #348
Could you comment on why you closed the issue? I would be happy with a tag as well, but you only tagged it "enhancement" so I'm a bit confused.

[2019-12-30 22:27] lutzroeder opened #405 "TensorFlow .ckpt support"
https://github.com/serre-lab/deeplabcut_mgh/blob/master/deeplabcut/pose_estimation_tensorflow/models/pretrained/resnet_v1_50.ckpt

[2020-01-03 02:17] lutzroeder commented on #405
[netron_issue_405.zip](https://github.com/lutzroeder/netron/files/4017943/netron_issue_405.zip)

[2020-01-03 05:26] #405 closed

[2020-01-03 07:20] tensorbuffer commented on #401
great, thanks! I can load the checkpoint file.
However all that's shown are 'Module' blocks, there's no connection between them. Is this the right visualization?

[2020-01-04 05:17] #404 closed

[2020-01-04 10:23] abhigoku10 commented on #401
@tensorbuffer @lutzroeder @demid5111 @scottcjt   i am also facing the same issues not able to visualize any connection between the modules , any idea how to obtain the connections ??

[2020-01-04 10:29] abhigoku10 commented on #133
@lutzroeder  the tutorial_models i am able to see the connections of the modules but y not in custom trained models ? should we follow some steps to do that

[2020-01-04 13:22] lutzroeder commented on #133
Saving the `state_dict` only saves the tensors. Serializing to ONNX will save the graph. https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html

[2020-01-04 21:08] yurivict commented on #390
You can run the self-contained Gluon example: https://gluon-cv.mxnet.io/build/examples_segmentation/demo_deeplab.html

It downloads the model into ~/.mxnet/models/deeplab_resnet101_ade-bf1584df.params and Netron also fails to show the structure. Again, Gluon reads it w/out a problem.

If you would search for why Gluon/MXNet doesn't save model structure you would find comments that MXNet models are

[2020-01-04 23:05] lutzroeder commented on #390
`.params` contains tensor weights only. MXNet graphs are saved as `-symbol.json`. https://mxnet.apache.org/api/python/docs/tutorials/packages/gluon/blocks/save_load_params.html.

[2020-01-06 18:13] tensorbuffer commented on #401
I think this is because pytorch graph is dynamic, the graph is generated on the fly, so you have to feed an input and execute the model to get the graph.

[2020-01-07 23:08] eladeyal-intel opened #407 "openvino weights not shown"
Open the xml+bin file pair from https://github.com/lutzroeder/netron/blob/master/test/models.json#L3565

https://download.01.org/openvinotoolkit/2018_R4/open_model_zoo/landmarks-regression-retail-0009/FP16/landmarks-regression-retail-0009.xml
https://download.01.org/openvinotoolkit/2018_R4/open_model_zoo/landmarks-regression-retail-0009/FP16/landmarks-regression-retail-0009.bin

right click the fi

[2020-01-08 02:30] lutzroeder opened #408 "CNTK v1 unknown operator DynamicAxis"
[TestModel.zip](https://github.com/lutzroeder/netron/files/4033366/TestModel.zip)

[2020-01-08 03:50] #408 closed

[2020-01-08 03:51] lutzroeder commented on #407
Duplicate of #307

[2020-01-08 03:51] #407 closed

[2020-01-09 07:12] fortuneko opened #409 "add support to visualize feature map shape"
Hi,
   I love this tool very much,thanks a lot for your great job!
   When I use this tool to visualize network structure, it would be more helpfull to display the feature map shape of each layer, with the input data shape and kernerl shape, the feature map shape could be computed as a result.
  With the feature map shape, it would be more easier to analyze model network.

[2020-01-09 07:19] lutzroeder commented on #409
Duplicate of #71

[2020-01-09 07:19] #409 closed

[2020-01-09 19:39] lutzroeder commented on #404
[MLModel.zip](https://github.com/lutzroeder/netron/files/4042150/MLModel.zip)

[2020-01-10 01:01] HagegeR opened #410 "Darknet shortcut support for new fork"
Hi @lutzroeder ,

I think that the `from` parameter is not implemented correctly.

A correct implementation is detailed here : [https://github.com/AlexeyAB/darknet/issues/4662](https://github.com/AlexeyAB/darknet/issues/4662)

I'm not sure that #335 is completely correct: from what I understand by the code, only `[scale_channel]` implement partially the from attribute, `[shortcut]` and `[sam]` lay

[2020-01-10 01:31] lutzroeder commented on #410
@HagegeR can you create a fix and submit a PR.

[2020-01-10 06:13] #383 closed

[2020-01-10 09:33] HagegeR commented on #410
@lutzroeder I'm not sure how to do it really, how do you get multiple inputs in there: [https://github.com/lutzroeder/netron/blob/a2c18fc79f519c102e34a9867b7c6db431a95df9/src/darknet.js#L204](https://github.com/lutzroeder/netron/blob/a2c18fc79f519c102e34a9867b7c6db431a95df9/src/darknet.js#L204)

[2020-01-11 03:40] lutzroeder commented on #410
@HagegeR, check a few lines down for `const routes`.

[2020-01-13 10:01] mrgloom opened #411 "Long graph is truncated on export to png"
Long graph is truncated on export to png (on Y axis) without warning\error, png dimension are 3430 x 2400.

[2020-01-13 19:46] HagegeR commented on #410
So, basically, I tried that:
[https://github.com/HagegeR/netron/blob/f8e1a94d743f170a1db04b572915f37399eb0097/src/darknet.js#L171-L190](https://github.com/HagegeR/netron/blob/f8e1a94d743f170a1db04b572915f37399eb0097/src/darknet.js#L171-L190)

[2020-01-13 20:53] dnola commented on #400
Hello,

How is this a duplicate of the other issue? I don't believe the comments in the other issue address what is being requested here - #162 provides no programmatic means of automating image export - the solutions there all require user intervention - be it to upload a model, or click to save an image.

Thus, there is no outstanding means of automating image export. Should this be reopened?

[2020-01-13 21:07] clstaudt commented on #400
Thank you @dnola. In the "duplicate" issue I couldn't find something relevant to my question, so closing this seems like a mistake to me.

[2020-01-13 21:18] dnola commented on #400
Agreed - and this is so often requested (and subsequently closed without explanation), that I feel it deserves a little more attention than it is getting. At the very least maybe something like a documentation change to describe how to do this - as if this behavior is already in Netron, it certainly doesn't appear to be documented well enough to prevent the issue coming back up repeatedly.

Though

[2020-01-13 21:21] clstaudt commented on #400
Naive question: Netron is a Python module, why not expose a function that takes a model and exports an image?

[2020-01-13 21:22] dnola commented on #400
The issue, from my understanding, is that Netron operates specifically as an interactive visualization tool - the server doesn't generate the 'image', the client does. So it does need to be a little more complicated than that unfortunately!

[2020-01-14 03:38] lutzroeder commented on #411
Which browser are you using? Can you share the model file?

[2020-01-15 15:23] HagegeR commented on #410
@lutzroeder hi, is this ok?

[2020-01-16 05:29] #411 closed

[2020-01-17 02:25] lutzroeder commented on #410
[yolov3-tiny_3l_shortcut_multilayer_per_feature_softmax.cfg.zip](https://github.com/lutzroeder/netron/files/4074756/yolov3-tiny_3l_shortcut_multilayer_per_feature_softmax.cfg.zip)

[2020-01-17 03:45] #410 closed

[2020-01-19 12:59] benMen87 opened #413 "Edit graph via netron visualizer"
Would it be possible to add a feature were I could add/remove /change node on graph
and then export new modified graph?
Say with ONNX protocol.

[2020-01-19 20:29] lutzroeder commented on #413
Duplicate of #275

[2020-01-20 18:04] photopea opened #415 "Model conversion"
I see, that parsers for various formats are a part of this project.

Would it be hard to extend Netron into a convertor from other formats to ONNX? As far as I know, there are some custom Python scripts all over the internet, which can convert specific formats to ONNX.

But it would be great, if people could get a ONNX version of a network simply by drag-and-dropping it into a web browser (as they

[2020-01-20 23:11] lutzroeder commented on #415
This is currently not a priority.

Define "hard". Technically it is possible. You would have to do all the work and commit to fixing all future bugs that users might report. If you add it for ONNX you will have to add it for all other formats as well as users will expect that. Keep in mind those other tools get developed by multiple teams some of which might do this as a full time job. You would h

[2020-01-20 23:25] photopea commented on #415
I wanted to ask you to do it. You are already working on this tool, so you could extend it with ONNX export (for the same reason you made a visualizer). I think there could be much more people, who would start using Netron, if it had this feature.

I guess you are loading all neural network formats into a common represetation (that is stored in the memory of your program). I thought it could be en

[2020-01-20 23:58] lutzroeder opened #416 "node.operator.split is not a function"

[2020-01-21 01:15] mendi80 opened #417 "Tensorflow Lite, Netron 3.7.9: TypeError "node.operator.split" is not a function"
This error appear only in tflite file and netron 3.7.9
Error does not appear in same network saved in h5 keras file.
Error does not appear in netron 3.7.8

[2020-01-21 01:16] lutzroeder commented on #417
Can you share the model file?

[2020-01-21 01:16] lutzroeder commented on #417
Duplicate of #416

[2020-01-21 01:16] #417 closed

[2020-01-21 02:30] mendi80 commented on #417
model uploaded

[2020-01-21 02:33] mendi80 commented on #417
BTW:
1) Is there any way to see number of parameters (per layer, total) in keras models?
2) Why is that in tflite file i can see the activation shape, but in keras h5 file i cant?

[2020-01-21 05:34] lutzroeder commented on #417
Can you provide some more specifics?

The shapes are computed during conversion and stored in `.tflite` files. They are not stored in Keras files and have to be inferred. See #71.

[2020-01-21 05:35] lutzroeder commented on #416
[netron_issue_416.zip](https://github.com/lutzroeder/netron/files/4089319/netron_issue_416.zip)

[2020-01-21 05:41] #416 closed

[2020-01-21 05:44] lutzroeder commented on #415
This is currently not a priority. See [microsoft/MMdnn](https://github.com/microsoft/microsoft/MMdnn).

[2020-01-21 08:37] pavel-rodionov opened #418 "[OpenVINO] Sigmoid activation type is not shown"
Even when "Show attributes" option was enabled `sigmoid` activation type wasn't show up:
<img width="1136" alt="Screenshot 2020-01-21 at 11 21 05" src="https://user-images.githubusercontent.com/55975500/72787801-a959d900-3c41-11ea-959c-93b9a1770129.png">

Please find example model in attachment:
[model.xml.zip](https://github.com/lutzroeder/netron/files/4089939/model.xml.zip)

Is seems like the is

[2020-01-21 16:27] lutzroeder commented on #418
'sigmoid' is the default value for the property. Defaults are not rendered in the graph.

[2020-01-22 05:02] #418 closed

[2020-01-23 23:08] fdwr opened #420 "Show Names hides the tensor sizes"
Netron 3.8.0 shows tensor dimensions which is useful :)...

![image](https://user-images.githubusercontent.com/1809166/73031290-8de10080-3df0-11ea-8ca6-09e0f0685454.png)

...and it can Show Names which is also useful :), but showing names disables the size info :(.

![image](https://user-images.githubusercontent.com/1809166/73031316-9f2a0d00-3df0-11ea-8080-0c391fd71c85.png)

**Request**: Can both

[2020-01-25 03:13] lutzroeder opened #421 "Unknown function 'ops.quantized.conv2d_prepack'"
`Error loading PyTorch model.: Unknown function 'ops.quantized.conv2d_prepack' in 'mobilenet_quantization_scripted_quantized.pth'.`

[2020-01-25 03:13] lutzroeder commented on #421
[mobilenet_quantization_scripted_quantized.pth.zip](https://github.com/lutzroeder/netron/files/4111581/mobilenet_quantization_scripted_quantized.pth.zip)

[2020-01-25 03:31] #421 closed

[2020-01-25 12:52] keshavoct98 opened #422 "How can I export tflite model weights to ".npy" file?"

[2020-01-25 16:53] lutzroeder commented on #422
Duplicate of #300

[2020-01-25 16:53] #422 closed

[2020-01-25 18:31] keshavoct98 commented on #300
I couldn't find it. Can you tell me the exact steps to export it to .npy.?

[2020-01-25 18:54] lutzroeder commented on #300
<img width="1092" alt="Screen Shot 2020-01-25 at 10 50 06 AM" src="https://user-images.githubusercontent.com/438516/73125889-ff3fc100-3f60-11ea-8f6f-49211a6e34dd.png">

[2020-01-26 07:32] keshavoct98 commented on #300
This only saves the weights of that particular node. Can we save weights of whole network in a single file?

[2020-01-30 03:53] lutzroeder opened #423 "MediaPipe support"

[2020-02-08 23:14] talhakabakus opened #424 "Input of Conv1D layer is displayed as ?x100X3?"
The input shape of my CNN's first 1D convolution layer is `100x3`. When I load the model via Netron, the input shape is displayed as `?x100X3` as you may see below:

<img width="247" alt="Screen Shot 2020-02-09 at 02 14 03" src="https://user-images.githubusercontent.com/444482/74093354-dcc1b200-4ae1-11ea-9858-83ff43f938a9.png">

[2020-02-09 00:11] lutzroeder commented on #424
Can you share the model file?

[2020-02-09 00:17] talhakabakus commented on #424
Sure, you may find the model file as attached.

p.s. Since it is not possible to attach `.json` files, I attached it as an archive (`.zip`).

[best_cnn_model.json.zip](https://github.com/lutzroeder/netron/files/4176180/best_cnn_model.json.zip)

[2020-02-09 01:52] lutzroeder commented on #424
The model contains `"batch_input_shape": [null, 100, 3]` so first column is the batch dimension?

[2020-02-09 01:52] #424 closed

[2020-02-09 01:54] talhakabakus commented on #424
Here is relevant layer definition which is implemented using _Keras_:
`model.add(Conv1D(filters=16, kernel_size=kernel_size, input_shape=(100, 3)))`

[2020-02-12 11:24] DrSlink opened #425 "scrolling issue"
Right bar("node properties") doesn't scrolling. Can't see all opened weights, gamma, etc.
Tried versions 3.8.6-3.8.9, Windows 10

[2020-02-12 13:28] DavidMrd opened #426 "Keras: RetinaNet connection missing"
Hello,
when I visualize my model with Netron, P5 and P4 seem not to be connected to any other nodes. But when I visualize RetinaNet using TensorBoard the graph is different. My model is based on RetinaNet.
![Screenshot from 2020-02-12 12-51-29](https://user-images.githubusercontent.com/59397892/74339283-145f8100-4da4-11ea-8b9b-51e982539ff9.png)
![Screenshot from 2020-02-12 12-50-51](https://user-i

[2020-02-12 13:33] cloudy-sfu commented on #425
Same problem. 3.8.9 on Windows 10

[2020-02-12 16:30] lutzroeder commented on #426
Can you share the model file?

[2020-02-13 02:37] lutzroeder commented on #425
eba5acc9c81737cc3c38b0dd5d1d6324aa9672f4 `<!DOCTYPE html>`

[2020-02-13 03:02] vera121 opened #427 "not able to use the AppImage on Linux"
Hello,
I had a try of the Netron-3.8.9.AppImage on Linux and found it couldn't work.
I use the command
chmod +x Netron-3.8.9.AppImage
and then use
./Netron-3.8.9.AppImage
to open it.
There is only the frame with title showing; the middle panel is empty, no content or menu appear as in the usually python web server.

My system info:
No LSB modules are available.
Distributor ID:	Ubuntu
Description:

[2020-02-13 03:18] lutzroeder commented on #427
@vera121 can you investigate why this is happening and submit a fix? It does not seem to repro on Ubuntu 18.04 LTS.

[2020-02-13 03:18] #427 closed

[2020-02-13 03:46] vera121 commented on #427
Hello,
With another system (Ubuntu 16.04.6 LTS) I am able to open it.
But on a CentOS
	Linux 3.10.0-957.5.1.el7.x86_64
	OS:        CentOS Linux release 7.6
 it failed with another issue:
[41889:0212/233403.900654:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure th

[2020-02-13 05:27] #425 closed

[2020-02-13 10:08] DavidMrd commented on #426
It is too big, but you can find it here-> https://www.dropbox.com/s/avh4xyxfv3q3tqn/resnet50_csv_16.h5?dl=0

[2020-02-14 02:50] lutzroeder commented on #426
[resnet50_csv_16.json.zip](https://github.com/lutzroeder/netron/files/4202466/resnet50_csv_16.json.zip)

[2020-02-14 10:08] DrSlink opened #428 "Keras ambiguous weight names"
Layers with the same local name but different full names are combined into one, even if they are located in completely different places in the neural network. For example, a layer named 'Conv' and 'expanded_conv_3/squeeze_excite/Conv'
![image](https://user-images.githubusercontent.com/37940001/74521202-16534c80-4f2a-11ea-97ce-83ba53487c5d.png)

[2020-02-14 14:50] lutzroeder commented on #428
Can you share the model file?

[2020-02-15 19:39] lutzroeder opened #429 "TorchScript ops.prim.NumToTensor(torch.size)"
https://github.com/lutzroeder/netron/files/3748989/blitz_neural_networks_tutorial.zip

[code]

[2020-02-15 19:41] lutzroeder opened #430 "TorchScript unsupported for statement"
https://github.com/lutzroeder/netron/files/3748989/blitz_neural_networks_tutorial.zip

[code]

[2020-02-15 19:42] #281 closed

[2020-02-15 23:11] lutzroeder commented on #139
[Kmeans.pbtxt.zip](https://github.com/lutzroeder/netron/files/4209089/Kmeans.pbtxt.zip)

[2020-02-15 23:11] lutzroeder commented on #139
[eisber_model3.pbtxt.zip](https://github.com/lutzroeder/netron/files/4209090/eisber_model3.pbtxt.zip)

[2020-02-16 00:53] #423 closed

[2020-02-17 11:08] cnjsdfcy opened #431 "document not shown in latest 3.9.1"
Hi Lutz,

The question mark for type disappeared in latest 3.9.1 version, by which the document info is pretty helpful to me. How can I resume it?

Thanks,
Yu

[2020-02-17 12:21] cnjsdfcy commented on #431
Seem like only .onnx models have type documents, .caffemodel doesn't.
Am I right?

[2020-02-17 17:24] lutzroeder commented on #431
Yes. The descriptions are stored in `src/caffe-metadata.json` or `src/onnx-metadata.json`. For ONNX there is a script to update these files (`./tools/onnx sync install metadata`). For Caffe there is not. Adding the information manually would be possible as well if you want to take a look and submit a PR.

[2020-02-17 17:24] #431 closed

[2020-02-17 20:13] lutzroeder commented on #170
[ep_model1.zip](https://github.com/lutzroeder/netron/files/4216033/ep_model1.zip)

[2020-02-17 20:30] lutzroeder commented on #170
[ngram.zip](https://github.com/lutzroeder/netron/files/4216079/ngram.zip)

[2020-02-17 21:20] lutzroeder commented on #170
[termlookup_with_key.zip](https://github.com/lutzroeder/netron/files/4216237/termlookup_with_key.zip)

[2020-02-17 21:36] lutzroeder commented on #170
[ep_model3.zip](https://github.com/lutzroeder/netron/files/4216304/ep_model3.zip)

[2020-02-18 03:40] cnjsdfcy commented on #431
Thanks for your quickly answer.

[2020-02-18 09:20] DrSlink commented on #428
[example.zip](https://github.com/lutzroeder/netron/files/4218317/example.zip)

[2020-02-18 20:25] lutzroeder commented on #428
[neton_issue_428.zip](https://github.com/lutzroeder/netron/files/4221530/neton_issue_428.zip)

[2020-02-18 20:26] lutzroeder commented on #428
[netron_issue_428.zip](https://github.com/lutzroeder/netron/files/4221535/netron_issue_428.zip)

[2020-02-19 03:10] lujq96 opened #432 "TorchScript unsupported functions in after update"
I have a lot of basic model files saved in TorchScript and they were able to be opened weeks ago. However I cannot many of them after update Netron to v3.9.1. Many common functions are not supported not, e.g. torch.constant_pad_nd, torch.bmm, torch.avg_pool3d.

[2020-02-19 03:23] lutzroeder commented on #432
Can you share the model files? TorchScript keeps changing and there is lots going on under the covers needed to read all the different kinds of files created with different versions.

[2020-02-19 07:33] lujq96 commented on #432
I cannot open any of these simple nodes.
[nodes.zip](https://github.com/lutzroeder/netron/files/4223632/nodes.zip)

[2020-02-19 10:06] DamienAllonsius opened #433 "export onnx format in Ranklib"
Ranklib is a library of learning to rank algorithms : https://sourceforge.net/p/lemur/wiki/RankLib/
They dump and load neural network in their own way. For instance, a NN with 2 layers of 2 and 3  neurons, 1 input and 1 output would be encoded like described below. Since Netron can infer the layers and the parameters, it would be amazing if a feature were added to export onnx in Ranklib format.

[

[2020-02-19 18:19] #433 closed

[2020-02-19 18:26] lutzroeder commented on #432
[activation.zip](https://github.com/lutzroeder/netron/files/4226664/activation.zip)

[2020-02-19 18:26] lutzroeder commented on #432
[bmm.zip](https://github.com/lutzroeder/netron/files/4226665/bmm.zip)

[2020-02-19 18:26] lutzroeder commented on #432
[constant_pad_2d.zip](https://github.com/lutzroeder/netron/files/4226668/constant_pad_2d.zip)

[2020-02-19 18:30] lutzroeder commented on #432
[netron_issue_432_activation.pth.zip](https://github.com/lutzroeder/netron/files/4226686/netron_issue_432_activation.pth.zip)

[2020-02-19 18:31] lutzroeder commented on #432
[netron_issue_432_bmm.pth.zip](https://github.com/lutzroeder/netron/files/4226688/netron_issue_432_bmm.pth.zip)

[2020-02-19 18:31] lutzroeder commented on #432
[netron_issue_432_constant_pad_2d.pth.zip](https://github.com/lutzroeder/netron/files/4226690/netron_issue_432_constant_pad_2d.pth.zip)

[2020-02-20 02:22] lujq96 commented on #432
Btw is there any way to downgrade netron to an older version? I believe I can open them in about v3.6

[2020-02-20 02:53] #432 closed

[2020-02-20 03:12] lutzroeder commented on #432
@lujq96 can you try the steps in [DEVELOPMENT.md](https://github.com/lutzroeder/netron/blob/master/DEVELOPMENT.md) and check if changes in master resolve the issue? Repros for other operators like `torch.avg_pool3d` or the necessary changes to `pytorch-metadata.json` are welcome as well.

[2020-02-22 05:29] #430 closed

[2020-02-27 06:56] yangboqwer commented on #119
Hi
I get the same error when I try to load pytorch int8 model. All browsers don't work. What should I do?

[2020-02-27 06:57] yangboqwer commented on #119
Hi,
I get the same error when I try to load pytorch int8 model. All browsers don't work. What should I do?

[2020-02-27 06:58] yangboqwer commented on #119
Hi,
    I get the same error when I try to load pytorch int8 model. All browsers don't work. What should I do?
https://github.com/yangboqwer/test_onnx/blob/master/test_int8.onnx
The error is "error loading ONNX model. Maximum call stack size exceeded in 'test_int8.onnx'."
@lutzroeder

[2020-02-27 08:29] lujq96 commented on #432
Still many other models cannot be opened in v3.9.2. I tried a old version 3.5.9 and everything works fine. Is there any major change that weakened the parsing function between them?

[2020-02-27 09:02] lutzroeder commented on #432
Can you share model files to reproduce these issues?

[2020-02-27 09:17] lutzroeder commented on #119
[netron_issue_119.onnx.zip](https://github.com/lutzroeder/netron/files/4260628/netron_issue_119.onnx.zip)

[2020-02-27 09:17] lutzroeder commented on #119
[netron_issue_119.zip](https://github.com/lutzroeder/netron/files/4260629/netron_issue_119.zip)

[2020-02-27 13:39] yangboqwer commented on #119
Thanks!

[2020-02-27 15:30] lujq96 commented on #432
[badcases.zip](https://github.com/lutzroeder/netron/files/4262350/badcases.zip)
These are all the badcases I found in my unit test models.

[2020-02-29 02:47] ReinForce-II opened #435 "Invalid NaN in Keras generated JSON"
Detailed info:
Unexpected token N in JSON at position
This issue happens if decay is NaN

[2020-02-29 03:44] lutzroeder commented on #435
Can you share the model file? How was the model created?

[2020-02-29 04:11] ReinForce-II commented on #435
Here is a minimal script can reproduce the issue

[code]

[0.zip](https://github.com/lutzroeder/netron/files/4269903/0.zip)

[2020-02-29 04:21] lutzroeder commented on #435
`NaN` is not valid in JSON? Is this a bug in the Python JSON serializer being used?

[2020-02-29 05:20] lutzroeder commented on #435
[netron_issue_435.zip](https://github.com/lutzroeder/netron/files/4269953/netron_issue_435.zip)

[2020-02-29 05:48] #435 closed

[2020-02-29 20:02] #420 closed

[2020-03-03 14:34] psunn opened #436 "TFLite .tflite file undefined input for INT16"
Hi,
For TFLite '.tflite' file with INT16 tensor, some of the tensor value shows undefined. (see below)
![image](https://user-images.githubusercontent.com/55463253/75785457-a9c6b300-5d5b-11ea-9bd2-fbb003c8f485.png)

I attached TFLite tflite 'minimum.tflite' and flatbuffer json 'minimum.json' in attached zip, please have a look.
[minimum.zip](https://github.com/lutzroeder/netron/files/4281781/minimu

[2020-03-03 15:48] #436 closed

[2020-03-05 04:29] dsplabs commented on #71
Very helpful, thank you.

Left is without shape inference. Right is with shape inference.

<img width="378" alt="Screen Shot 2020-03-04 at 8 18 02 PM" src="https://user-images.githubusercontent.com/4065405/75947556-9e57b280-5e55-11ea-8cac-ba776b6720bc.png">

One important thing to note. Currently, for the above to work, you must use opset version <9. The above was generated with opset version 8. I

[2020-03-05 09:53] lisa0314 opened #437 "[caffe2] caffe2 int8 model support"
I try to load a quantization int8 model consist of these ops (https://github.com/pytorch/pytorch/tree/master/caffe2/quantization/server#quantization-operators) using netron but it failed.  I want to make use whether the netron support caffe2 quantization model.

[2020-03-05 11:16] lutzroeder commented on #437
Can you share the model file and describe the issue?

[2020-03-05 12:19] lisa0314 commented on #437
@lutzroeder this is the model which I used - https://github.com/cuiyanx/dnnl-models/blob/master/Image%20Classification/mobilenet/predict_net_int8.pbtxt.
And the result is as shown as below :
![image](https://user-images.githubusercontent.com/16891416/75981057-a3ccff80-5f1e-11ea-8b88-16b108da9168.png)

[2020-03-05 12:47] #437 closed

[2020-03-05 18:57] taposh opened #438 "Python Server build does not work"
Followed the instructions on Development.md:

[code]

Getting error
[code]

[2020-03-05 19:37] #438 closed

[2020-03-06 20:49] Plootie opened #439 "ML.Net Error"
When trying to load a image classification model i get "Unknown loader signature 'ImageClassificationPred' in 'model.zip'

[2020-03-06 20:54] lutzroeder commented on #439
Can you share the model file?

[2020-03-07 03:10] lookup1980 commented on #71
@dsplabs thank you for the comment, and it's very helpful!

My understanding is that we can't set opset version when exporting Pytorch to ONNX, right?

[2020-03-09 03:53] lutzroeder commented on #428
[nested_bidrectional_lstm.zip](https://github.com/lutzroeder/netron/files/4304590/nested_bidrectional_lstm.zip)

[2020-03-09 04:22] lutzroeder commented on #428
[nested_bidrectional.zip](https://github.com/lutzroeder/netron/files/4304644/nested_bidrectional.zip)

[2020-03-09 05:23] #428 closed

[2020-03-11 04:49] dsplabs commented on #71
@lookup1980 yes we can, by setting the ``opset_version`` argument, e.g.:
[code]
Works for me in PyTorch version 1.4.

If you need to convert existing ONNX file, you can do so using: ``onnx.version_converter.convert_version(...)``. I usually throw-in also ``onnx.utils.polish_model(...)`` which (among other things) does shape inference using ``onnx.shape_inference.infer_shapes(...)``, e.g.:
[code]

[2020-03-12 05:14] pierricklee opened #440 "How to release binaries?"
Hi Lutz,

I was developing supporting [Tengine/tmfile](https://github.com/OAID/Tengine) model on Netron, and it's almost done.
![Screenshot from 2020-03-10 01-34-36](https://user-images.githubusercontent.com/21244722/76488954-031c9980-6462-11ea-91ad-0b3be3f57c28.png)

I was in version 3.8.4, and there I found in DEVELOPMENT.md says using `npx electron-builder --linux` I could be able to build bina

[2020-03-12 05:23] lutzroeder commented on #440
Supporting branches and custom builds is not a priority.

One option would be to merge the changes to the main branch. Given the large number of basically identically formats it would need some explaining why there needs to be another custom format instead of using an existing one like ONNX.

[2020-03-12 05:23] #440 closed

[2020-03-12 21:46] yurivict opened #441 "Wrong order of operator arguments in the rendering of the TFLite model"
This model https://people.freebsd.org/~yuri/model-netron-order-bug.tflite is rendered with a wrong order of Div arguments:

![image](https://user-images.githubusercontent.com/271906/76569204-c5bf0880-646f-11ea-8529-e13367d162be.png)

In the model the order is ```{input2,softmax}```, and in the rendering it is ```{softmax,input2}```.

[2020-03-12 23:52] tensorbuffer opened #442 "onnx filter weight dimension"
I would like to know when neutron shows weight dimension if it does any re-arrangement.
Attached onnx model, in neutron web interface, it shows the Conv has type: float32[4,3,3,2]
However when I used onnx-tensorflow project to open it it shows the weight has dimension (3, 2, 3, 4):
(Pdb) type (init)
<class 'onnx.onnx_ONNX_REL_1_6_ml_pb2.TensorProto'>
(Pdb) init.dims
[3L, 2L, 3L, 4L]

[model.onnx.z

[2020-03-13 00:22] lutzroeder commented on #442
Netron shows the dimensions in the same order stored in the ONNX file.

[model.pbtxt.zip](https://github.com/lutzroeder/netron/files/4327230/model.pbtxt.zip)

[code]

[2020-03-13 00:22] #442 closed

[2020-03-13 00:24] lutzroeder commented on #441
The order is shown in node properties. The graph layout is not order dependent. Not a priority to fix this but feel to submit a PR if you have a fix.

[2020-03-13 00:24] #441 closed

[2020-03-13 00:27] lutzroeder commented on #441
[model-netron-order-bug.tflite.zip](https://github.com/lutzroeder/netron/files/4327238/model-netron-order-bug.tflite.zip)

[2020-03-13 01:43] tensorbuffer commented on #442
Thanks!

[2020-03-17 04:30] DistChen opened #443 "Client Application can't select PaddlePaddle model file"
I can't select PaddlePaddle model file `__model__`  by client application(macOS).

But I can load PaddlePaddle model file `__model__`  by python server：
[code]

I think something is wrong with the client application.

[2020-03-17 04:36] DistChen commented on #443
This is a simple PaddlePaddle model file.
https://github.com/lutzroeder/netron/issues/198#issuecomment-443112438

[2020-03-17 04:42] lutzroeder commented on #443
You can drag & drop the file into the app window. The macOS file dialog filters these files as they do not have a valid extension. To work around this would require allowing all file extensions which leads to a lot more failed loads and other bugs.

Please work with the PaddlePaddle team to introduce an official file extension for this format. Note protobuf based formats without a custom file exte

[2020-03-17 04:42] #443 closed

[2020-03-17 05:06] DistChen commented on #443
@lutzroeder ok, thanks.

[2020-03-17 05:36] Plootie commented on #439
Sorry this took so long
https://drive.google.com/open?id=1ZiW3GXMUm76_vYyJV8JQgtRMaExJ7jd3

[2020-03-18 04:14] #439 closed

[2020-03-19 07:42] fzyzcjy commented on #71
Does not work for me...

model:
[code]

Code:
[code]

Result:

![image](https://user-images.githubusercontent.com/5236035/77043191-f7981800-69f7-11ea-8f2e-0b0e0f76771d.png)

Thanks for any suggestions!

[2020-03-19 14:23] fenollp commented on #248
I +1'd the initial post, here's why:

I edit mediapipe graphs daily at $JOB and [their representation](https://viz.mediapipe.dev/demo/hair_segmentation) also shows graphs vertically (web version isn't open source, yet).
These are computation graphs and such graphs are very largely represented horizontally. See Unreal Engine, Fusion, MaxMSP, and definitely other industry-standard software editing s

[2020-03-19 14:42] fenollp opened #444 "MediaPipe subgraphs support"
Right now viewing mediapipe subgraphs is a bit broken (see for instance https://github.com/google/mediapipe/blob/master/mediapipe/graphs/object_detection_3d/subgraphs/objectron_tracking_gpu.pbtxt )

A subgraph has the root "type" field set to a string (here `type: "ObjectronTrackingSubgraphGpu"`) naming the subgraph.
Then it has the common `input_stream`, `output_stream`, `input_side_packet`, `out

[2020-03-20 03:22] #444 closed

[2020-03-20 06:10] pierricklee commented on #440
Hi Lutz,

As I mentioned, I'm doing the [Tengine ](https://github.com/OAID/Tengine)model supporting. But I'm still stuggling with some bugs.

1. After I updated to your latest code, all my nodes turned to black. However, I've already set categories in metadata, and it shows correct color before I update code.

![image](https://user-images.githubusercontent.com/21244722/77139220-1954d600-6ab0-11ea-

[2020-03-20 08:16] linchaozhang commented on #432
i meet the same question, it works well for pres version, but unsupported after update.
@lujq96  @lutzroeder

[2020-03-20 09:09] lutzroeder commented on #432
@linchaozhang please create a new issue and share the model file.

[2020-03-20 23:02] lutzroeder commented on #440
`Node` now exposes `get metadata()` returning an object with `category` and documentation instead `get category()` and `get documentation()` properties.

In the future you will have to figure out such changes by yourself and provide fixes.

Yes, the question is more why is the Tengine team inventing another new format instead of picking one of the many existing formats that are essentially the sam

[2020-03-21 21:48] mirecta opened #445 "force dark mode in Linux"
Hi this has no config but in screenshots i will see dark mode
so how can i force it in linux

[2020-03-21 21:50] mirecta opened #446 "Model / Network staistics"
It is possibe add statistics as layers count , convolutional op count , operations count, parameters count ?

[2020-03-21 22:02] lutzroeder commented on #445
Duplicate of #414

[2020-03-21 22:03] #445 closed

[2020-03-21 22:03] mirecta opened #447 "Cmdline parameters"
hi
cand find help or listing cmdline parameters somethong like netron --help

[2020-03-21 22:05] lutzroeder commented on #446
Duplicate of #204

[2020-03-21 22:06] #446 closed

[2020-03-21 22:17] lutzroeder commented on #447
The desktop app does not support command line arguments beyond regular OS file open support in Electron.

[2020-03-21 22:17] #447 closed

[2020-03-25 04:17] wl3b10s opened #450 "Export model weights file"
hi
i had a question on

how to automatically save model's weights of each layer to  file through call netron from python?
currently i only know the method to save weights of layer through webpage.

thank you.

[2020-03-25 05:06] lutzroeder commented on #450
This is not supported and currently not a priority. To export all weights load the file with the framework it was created with and use the weights export or one of the many converters out there.

[2020-03-25 05:06] lutzroeder commented on #450
Duplicate of #300

[2020-03-27 02:03] lutzroeder commented on #277
[yolov3_1088x608.cfg.zip](https://github.com/lutzroeder/netron/files/4391007/yolov3_1088x608.cfg.zip)

[2020-03-28 19:18] RobinKa opened #452 "Windows Defender detects uninstaller for 4.0.0 as virus"
After closing Netron and agreeing to updating to 4.0.0, Windows Defender detected the Netron uninstaller as a virus:

![image](https://user-images.githubusercontent.com/2614101/77831706-a3441500-7128-11ea-9f3b-40b9b83d27d1.png)

Maybe it should be submitted here https://www.microsoft.com/en-us/wdsi/filesubmission

[2020-03-28 19:39] lutzroeder commented on #452
electron-userland/electron-builder#4793

[2020-03-29 01:19] #429 closed

[2020-03-29 06:03] sizhky commented on #71
Running this kills jupyter kernel. I was trying to load and save an inception model in this case.

[2020-03-31 09:15] bewithme opened #453 "this tool can not open this model"
the model is stored here

https://drive.google.com/open?id=1Mqpse5Gen4V4403wFEpv3w3JAsWw2uhk

[2020-03-31 12:06] lutzroeder commented on #453
Duplicate of #68

[2020-03-31 12:06] #453 closed

[2020-04-02 04:56] JohnnyOpcode opened #454 "HDF5 export"
Would it be difficult to add HDF5 export like NUMPY in the side-view?

Thx for the most awesome viewer..

Johnny

[2020-04-02 18:35] lutzroeder commented on #454
There isn't a JavaScript serializer for HDF5. Have a look at [hdf5.js](https://github.com/lutzroeder/netron/blob/master/src/hdf5.js) if you want to work on this.

[2020-04-02 18:35] #454 closed

[2020-04-02 18:36] #452 closed

[2020-04-03 05:35] YuyaKobayashi opened #455 "Failed on X11 Forwarding"
Hello,

I was trying to visualize ONNX model via ssh but failed with the following message:

[code]

This error does not appear on other desktop application.

Does anybody know how to fix this?

[2020-04-03 10:10] tuanhe opened #456 "cannot decode the relucel2 & unsqueeze op of the tmfile format"
Hi，there
I had download the latest version of the Netron and open the tmfile , but found it cannot deocde the reducel2 and unsqueeze , could you help to confirm it ?
![图片](https://user-images.githubusercontent.com/4641886/78349425-2f958280-75d6-11ea-9a9b-26fb7c8a79d2.png)
The original model shows like:
![图片](https://user-images.githubusercontent.com/4641886/78349536-5653b900-75d6-11ea-845b-367e4ff

[2020-04-03 10:35] pierricklee commented on #456
Hi,
I found that in Tengine format these operators have not yet been defined according to: https://github.com/OAID/Tengine/blob/master/serializer/include/tengine/v2/tm2_format.h

If they are defined by yourself please commit them to Tengine's master branch and I'll keep Netron up-to-date with it.

Cheers.

[2020-04-03 21:05] #456 closed

[2020-04-04 03:45] lutzroeder opened #457 "Render weight-only files vertically"

[2020-04-04 20:12] lutzroeder opened #458 "Detect invalid content"
[config.json.zip](https://github.com/lutzroeder/netron/files/5398758/config.json.zip)
[config.pbtxt.zip](https://github.com/lutzroeder/netron/files/5398767/config.pbtxt.zip)
[empty.zip](https://github.com/lutzroeder/netron/files/5581087/empty.zip)
[invalid_git_lfs.mlmodel.zip](https://github.com/lutzroeder/netron/files/4432767/invalid_git_lfs.mlmodel.zip)
[invalid_html.mlmodel.zip](https://github.

[2020-04-04 20:12] lutzroeder commented on #458
[SqueezeNet_v1.1.mlmodel.zip](https://github.com/lutzroeder/netron/files/4432373/SqueezeNet_v1.1.mlmodel.zip)

[2020-04-05 00:49] lutzroeder commented on #458
[git-lfs.mlmodel.zip](https://github.com/lutzroeder/netron/files/4432763/git-lfs.mlmodel.zip)

[2020-04-05 00:50] lutzroeder commented on #458
[html.mlmodel.zip](https://github.com/lutzroeder/netron/files/4432764/html.mlmodel.zip)

[2020-04-05 00:51] lutzroeder commented on #458
[invalid_git_lfs.mlmodel.zip](https://github.com/lutzroeder/netron/files/4432767/invalid_git_lfs.mlmodel.zip)

[2020-04-05 00:51] lutzroeder commented on #458
[invalid_html.mlmodel.zip](https://github.com/lutzroeder/netron/files/4432768/invalid_html.mlmodel.zip)

[2020-04-05 01:17] lutzroeder commented on #458
[invalid_html.tflite.zip](https://github.com/lutzroeder/netron/files/4432789/invalid_html.tflite.zip)

[2020-04-06 12:57] NikolasMarkou opened #459 "Attributes change order on each time"
For every node we view attributes change order, it would be beneficial and increase ease of use if they were ordered in the same order always

[2020-04-06 17:15] lutzroeder commented on #459
Can you share a sample file and screenshot?

[2020-04-07 00:47] craigmassie opened #460 "Incorrect file extension split"
When a URL is submitted as a parameter to Netron, the file extension is calculated from the substring of the last "." to the end of the url parameter. This breaks in the case that a URL has a user token i.e. `http:://someurl.com/file.h5?user_token=some.hash.with.dot`

As a workaround, this would extract the extension 'h5' from the url above:`url.split(/\#|\?/)[0].split('.').pop().trim();`

https:/

[2020-04-07 01:47] lutzroeder commented on #460
That approach would fail if the url is `http://someurl/download?filename=file.h5`? Adding `&identifier=file.h5` will override the filename used for detection. For example, `https://lutzroeder.github.io/netron?url=http:://someurl.com/file.h5?user_token=some.hash.with.dot&identifier=file.h5`.

[2020-04-07 02:05] #460 closed

[2020-04-07 02:24] craigmassie commented on #460
Perfect, thanks Lutz.

[2020-04-07 06:54] YuyaKobayashi commented on #455
Sorry, the versions are as below:
[code]

[2020-04-07 10:04] NikolasMarkou commented on #459
@lutzroeder

Check the order here
![image](https://user-images.githubusercontent.com/1175820/78656333-e5f7b100-78cf-11ea-9e70-b75cb5805fe1.png)

and the order here
![image](https://user-images.githubusercontent.com/1175820/78656381-f9a31780-78cf-11ea-9b35-f642ae10e36a.png)

it would be convenient to have the order the same always

[2020-04-07 15:31] GoingTime opened #461 "Hope to support export as .ppt/.pptx file"
Your software has given me great help. But in many cases, the exported .svg file is difficult to edit twice. For example, it may display abnormally when imported into Adobe Illustrator. If Netron support exporting to .pptx files, editing will be simpler, and compatibility issues will not easily occur. PowerPoint supports saving .pptx files as more than 20 different files, and many third-party file

[2020-04-07 15:33] #461 closed

[2020-04-07 15:34] lutzroeder commented on #455
Is this specific to Netron or are you having the same issue with other Electron apps as well?

[2020-04-07 15:43] GoingTime commented on #461
Don't consider supporting exporting to .pptx files in the future? Thank you

[2020-04-07 15:49] lutzroeder commented on #461
@GoingTime can you work on this and submit a PR.

[2020-04-07 15:50] #455 closed

[2020-04-07 15:51] lutzroeder commented on #459
What are downsides of always sorting this alphabetically for all formats and frameworks?

[2020-04-07 16:16] GoingTime commented on #461
Sorry, I have n’t studied JavaScript, maybe I can do something in the future

[2020-04-07 16:35] NikolasMarkou commented on #459
@lutzroeder if its consistent for all i can't think of any downsides

[2020-04-07 21:50] AssassinTee opened #462 "Weird 3 after output layer"
I trained a multilabel-NN and quite happily visualized it with your software.

This is the result:

![pytorch_architecture_png](https://user-images.githubusercontent.com/821401/78722780-77940c80-792a-11ea-8c33-38aed74416e1.png)

There is a 3 at the last node, and I don't understand why? I am predicting 94 classes with the BCEWithLogitsLoss of Pytorch. That's why there is no Activation function.

A

[2020-04-07 21:59] #462 closed

[2020-04-08 01:50] #459 closed

[2020-04-08 02:11] lutzroeder commented on #372
[netron_issue_372.zip](https://github.com/lutzroeder/netron/files/4447843/netron_issue_372.zip)

[2020-04-08 09:49] 00001101-xt commented on #405
How does this resolve the "ckpt" supporting issue?

[2020-04-13 07:27] jiapei100 commented on #357
Same here.... Exactly the same error message.

[2020-04-13 16:35] jiapei100 opened #463 "Error loading model. Invalid file content. File contains Git LFS header."
I just tried the model at [bvlcalexnet-9.onnx](https://github.com/onnx/models/blob/master/vision/classification/alexnet/model/bvlcalexnet-9.onnx).

And after having successfully installed netrno by command `pip install --user netron`, and:

[code]

[2020-04-13 16:49] jojivk73 commented on #68
For large graphs, is it possible to add an option to show a given node +  fanin and fanouts upto specified level.
Example netron <g.pbtxt> -node <node_name> -level 3

[2020-04-13 16:58] lutzroeder commented on #463
Open the file in a text editor and it will **not** and ONNX model but a text header from Git LFS. You incorrectly downloaded the file online or incorrectly cloned a Git LFS repository. It would be great if you can recommend an error message the would make this more obvious.

[2020-04-13 20:20] jiapei100 commented on #463
@lutzroeder

Thank you ... Problem solved.  [https://github.com/onnx/models/blob/master/vision/classification/alexnet/model/bvlcalexnet-9.onnx](https://github.com/onnx/models/blob/master/vision/classification/alexnet/model/bvlcalexnet-9.onnx) is just empty. I've got to click on **Download** on that page to actually download the model file.

Thanks...

[2020-04-13 20:20] #463 closed

[2020-04-13 21:34] lutzroeder commented on #463
@jiapei100 it would be helpful if you can make a recommendation how this error message should be phrased differently (but remain general) so you would have known what to do without asking.

[2020-04-14 00:29] lutzroeder opened #464 "'URLSearchParams' is not defined"
Edge 16.16299 does not support `URLSearchParams`.

#460

[2020-04-14 05:23] #464 closed

[2020-04-15 04:29] lutzroeder opened #466 "Tengine Reshape offset_re_shape has incorrect value"
Tracking OAID/Tengine#261

[2020-04-15 04:29] lutzroeder commented on #466
[netron_issue_466.tmfile.zip](https://github.com/lutzroeder/netron/files/4479140/netron_issue_466.tmfile.zip)

[2020-04-15 04:30] lutzroeder commented on #466
[detect_tflite_issue_466.zip](https://github.com/lutzroeder/netron/files/4479142/detect_tflite_issue_466.zip)

[2020-04-15 04:33] #466 closed

[2020-04-16 01:43] lutzroeder opened #467 "HDF5 weights support"

[2020-04-16 01:43] lutzroeder commented on #467
[mobilenet_v1_1.0_224_quant.zip](https://github.com/lutzroeder/netron/files/4484451/mobilenet_v1_1.0_224_quant.zip)

[2020-04-16 03:57] #467 closed

[2020-04-16 19:16] lutzroeder opened #468 "DataView.getUint16 offset is outside the bounds"
`Offset is outside the bounds of the DataView @ DataView.getUint16`

[2020-04-17 04:55] teijeong opened #469 "Model can't be loaded when there is space in the filename"
Steps to repro (from command line):

seems file paths should be unquoted before loading models

[code]

[2020-04-18 02:00] #469 closed

[2020-04-19 23:52] lutzroeder commented on #193
[LinkedUpdatableTinyDrawingClassifier.zip](https://github.com/lutzroeder/netron/files/4500539/LinkedUpdatableTinyDrawingClassifier.zip)

[2020-04-20 09:13] freddan80 opened #470 "New feature: display tflite metadata"
Hi @lutzroeder! Thanks for creating this project, it's extremely useful. I was wondering if you're interested in adding support for tflite metadata buffer interpretation (or accept contributions). More specifically, I'm interested in offline planned buffer metadata. Some background:

https://docs.google.com/document/d/16aTSHL5wxsq99t6adVbBz1U3K8Y5tBDAvs16iroZDEU/edit

Cheers!
Fredrik

[2020-04-20 14:24] vpenades commented on #415
I realize that, as stated, it is not a priority, but given that Netron has a very nice user interface, it would be really convenient if Netron could act as a sort of GUI for MMdnn, so adding the export feature would be a matter of calling MMdnn.

[2020-04-20 14:32] photopea commented on #415
I think Netron would have 20x more users, if it could convert between network formats.

[2020-04-20 19:06] lutzroeder commented on #470
@freddan80 can you provide some more context. Is this a feature that is supported in TensorFlow Lite  and the current TensorFlow Lite engine or is this a proposal that you are planning implement for another engine? How would this information surface if supported in the UI? Is there official documentation for the officially supported TensorFlow Lite metadata properties?

[2020-04-21 20:32] Aspie96 opened #471 "Tex output"
In reference to, https://github.com/HarisIqbal88/PlotNeuralNet/issues/63, I think it'd be beautiful to have some integration between the two.

Many ways are possible to achieve this.

[2020-04-21 20:54] lutzroeder commented on #471
Netron works without Python installed and hence should not depend on Python packages. Integration with libraries requires that there is a guarantee these libraries get maintained and supported on all platforms going forward. Both would have to be addressed first.

[2020-04-21 20:54] #471 closed

[2020-04-22 06:54] ardeal opened #472 "visualize pth file of Pytorch"
Hi,

I use Netron tool to visualize the pth file from the following link:
https://download.pytorch.org/models/vgg19_bn-c79401a0.pth

If I use Netron tool to visualize some other format file, there are arrow-lines to connect each layer of the network.

but the visualized output network of pth file seems not correct. there is no arrow-lines to connect each layer....

Thanks,
Ardeal

[2020-04-22 07:02] lutzroeder commented on #472
The file contains only tensor weights and no graph information. Load the weights in PyTorch and export to ONNX to get a file that includes the graph.

[2020-04-22 07:02] lutzroeder commented on #472
Duplicate of #133

[2020-04-22 07:02] #472 closed

[2020-04-22 08:22] ardeal commented on #472
@lutzroeder ,
Hi,

I am still confused about how to convert the pth file to onnx file.

at present, I do save the pth file with code:
torch.save(model.state_dict(), filepath)

according to #133 , I got 2 understandings:
1) re-train the model and save the pth file with code: torch.save(model, filepath)
2) don't need to re-train the model. I need to use some code to convert the pth file to onnx file

[2020-04-22 10:52] triwahyuu opened #473 "Torchscript unsupported inplace operator"
I can't open a model that consist of PyTorch inplace operator `torch.Tensor.sub_` and `torch.Tensor.div_`. The problem actually could be solved by using non-inplace operator but I need to use the inplace one.

[2020-04-22 12:55] lutzroeder commented on #473
Can yo u share the model file?

[2020-04-22 13:53] triwahyuu commented on #473
it is just a simple normalization function that I turn into `nn.Module`.
[norm_inplace.pt.zip](https://github.com/lutzroeder/netron/files/4516471/norm_inplace.pt.zip)

[code]

[2020-04-22 14:11] lutzroeder commented on #473
[norm_inplace.pt.zip](https://github.com/lutzroeder/netron/files/4516621/norm_inplace.pt.zip)

[2020-04-22 14:30] #473 closed

[2020-04-23 07:41] freddan80 commented on #470
It's only the RFC document above for now.

We can arrange a sample .tflite file.

There's a PR for it currently. The RFC is approved though. Note that the functionality will only be supported the TFL for microcontrollers runtime, for now.

We'd have to look into this, but I'm imagining a 'Metadata' field under model properties, that is expandable to display the relevant info.

Currently, I'm just

[2020-04-24 09:00] akhilesh2310 opened #474 "Implmentaiton in UI using angular"
Hi

How can I use this in angular project to visualize the uploaded models using UI ?

like something npm install netron ??

[2020-04-24 11:55] lutzroeder commented on #474
This is not supported.

[2020-04-24 11:55] #474 closed

[2020-04-25 04:20] lutzroeder commented on #470
Let's circle back when there is some more clarity and this becomes part of the format standard. Adding an expander for metadata is an option, higher priority would probably be adding standard fields like `description` or `author` or `license` (see Core ML or ONNX). Looks like TensorLite Lit is trying a different approach [metadata_schema.fbs](https://github.com/tensorflow/tensorflow/blob/master/te

[2020-04-25 04:20] #470 closed

[2020-04-26 08:01] flatsiedatsie opened #475 "Netron connects to Google Analytics without any warning"
Netron connects to Google Analytics, but doesn't offer any warning or consent option. This is not permitted under the GDPR.

[2020-04-27 00:52] #475 closed

[2020-04-27 01:03] lutzroeder commented on #475
Please provide feedback if this works as expected. The rules are complicated and keep changing. Since this is a hobby it might be easier to deprecate support for some countries unless there is interest by someone local to debug and provide fixes.

[2020-04-27 01:06] SpikingNeuron opened #476 "The "Netron-Setup-4.1.0.exe" gets stuck while installing"
I am trying to install "Netron-Setup-4.1.0.exe" on windows 10 64 bit machine. And it gets stuck for a long time. See the screenshot below.
![image](https://user-images.githubusercontent.com/2289914/80325096-175eff00-8834-11ea-9976-4364788d806f.png)

[2020-04-27 02:20] lutzroeder commented on #476
@SpikingNeuron can you investigate why this is happening and provide a fix or repro steps. This is likely either an [electron-builder](https://github.com/electron-userland/electron-builder) or machine-specific issue?

[2020-04-27 02:20] #476 closed

[2020-04-27 07:22] freddan80 commented on #470
I'm not sure the format will ever be a part of schema.fbs, since the metadata buffer format is user defined.

Agree. This is key.

I'm not sure what that experimental branch is actually for, but I'll check it out. Thanks! The offline planned tensor implementation is following this format:
https://github.com/tensorflow/tensorflow/blob/2d3828de27879655cc126bc2bb932de299b5153c/tensorflow/lite/schema/

[2020-04-28 01:59] fengxiuyaun opened #477 "how to see size of each layer output feature"

[2020-04-28 02:00] fengxiuyaun commented on #477
how to see size of each layer output feature and FLOPs of the whole net

[2020-04-28 02:31] lutzroeder commented on #477
Output shape: See #71. The answer is different for each model format at the moment. Which model format are you using?

FLOPs: For metrics see #204. This is probably more of a feature of the specific runtime engine. If there is a general way to support this for all formats and you are interesting working on this we can discuss further.

[2020-04-28 02:31] #477 closed

[2020-04-30 20:02] yurivict opened #478 "The float32 value 0.001 is displayed as 0.0010000000474974513"
Testcase: https://people.freebsd.org/~yuri/model-containing-0.001.tflite

The test model has 0.001 in weights, but this number seems to be expanded to 'float64' when displayed.

Version 4.1.2

[2020-04-30 20:44] lutzroeder commented on #478
@yurivict can you have a look and provide a fix?

[2020-04-30 20:57] yurivict commented on #478
I don't have resources, sorry.

I am just a FreeBSD package maintainer and a user.

[2020-05-01 16:28] soyebn commented on #71
Nice feature addition. Some of the segmentation models need OpSet=11. Is there as way we can get this working for OpSet=11?

[2020-05-01 18:06] Roh1t129 opened #479 "Version 4.1.2 failing for certain models!"
[model.zip](https://github.com/lutzroeder/netron/files/4565705/model.zip)

We were using netron to visualize tflite flatbuffer models and various modified versions of them. The models and modified versions executed correctly on target systems and we could visualize them correctly using Netron version 3.9.7. But as soon as we updated to version 4.1.2 the modified graphs netron is giving the followi

[2020-05-01 19:22] lutzroeder commented on #479
[netron_issue_479.zip](https://github.com/lutzroeder/netron/files/4565988/netron_issue_479.zip)

[2020-05-01 19:25] #479 closed

[2020-05-02 10:41] Ghaffaru15 opened #480 "Get model weights for TFlite Models"
Hello,
Any possibility of getting tflite model weights as i would do in Keras using model.get_weights() ?

Help will be much appreciated

[2020-05-02 12:11] #480 closed

[2020-05-02 12:40] gustheman opened #481 "TensorFlow Lite metadata support"
Showing TF Lite metadata when viewing a model would help understanding it's usage
The same feature also allows the developer to append resources files to the model (like label and vocab files). Showing this would also be great

Official doc: https://www.tensorflow.org/lite/convert/metadata
lib code: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/support/metadata

[2020-05-02 13:10] lutzroeder commented on #481
Can you provide a few sample files?

[2020-05-02 23:40] lutzroeder opened #484 "OpenVINO: cannot read property 'toLowerCase' of null"
[netron_issue_484.zip](https://github.com/lutzroeder/netron/files/4569338/netron_issue_484.zip)

[2020-05-02 23:40] lutzroeder commented on #484
[netron_issue_484.zip](https://github.com/lutzroeder/netron/files/4569338/netron_issue_484.zip)

[2020-05-03 00:31] lutzroeder commented on #481
[mobilenet_v1_0.75_160_quantized.zip](https://github.com/lutzroeder/netron/files/4569400/mobilenet_v1_0.75_160_quantized.zip)

[2020-05-03 00:40] lutzroeder commented on #481
tensorflow/tensorflow#39109

[2020-05-03 00:52] #484 closed

[2020-05-03 01:51] #481 closed

[2020-05-05 22:18] gustheman commented on #481
sorry for the delay in getting you a sample and thanks for already having it!!

[2020-05-08 10:25] naveen-chander opened #485 "Scale Factor Clarification"
I'm looking to hand-code the forward path for a quantized model using the values from Netron GUI.

I'm not sure what the value in the "quantization " field means. Is it the scaling factor? ( weight = q* uint8_number)
if so, then what is the meaning when the quantization has "0.046*q--9" in its field?(image attached)

![netron_image](https://user-images.githubusercontent.com/65017357/81397050-328b1

[2020-05-09 03:52] lutzroeder commented on #485
[schema.fbs](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/schema/schema.fbs)

[code]

[2020-05-09 03:52] #485 closed

[2020-05-09 20:38] lutzroeder opened #486 "Barracuda support"

[2020-05-09 20:39] #486 closed

[2020-05-10 20:12] lutzroeder opened #487 "TensorFlow Lite JSON support"
`flatc -t --strict-json --defaults-json -o . schema.fbs -- filename.tflite`

[2020-05-10 20:12] lutzroeder commented on #487
[face_detection_front.zip](https://github.com/lutzroeder/netron/files/4606685/face_detection_front.zip)

[2020-05-10 20:39] lutzroeder commented on #487
[hair_segmentation.zip](https://github.com/lutzroeder/netron/files/4606715/hair_segmentation.zip)

[2020-05-10 20:46] lutzroeder commented on #487
[speech_tts_model_2017_11_14.zip](https://github.com/lutzroeder/netron/files/4606719/speech_tts_model_2017_11_14.zip)

[2020-05-10 23:02] #487 closed

[2020-05-11 09:17] nihui opened #488 "connection missing for one ncnn model"
The last layer, Yolov3DetectionOutput, consumes three inputs, but the 160_1131 connection is missing

[yolov4.param.txt](https://github.com/lutzroeder/netron/files/4608668/yolov4.param.txt)

![QQ截图20200511171505](https://user-images.githubusercontent.com/171016/81545113-fefdf100-93aa-11ea-8f22-99166f6c12bd.png)

[2020-05-11 10:46] #488 closed

[2020-05-11 12:58] holoLens8 opened #489 "Weights export"
Is there a way to export weights as int8 instead of float32.
I tried to visualize a quantized network, but I always get float32 weights.

[2020-05-11 14:41] bmartinn opened #490 "Integrate with Trains"
Hi @lutzroeder
I love what you are doing with Netron!
It is an awesome tool, and I thought it might be nice to have Netron visualize models created in [Trains](https://github.com/allegroai/trains) .

Since Trains auto-magically logs (and can upload) any models stored with PyTorch/TF/Keras/Scikit/XgBoost , I thought it will be nice to have the ability to visualize them with Netron.

What do you thi

[2020-05-11 14:57] lutzroeder commented on #489
Can you share the model file?

[2020-05-11 15:07] lutzroeder commented on #489
Duplicate of #300

[2020-05-11 15:07] #489 closed

[2020-05-11 15:14] lutzroeder commented on #490
Have you tried sending the model using the`?url=` parameter to the Netron browser version?

https://lutzroeder.github.io/netron?url=https://raw.githubusercontent.com/google/mediapipe/master/mediapipe/models/hair_segmentation.tflite

[2020-05-11 15:14] #490 closed

[2020-05-11 15:30] bmartinn commented on #490
Yes, that works :)
I thought that it would be nice to somehow pass the URL through the server. Let's assume we have a server storing the file, and next to it a server running Netron. If the model file is large then download might take a while. If you are switching between different models, than downloading every model (which could be half a minute) is not the best experience. I thought it might be

[2020-05-11 16:03] holoLens8 commented on #489
Here is the file.
Thanks

Nermine

Le lun. 11 mai 2020 à 16:57, Lutz Roeder <notifications@github.com> a
écrit :

[2020-05-11 18:50] HarryVancao commented on #342
I appreciate your efforts on this. Can you clarify the status on this feature? Is there supported in the desktop or browser version of Netron?

[2020-05-11 19:11] holoLens8 opened #491 "Blue screen"
After installing the application on windows 10, I'm always getting a bluescreen.

[2020-05-11 20:02] lutzroeder commented on #490
Netron is running on the client (in the browser), there is no "server". One approach to make downloads faster might be stripping the weights from the model file (or not serving weights files).

[2020-05-11 20:04] lutzroeder commented on #491
- Is this happening on multiple computers or only a single one?
- Is this happening for other Electron apps as well, [Caprine](https://github.com/sindresorhus/caprine/releases) for example?
- Can you provide steps to reproduce this behavior? For example, is the blue screen happening after the installer completes or when launching the app?
- Can you investigate if there are any error logs or what m

[2020-05-11 20:05] #491 closed

[2020-05-11 20:09] lutzroeder commented on #489
ONNX forums might be a better place to ask how quantization works in ONNX?

[2020-05-12 05:51] holoLens8 commented on #491
I did not try on multiple computers.
The blue screen happens after launching the app or after closing it.
When uninstalled it, everything is back to normal.

[2020-05-12 18:51] bmartinn commented on #490
I see... Actually from how it looks, Netron could be statically served, e.g. Nginx could just serve the entire folder, correct?
Also, I was thinking I could  probably add an external interface to NodeJS , and run the processing part on a NJS server, and only send the display .json  for the client to display?

[2020-05-13 03:09] lee64456546 opened #492 "pytorch: how to get pytorch input and output node information"
how to get pytorch input and output node information

[2020-05-13 03:41] lutzroeder commented on #492
Can you share a sample file? Based on the format you are using PyTorch might or might not store that information in the file.

[2020-05-13 03:45] lee64456546 commented on #492
[sample_net.zip](https://github.com/lutzroeder/netron/files/4619704/sample_net.zip)

[2020-05-13 03:51] lutzroeder commented on #492
This format doesn't store all information about the graph. Even the graph is more a best guess extracted from what's in the file. Best approach is probably to use the code that produced this file and export to ONNX and use ONNX inference (see #71) to fill in the shapes.

[2020-05-13 03:51] #492 closed

[2020-05-13 07:23] cowyyy opened #493 "Link to model files on Ubuntu 16.04"
recently I upgrade from netron3 to netron4 on UBUNTU16.04 and find that only .APPIMAGE provided, but this won't automatically link to any models file(onnx, pt etc.), I have to open and drag model into Netron. I tried a lot(also snap) but cannot fix it.

[2020-05-13 09:07] lutzroeder commented on #493
@cowyyy can you investigate this issue and recommend a fix?

[2020-05-15 07:45] #493 closed

[2020-05-16 19:54] DrChainsaw opened #494 "Batch mode for figure export?"
Is there a way to progamatically export a png given a model file, something like `netron.exe -m model.onnx -png model.png`?

Use case is that I'd like to put it in the loop when doing neural architecture search so that it afterwards is possible to visualize how the architecture evolved.

[2020-05-16 19:59] lutzroeder commented on #494
Duplicate of #162

[2020-05-16 19:59] #494 closed

[2020-05-19 05:16] vikramdattu opened #495 "Feature to export model in different format"
Hi @lutzroeder

Is it possible to add a feature to export an imported model to different format?
Is it okay if that feature only desktop specific.

I am looking for a tool to import a .tflite model and optimize it for size with obvious tradeoffs in accuracy.

[2020-05-19 05:33] lutzroeder commented on #495
Duplicate of #415

[2020-05-19 05:33] #495 closed

[2020-05-20 04:39] chankim opened #496 "Linux "cannot open display: :1" error"
hi,
I've installed netron by 'snap install netron' but how should I use it?
I tried 'netron' but didn't work. tried 'snap run netron' but it gives me

No protocol specified
(netron:11020): Gtk-WARNING **: 13:37:59.767: cannot open display: :1

I tried setting 'export DISPLAY = :0.0' to no avail. and tried 'sudo snap run netron' and it gives me
mkdir: cannot create directory '/run/user/0': Permissi

[2020-05-20 05:11] lutzroeder commented on #496
Can you have a look at sindresorhus/caprine#1006 or electron/electron#10915 and try if this works?

[2020-05-21 01:20] chankim commented on #496
Thanks,
by the way, I was doing it on a vnc window, so I tried it on console widow just now.
it runs ok with 'snap run netron'. so sure it is Xorg related(?). I'll try your method sooner or later.

[2020-05-21 01:21] #496 closed

[2020-05-21 09:00] NikolasMarkou commented on #478
@lutzroeder and @yurivict if you load up the data as float and then display it then the internal representation of 0.001 is not accurate in float32 or float64. So the only way to accurately show it is use numeric format when loading and avoid the conversion all together

[2020-05-21 13:34] hollance commented on #478
There is no such thing as the 32-bit float value 0.001. Your tflite model does not have a weight that is 0.001. It has a weight that is 0.0010000000474974513.

Do the following in Python to see this (or your favorite language):

[code]

It will print 0.00100000004749745131.

[2020-05-21 16:17] yurivict commented on #478
You are right!

```libdouble-conversion``` (https://github.com/google/double-conversion) says that the decimal representation for ```0x3a83126f``` is ```0.0010000000474974513```.

[2020-05-21 16:17] #478 closed

[2020-05-21 17:17] lutzroeder commented on #478
[code]

[code]

[2020-05-21 17:35] yurivict commented on #478
This shows that ```printf``` and ```System.Console.WriteLine``` have some arbitrary rounding thresholds and don't display floating point values properly.

libdouble-conversion converts to a decimal representation precisely, but it unfortunately only has a C API interface and is therefore more difficult to use.

[2020-05-21 19:43] hollance commented on #478
Just to be pedantic about it :smile:, if you replace `printf("%f\n", float_value);` in the C version with `printf("%.20f\n", float_value);` it gives the 0.0010000000474974513 version.

[2020-05-22 12:06] psyhtest opened #497 "PyTorch: Loading 10 GB model fails"
Loading the [~10 GB DLRM model](https://dlrm.s3-us-west-1.amazonaws.com/models/tb0875_10M.pt) from [MLPerf Inference](https://github.com/mlperf/inference/tree/db0b7eb368f009adf703d073765aa212d1f3a026/v0.5/recommendation) [failed](https://github.com/mlperf/inference/issues/608#issue-623152831) on an Ubuntu 18.04 machine with 32 GB RAM:
- from the browser: `File read error '0'.`
- from the command l

[2020-05-22 15:01] mbalatsko opened #498 "sklearn ColumnTransformer and FeatureUnion support"
It would be great to add a feature of visualization branching inside `sklearn.pipeline.Pipeline`. For now, all transformers which are inside  `ColumnTransformer` or `FeatureUnion` are not visualized and are shown as attributes. This makes not possible to get pipeline structure insight. To be more clear I'll add an example how it should look like.

Current visualization:
![Current vizualization](ht

[2020-05-22 15:05] mbalatsko commented on #498
I can help you with this improvement and actually get it done. If you are interested do not hesitate to contact me. Your project is used in one product that I really like and I would really appreciate this improvement

[2020-05-22 19:06] lutzroeder commented on #498
@mbalatsko can you share a sample file?

[2020-05-22 21:13] mbalatsko commented on #498
Code with column transformer:
[code]
Model file:
[column_transformer_pipeline.zip](https://github.com/lutzroeder/netron/files/4670399/column_transformer_pipeline.zip)

[2020-05-22 21:17] mbalatsko commented on #498
Code with feature union:
[code]
Model file:
[feature_union_pipeline.zip](https://github.com/lutzroeder/netron/files/4670418/feature_union_pipeline.zip)

[2020-05-23 01:29] ankandrew opened #499 "TensorFlow Lite: FlexBuffers support"
I couldn't find an issue related. The doubt is why I can't see this model properly: https://github.com/google-coral/edgetpu/raw/master/test_data/efficientnet-edgetpu-S_quant_edgetpu.tflite

I just see the following:

![image](https://user-images.githubusercontent.com/61120139/82718841-8127c880-9c7b-11ea-8f62-457bc393385a.png)

[2020-05-23 02:04] ankandrew commented on #499
Thanks

[2020-05-23 02:10] ankandrew commented on #499
Behind the scenes edgetpu-custom-op is doing some commons operations, and in the case this is a strange format not considered yet, can't it get supported?

[2020-05-23 02:12] ankandrew commented on #499
@lutzroeder a short comment could help

[2020-05-23 02:14] lutzroeder commented on #499
It's a custom operator with binary data which is not included in the documentation. If you can find documentation feel free to add support.

[2020-05-23 06:25] devinlife commented on #342
I appreciate your efforts on netron. I really like netron!!!
I'm waiting for update for supporting TF2.0 saved_model.
I save models as Keras H5 type now.

[2020-05-23 17:30] yurivict opened #500 "Inputs validation"
Testcase: https://people.freebsd.org/~yuri/model-bad-Split.tflite

The Split operator there only has one input (axis) when two inputs are required: axis and input

netron can easily show a warning about the input number mismatch.

Version: 4.1.2

[2020-05-23 17:42] lutzroeder commented on #500
@yurivict make sure that when you find time to work on this it will support all operators and all 25+ supported formats.

[2020-05-23 17:52] yurivict commented on #500
Sorry, I am only a user and a package maintainer, and don't have resources to develop patches.

[2020-05-23 18:32] mbalatsko commented on #498
@lutzroeder https://github.com/lutzroeder/netron/pull/501 pls review my PR

[2020-05-23 19:56] lutzroeder commented on #498
[column_pipeline.zip](https://github.com/lutzroeder/netron/files/4672437/column_pipeline.zip)
[column_transformer_pipeline.zip](https://github.com/lutzroeder/netron/files/4672438/column_transformer_pipeline.zip)

[2020-05-24 09:03] mbalatsko commented on #498
@lutzroeder #502 pls review my PR

[2020-05-24 22:45] #498 closed

[2020-06-02 05:25] lutzroeder opened #504 "Error: EACCES: permission denied, open "..." on Linux"
Snap on Linux will restrict folder access unless required [interfaces](https://snapcraft.io/docs/supported-interfaces) are connected. The [removable-media](https://forum.snapcraft.io/t/auto-connect-removable-media-for-netron/17919) interface is getting auto-connected. [Other](https://forum.snapcraft.io/t/auto-connect-personal-files-for-netron/33024) interfaces will require a manual connection.

[2020-06-03 04:50] daquexian opened #505 "onnx model fails to open in web version"
https://drive.google.com/file/d/1x6owrQOCicgiRkd7dAcV-QP_O2yK_j1s/view?usp=sharing

it is a simple onnx model containing only a transpose node, whichl can be open in netron 4.2.7 installed from pypi, but cannot be open in https://netron.app

[2020-06-03 05:40] lutzroeder commented on #505
How are you trying to open it, in which browser, which OS and what is not working?

[2020-06-03 05:57] daquexian commented on #505
@lutzroeder it is on ubuntu 16.04, chrome 81. the error message is "Error loading model: Unknown node operator 'undefined' in 'ONNX v6'"

But the problem has disappeared after I refreshed the webpage just now, should I close this issue? ( I also refreshed several times before posting the issue but not work)

[2020-06-03 06:01] #505 closed

[2020-06-03 07:23] akjoshi6 opened #506 "Provide local path as query string"
Like we are able to provide url parameter in query string for netron server. Can we also provide local file path as query string

For example:

https://localhost:8080/?filepath=/home/user/filename.pb

[2020-06-03 07:44] keosu opened #507 "a comma is missing in keywords array of setup.py"
between these two words:  'mnn' 'openvino'

[2020-06-03 08:42] #507 closed

[2020-06-03 08:44] lutzroeder commented on #506
How would this work given the browser doesn't have access to your files?

[2020-06-03 08:53] akjoshi6 commented on #506
I wanted to access local files where local server is running or self hosted files in case of server.

Got it running using this:
http://localhost:8080/?data=home/akshay/models/detection.pb

Thanks.

[2020-06-03 08:53] #506 closed

[2020-06-03 11:28] hl0737 opened #508 "UnicodeDecodeError: 'utf-8' codec can't decode byte"
hi, i want to visulize my pytorch network and i save it use 'torch.save(net, './best_model.pth')'

but when i input the commond 'netron best_model.pth' in console, it prompt

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xce in position 0: invalid continuation byte

so , whats the problem ????

[2020-06-03 15:41] lutzroeder commented on #508
Can you share the model file? What OS and Python version are you using? Does the same error happen when you load the file in the web version?

[2020-06-03 19:50] shawnlewis opened #509 "Ensure version string gets added as meta tag in index.html in more build cases"
I'm using build_python to get an embeddable javascript bundle.

Currently the version meta tag only gets added to index.html by the publish_github_pages make step. It seems like it would be nice to add it earlier in the process, so that it's there if someone grabs the js bundle from dist.

[2020-06-04 01:55] lutzroeder commented on #509
For context, this is not a supported scenario. `build_github_pages` builds a website, not a bundle.

[2020-06-04 01:57] #509 closed

[2020-06-05 09:59] akhilesh2310 opened #510 "How to build same model using drag and drop feature in UI"
Hi

I would like to know how can I build same graph using drag and drop.
Basically this library gives the preview of existing model and My requirement is to create new model from scratch using drag and drop layers in UI. Any guidance would help. Thank you.

[2020-06-05 20:18] lutzroeder commented on #510
Duplicate of #275

[2020-06-05 20:18] #510 closed

[2020-06-05 20:18] #508 closed

[2020-06-07 00:24] lutzroeder opened #511 "UFF support"

[2020-06-07 00:24] lutzroeder commented on #511
[tmp_v2_coco.zip](https://github.com/lutzroeder/netron/files/4741218/tmp_v2_coco.zip)

[2020-06-07 09:46] TechyNilesh commented on #248
In which version Horizontal Layout(snake layout) is present in on netron?? I did not find any options.

[2020-06-08 07:00] handw-github opened #513 "Disable auto update"
how to disable automatic update？

[2020-06-08 07:08] lutzroeder commented on #513
This is not supported.

[2020-06-08 07:08] #513 closed

[2020-06-10 15:51] mm7721 opened #514 "TensorFlow Lite: activations removed from layers"
Hi there,

First off, just wanted to say thanks for creating such a great tool - Netron is very useful.

I'm having an issue that likely stems from Tensorflow, rather than from Netron, but thought you might have some insights. In my flow, I use TF 1.15 to go from .ckpt --> frozen .pb --> .tflite.  Normally it works reasonably smoothly, but a recent run shows an issue with the .tflite file: it is c

[2020-06-10 17:21] #514 closed, assigned to mm7721

[2020-06-11 01:36] lutzroeder opened #515 "Arm NN support"

[2020-06-11 01:38] #515 closed

[2020-06-11 01:39] lutzroeder opened #516 "Fix TensorFlow Lite attribute metadata"

[2020-06-11 01:50] lutzroeder commented on #514
`.tflite` file is a flatbuffer using [schema.fbs](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/schema/schema.fbs). To convert to JSON you can run #487.

[2020-06-11 02:26] lutzroeder commented on #514
Unrelated, `fused_activation_function` is not getting resolved correctly in 4.3.1 (#516).

[2020-06-11 02:27] lutzroeder commented on #514
tensorflow/tensorflow#40363

[2020-06-11 02:46] Tydus opened #517 "Unsupported datatype class '8' in Keras model"
When I was trying to import a keras model (namely WDSR, download from [google drive](https://drive.google.com/open?id=1JfQNGQZ9cG-lyC5EB0W3MpySjPlDJXpU)), it prompts me like this.

I'm not familiar with the internals so I cannot see what happened. Just guessed the reason is the lambda layers?

Keras shipped `plot_model` gave me as follows (ugly).
 ![download](https://user-images.githubusercontent.

[2020-06-11 03:40] #516 closed

[2020-06-11 03:42] #511 closed

[2020-06-11 04:06] lutzroeder commented on #517
The file only contains weights, no graph (see #73). Can you share the code that produced the file?

The error is due to a low level HDF5 parsing issue storing `initialized:0` for the normalization layers. It should be an easy fix but the spec is a bit vague.

[2020-06-11 05:14] #517 closed

[2020-06-11 16:18] mm7721 commented on #514
Awesome, thanks.  Exactly what I was looking for.

[2020-06-11 19:17] mm7721 commented on #514
Ok, got flatc working.  I notice that there are relu6 activations present in the json, but these don't show up in the Netron display.  Is this expected (perhaps related to the issue you mentioned about fused activations)?

For example:
          "type": "UINT8",
          "buffer": 227,
          "name": "FeatureExtractor/MobilenetV2/expanded_conv_12/expand/Relu6",
          "quantization": {

[2020-06-11 19:22] lutzroeder commented on #514
Can you share the file?

[2020-06-11 22:19] mm7721 commented on #514
Sure, here's the .tflite file.  Will that suffice?

[model.zip](https://github.com/lutzroeder/netron/files/4767629/model.zip)

[2020-06-11 23:41] lutzroeder commented on #514
<kbd>Ctrl</kbd>+<kbd>F</kbd> or <kbd>&#8984;</kbd>+<kbd>F</kbd>, search for `FeatureExtractor/MobilenetV2/expanded_conv_12/expand/Relu6`. It will show that this is a connection between two nodes with quantization min/max at 0...6.

<img width="1136" alt="screenshot" src="https://user-images.githubusercontent.com/438516/84449382-1f1b0d00-ac02-11ea-8c69-d10b5d7bc997.png">

[2020-06-12 00:13] mm7721 commented on #514
Ahhh so it is there, just not explicitly displayed.  I've got other builds of the same model (but with different param values), and sometimes the activation layer is displayed visually within the Conv2D or DepthwiseConv2D box.  What determines if it's displayed explicitly or if it's embedded in an arrow between layers?

![relu6_display](https://user-images.githubusercontent.com/48816441/84451074-c

[2020-06-12 01:52] lutzroeder commented on #514
Layer gets stripped from the model and replaced with min/max when quantitation is used? Like I said, TensorFlow repo is probably a better place to ask those questions. It’s all open source so you can even look at the code.

[2020-06-12 03:19] lutzroeder opened #519 "PyTorch quantized weights support"

[2020-06-12 03:30] #519 closed

[2020-06-12 11:56] dhruvin2910 opened #520 "Feature Request: Netron TensorBoard Plugin"
First off, thank you for developing this project.

TensorBoard seems to be good at visualising graphs of the models, but only of its own ecosystem.
I think it'd be great if we can extend its functionality with Netron by providing a plugin for TB.

So I developed a TB plugin. I tested a couple of keras models and it seems to be working fine.

I was wondering if you think something like this could b

[2020-06-12 19:05] lutzroeder commented on #519
[mnist_linear_static_quantized.zip](https://github.com/lutzroeder/netron/files/4772727/mnist_linear_static_quantized.zip)

[2020-06-12 19:05] lutzroeder commented on #519
[mnist_linear_dynamic_quantized.zip](https://github.com/lutzroeder/netron/files/4772730/mnist_linear_dynamic_quantized.zip)

[2020-06-13 02:21] lutzroeder commented on #520
It's not a priority at the moment. Can you explain some more how this would work and how it would be used? The general trend is that each "integration" comes with additional bugs and maintenance overhead so that would need to be addressed.

[2020-06-13 02:21] #520 closed

[2020-06-13 02:22] lutzroeder commented on #519
[mnist_linear_static_quantized.zip](https://github.com/lutzroeder/netron/files/4773859/mnist_linear_static_quantized.zip)

[2020-06-13 02:22] lutzroeder commented on #519
[mnist_linear_dynamic_quantized.zip](https://github.com/lutzroeder/netron/files/4773860/mnist_linear_dynamic_quantized.zip)

[2020-06-13 04:58] lutzroeder commented on #519
[mnist_linear_static_quantized.zip](https://github.com/lutzroeder/netron/files/4774022/mnist_linear_static_quantized.zip)

[2020-06-13 04:58] lutzroeder commented on #519
[mnist_linear_dynamic_quantized.zip](https://github.com/lutzroeder/netron/files/4774023/mnist_linear_dynamic_quantized.zip)

[2020-06-13 06:53] dhruvin2910 commented on #520
Please see this [video](https://imgur.com/a/j45SiiU).
Netron hosts the static files when `$ netron ...` is run.
Here, the tensorbaord hosts the files, provided by `netron` package.
The plugin is just a [wrapper](https://github.com/dhruvin2910/netron/blob/4a3ce8c9d309be948a8246eddc9ec5033f9820bf/src/tb_plugin.py) to bring the visualisations at one place.

I can understand.

[2020-06-13 12:14] lutzroeder opened #521 "TNN support"

[2020-06-13 12:19] #521 closed

[2020-06-15 11:32] postrational opened #522 "Netron fails to start behind VPN"
I had problems starting recent versions of Netron while being connected to our company VPN. The application was stuck on the initial spinner and never loaded a model. Disconnecting from VPN helped, the app started. It now starts normally.

Whatever call home Netron does as it's starting, perhaps it should timeout after a few seconds.
Better support for detecting VPN settings may be a fix.

[2020-06-15 12:18] lutzroeder commented on #522
Desktop or browser version? Can you run with a debugger and find what is causing it?

[2020-06-15 12:18] #522 closed

[2020-06-16 06:13] wizcheu commented on #248
I‘m looking for the SNACK layout too...

[2020-06-17 02:48] daydayfun opened #523 "[Ubantu 18.04] How to save the visualization result loaclhost:8080 to .html"
I'm using this tool in Ubantu 18.04.
The visualization result is in localhost:8080, the result is execllent.  But I don't know how to save the result as a file.(such as resnet50.html/mlp.html/mobilenet.html...)

Can you help me fix the requirement, thanks very much!

[2020-06-17 02:50] daydayfun commented on #523
I try to modify server.py to save the  visualization result, but failed...

[2020-06-17 02:54] lutzroeder commented on #523
Duplicate of #162

[2020-06-17 02:54] #523 closed

[2020-06-17 06:08] daydayfun commented on #523
Thanks very much,  I'm going to use the offline Appimage

[2020-06-17 06:18] lutzroeder commented on #523
The browser version includes these options:

<img width="610" alt="screenshot" src="https://user-images.githubusercontent.com/438516/84862235-acf26000-b027-11ea-9889-4feb9a7fcc69.png">

[2020-06-17 08:06] daydayfun commented on #523
How to use the appImage in command line, can you help me with some example

[2020-06-22 01:50] wangyexiang commented on #248
Dear sir, do you find the solution?@TechyNilesh

[2020-06-22 02:15] TechyNilesh commented on #248
No, I did not find any solution, If you get please share.

Actually This is very basic functionality, why there owner not providing??

[2020-06-23 00:43] wangyexiang commented on #248
Dear sir, THX.@TechyNilesh

[2020-06-23 01:39] GuideWsp opened #527 "Can you provide a functioin on export parameter of the model?"
Netron is a very good tools, I nearly use it everyday. Recently, I want to export the model parameters of t7, so if you can provide a function to export the parameters of the model to npy or mat?

[2020-06-23 03:31] lutzroeder commented on #300
#450 tracking exporting weights file.

[2020-06-23 03:44] lutzroeder commented on #527
Duplicate of #300

[2020-06-23 03:44] #527 closed

[2020-06-23 03:58] GuideWsp commented on #527
oh, I know how to it, thank you very much

[2020-06-23 12:23] Chiragasourabh opened #528 "source code of old version"
@lutzroeder , can I get source code of 4.1.2 release version or python wheel of that particular version

[2020-06-23 16:39] #528 closed

[2020-06-24 14:49] alishobeiri commented on #476
Hi, I am having the same problem.

For me, I had Netron installed, I uninstalled because it was not opening and then when I go to reinstall it, I get stuck exactly where SpikingNeuron is stuck.

Is there a way around this or any files I need to clean off my machine?

[2020-06-24 16:07] lutzroeder commented on #476
@alishobeiri same as above. There is no repro or indication what is causing this to happen so there isn’t a way to investigate. Can you check Event Viewer? Is there anything special with you Windows version? What version of Windows are you using. Can you search the electron-builder issues or file an issue there. It would be helpful if you can investigate this and provide some insights.

[2020-06-26 01:40] lutzroeder opened #529 "TorchScript: Unsupported function 'torch.layer_norm'"

[2020-06-26 01:41] lutzroeder commented on #529
[netron_issue_529.zip](https://github.com/lutzroeder/netron/files/4834633/netron_issue_529.zip)

[2020-06-28 23:21] #529 closed

[2020-06-29 00:03] #248 closed

[2020-07-01 12:55] lyfe667 opened #530 "TorchScript: Unsupported function 'torch.empty'"

[2020-07-01 18:32] lutzroeder commented on #530
Can you share a sample file?

[2020-07-02 02:03] lyfe667 commented on #530
Sorry, I can't upload the model because of the security policy of our company. It is yolov3 , the repo is there: https://github.com/eriklindernoren/PyTorch-YOLOv3 . I have solved the issue by modifying torch.empty to torch.zeros .

[2020-07-02 02:31] #530 closed

[2020-07-04 17:58] IgnacioJPickering commented on #168
+1 The models I'm currently working with start off with If operators and netron can't visualize the model at all, is there any current workaround for this?

[2020-07-06 11:07] AlexeyAB opened #531 "Darknet: YOLOv4-tiny (detector)"
@lutzroeder Hi,

Feature-request: YOLOv4-**tiny** (detector)

* **source code**: https://github.com/AlexeyAB/darknet
* **cfg**: https://raw.githubusercontent.com/AlexeyAB/darknet/master/cfg/yolov4-tiny.cfg
* **weights**: https://github.com/AlexeyAB/darknet/releases/download/darknet_yolo_v4_pre/yolov4-tiny.weights
* **discussion**: https://github.com/AlexeyAB/darknet/issues/6067

There is required

[2020-07-06 20:10] #531 closed

[2020-07-06 20:24] AlexeyAB commented on #531
@lutzroeder Thanks!

Will https://lutzroeder.github.io updated in a several days?

https://lutzroeder.github.io/netron/?url=https://raw.githubusercontent.com/AlexeyAB/darknet/master/cfg/yolov4-tiny.cfg

[2020-07-06 21:56] #457 closed

[2020-07-06 22:13] #500 closed

[2020-07-07 13:53] maltanar opened #532 "How to render custom ONNX annotations"
Hi! First of all, thank you for making Netron and sharing it with the community. We use Netron in our quantized neural network compiler FINN (https://github.com/Xilinx/finn) to visualize ONNX, including as part of Jupyter notebook visualizations and it's been immensely useful.

I would like to extend Netron to render some ONNX annotations but I don't know where to start, so I thought I'd ask for s

[2020-07-07 14:03] lutzroeder commented on #532
Can you share a sample file?

[2020-07-07 14:09] maltanar commented on #532
Sure, here is one:

[end2end_tfc_w1a1_oqnt_streamlined.zip](https://github.com/lutzroeder/netron/files/4885310/end2end_tfc_w1a1_oqnt_streamlined.zip)

Here's how accessing the annotations look like in Python, for reference:

[code]

[2020-07-07 14:18] lutzroeder commented on #532
[end2end_tfc_w1a1_oqnt_streamlined.zip](https://github.com/lutzroeder/netron/files/4885362/end2end_tfc_w1a1_oqnt_streamlined.zip)

[2020-07-07 14:23] lutzroeder commented on #532
<img width="990" alt="screenshot" src="https://user-images.githubusercontent.com/438516/86795762-bec19480-c022-11ea-845c-d51efeaaeee8.png">

[2020-07-07 17:13] maltanar commented on #532
Fantastic, thank you!

[2020-07-07 17:13] #532 closed

[2020-07-08 08:05] israelwei opened #533 "TensorRT support"
Hello,
first of all, thanks for this awesome tool! It's extremely helpful.
Is there a possibility / option to open in Netron also "engine" files of TensorRT inference engine? Because currently I see it's not possible but I think it might be helpful...

[2020-07-08 09:11] lutzroeder commented on #533
Can you share a sample file?

[2020-07-08 09:49] israelwei commented on #533
Attached below (standard imagenet classification model)
https://drive.google.com/file/d/1C6y4Pozah_0jMvSm5fCctFnvRZRiFFJC/view?usp=sharing

[2020-07-08 10:38] lutzroeder commented on #533
Is this format documented?

[2020-07-08 12:21] israelwei commented on #533
It's possible to deserialize such a file either in Python / C++, but there are prerequisites (cuda version and TensorRT version)
https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#serial_model_python
Important note: Since TensorRT applies device-specific optimizations, the engine file needs to run on the same kind of OS it was generated; So since I created the above model on

[2020-07-09 02:59] #533 closed

[2020-07-09 03:06] lutzroeder commented on #533
Unless this format is documented not sure much can be done here. Netron has a browser-only version so even if a Python or C++ API existed (which is not only geared towards inference) it wouldn't be useful.

[2020-07-10 01:23] alxmamaev opened #534 "Search node by name"
Add input bar for search node with name by regexp

[2020-07-10 03:43] lutzroeder commented on #534
Duplicate of #37

[2020-07-10 03:43] #534 closed

[2020-07-10 03:44] lutzroeder commented on #37
Find dialog shortcut is <kbd>Cmd</kbd>+<kbd>F</kbd> or <kbd>Ctrl</kbd>+<kbd>F</kbd>.

[2020-07-14 15:27] TomWildenhain-Microsoft opened #535 "ONNX: Subgraph support"
TF models show a "subgraph" dropdown for viewing subgraphs, but ONNX models do not.  The ability to view ONNX subgraphs would be extremely helpful to me.

[2020-07-14 18:20] lutzroeder commented on #535
Can you share a sample file?

[2020-07-14 18:32] TomWildenhain-Microsoft commented on #535
Sure.  This graph has a subgraph for the then and else branches.  Thanks!  [https://github.com/TomWildenhain-Microsoft/onnx-example-with-subgraphs/blob/master/k1.onnx](https://github.com/TomWildenhain-Microsoft/onnx-example-with-subgraphs/blob/master/k1.onnx)

[2020-07-14 20:11] mehrdadh opened #536 "RangeError Maximum call stack size exceeded with MobileBert model"
I tried to visualize the saved models from mobilebert and ran into this error. Here is a link to .pb files:
[https://storage.googleapis.com/cloud-tpu-checkpoints/mobilebert/mobilebert_squad_savedmodels.tar.gz](https://storage.googleapis.com/cloud-tpu-checkpoints/mobilebert/mobilebert_squad_savedmodels.tar.gz)

However I tried with the tflite version from this link and it worked:
[https://storage.g

[2020-07-15 06:07] lutzroeder commented on #276
[autocolorize.zip](https://github.com/lutzroeder/netron/files/4923194/autocolorize.zip)

[2020-07-16 04:34] lutzroeder commented on #536
Duplicate of #68

[2020-07-16 04:35] #536 closed

[2020-07-20 02:05] lutzroeder commented on #515
[ssd_mobilenet_v3_small_coco_2019_08_14_q8.json.zip](https://github.com/lutzroeder/netron/files/4945117/ssd_mobilenet_v3_small_coco_2019_08_14_q8.json.zip)

[2020-07-20 02:09] lutzroeder commented on #515
[ssd_mobilenet_v3_small_coco_2019_08_14_q8.zip](https://github.com/lutzroeder/netron/files/4945145/ssd_mobilenet_v3_small_coco_2019_08_14_q8.zip)

[2020-07-20 13:03] postrational commented on #522
I'm using the Desktop version. How do I attach a debugger to it?

[2020-07-20 19:43] lutzroeder commented on #522
See [DEVELOPMENT.md](https://github.com/lutzroeder/netron/blob/master/DEVELOPMENT.md). `Launch Program` to debug the host process which is running update. `Debug Renderer Process` to debug the actual view.

[2020-07-21 06:27] lutzroeder commented on #515
[simple_network.zip](https://github.com/lutzroeder/netron/files/4951689/simple_network.zip)

[2020-07-22 06:06] fkromer opened #537 "Full support for scikit-learn (joblib)"
For recoverable estimator persistence scikit-learn recommends to use `joblib` (instead of `pickle`). Sidenote: It is possible to export trained models into ONNX or PMML but the estimators are not recoverable. For more info refer to [here](https://scikit-learn.org/stable/modules/model_persistence.html).

[2020-07-22 06:28] lutzroeder commented on #537
@fkromer can you please file a bug and provide repro steps and a sample file.

[2020-07-22 06:30] lutzroeder commented on #537
@fkromer can you please provide a sample file?

[2020-07-22 07:48] fkromer commented on #537
@lutzroeder Thanks a lot for the fast response. How can I share an exemplary `model.joblib` with you?

[2020-07-22 08:01] lutzroeder commented on #537
@fkromer Small files: Zip and drag into this response field. Large field: Upload to cloud drive and share link.

[2020-07-22 08:13] fkromer commented on #537
`We don’t support that file type with a GIF, JPEG, JPG, PNG, DOCX, GZ, LOG, PDF, PPTX, TXT, XLSX or ZIP.`

I've shared the example file for 7 days: https://web.tresorit.com/l/P34Vl#EWmpRSh8PcdWUQ8bhTK1nw

[2020-07-22 08:21] fkromer commented on #537
@lutzroeder Would be great if you got the example that I can get rid of it on my file share.

[2020-07-22 08:24] lutzroeder commented on #537
[dt.zip](https://github.com/lutzroeder/netron/files/4958780/dt.zip)

[2020-07-22 08:26] lutzroeder commented on #537
Dragged the file into the Netron window and seeing this...
<img width="1136" alt="screenshot" src="https://user-images.githubusercontent.com/438516/88153476-50500b00-cbba-11ea-80ec-12f0d7e7c794.png">

[2020-07-22 08:26] lutzroeder commented on #537
Duplicate of #180

[2020-07-22 08:26] #537 closed

[2020-07-22 08:27] fkromer commented on #537
Great. Thanks a lot!

[2020-07-23 07:14] lutzroeder opened #538 "Darknet: Invalid tensor shape '[0,0,0]'"

[2020-07-23 07:15] lutzroeder opened #539 "Darknet: Cannot read property 'layer'"
Please provide steps or model files to reproduce this issue.

[2020-07-23 07:16] lutzroeder opened #540 "Error: Invalid argument identifier"
Please provide steps or model files to reproduce this issue.

[yolov3-tiny.h5.zip](https://github.com/lutzroeder/netron/files/5823763/yolov3-tiny.h5.zip)
[5_model_fold_0.h5.zip](https://github.com/lutzroeder/netron/files/6174822/5_model_fold_0.h5.zip)
[model_float32.h5.zip](https://github.com/lutzroeder/netron/files/7759357/model_float32.h5.zip)
[thisnotworks.h5.zip](https://github.com/lutzroeder/

[2020-07-23 07:34] #538 closed

[2020-07-23 07:34] lutzroeder opened #541 "Darknet: Invalid tensor shape '[0,0,0]'"
Please provide steps or model files to reproduce this issue.

[2020-07-23 11:54] clockfly opened #542 "Allow to search with more fields"
For example, we may want to search onnx model by shape, or by weight value. Everything on screen in Netron UI should be searchable.

[2020-07-23 17:10] Anafeyka commented on #541
You mean it
[yolov4-tinyBug.txt](https://github.com/lutzroeder/netron/files/4967702/yolov4-tinyBug.txt)

[2020-07-23 18:09] Anafeyka commented on #539
If you don't fully comment out the layer
[ExampleBug.txt](https://github.com/lutzroeder/netron/files/4967978/ExampleBug.txt)

[2020-07-23 18:48] lutzroeder commented on #539
[netron_issue_539.zip](https://github.com/lutzroeder/netron/files/4968179/netron_issue_539.zip)

[2020-07-23 18:49] lutzroeder commented on #541
[netron_issue_541.zip](https://github.com/lutzroeder/netron/files/4968181/netron_issue_541.zip)

[2020-07-24 01:30] lutzroeder opened #543 "PyTorch: File does not contain root module or state dictionary"
Please provide steps or model files to reproduce this issue.

**Examples:**
[base_libri.pt.zip](https://github.com/user-attachments/files/16401716/base_libri.pt.zip)
[best.pt.zip](https://github.com/user-attachments/files/16401547/best.pt.zip)
[best.pt.zip](https://github.com/user-attachments/files/16401713/best.pt.zip)
[best_mask.pth.zip](https://github.com/user-attachments/files/16401712/best_ma

[2020-07-24 01:31] lutzroeder opened #544 "PyTorch: Module does not contain modules"
Please provide steps or model files to reproduce this issue.

[2020-07-24 01:31] lutzroeder opened #545 "PyTorch: Failed to resolve module"
Please provide steps or model files to reproduce this issue.

[2020-07-24 01:32] lutzroeder opened #546 "Python: Unknown function"
Please share a model file to reproduce this issue.

[2020-07-24 01:32] lutzroeder opened #547 "PyTorch: Unsupported uninitialized argument"
Please provide steps or model files to reproduce this issue.

[2020-07-24 01:33] lutzroeder opened #548 "Keras: Unsupported data object header version"
Please provide steps or model files to reproduce this issue.

[2020-07-24 01:34] lutzroeder opened #549 "ONNX: File format is not onnx.ModelProto"
Please share the model as a Zip archive below to help reproduce and investigate this issue.

[2020-07-24 01:34] lutzroeder opened #550 "Error: Unsupported file content"
Please provide steps or model files to reproduce this issue.

[2020-07-24 01:35] lutzroeder opened #551 "Error: EPERM: operation not permitted"
Please provide steps or model files to reproduce this issue.

[2020-07-25 23:13] #541 closed

[2020-07-26 05:12] lutzroeder commented on #133
[valid-bert-base-uncased.zip](https://github.com/lutzroeder/netron/files/4977150/valid-bert-base-uncased.zip)

[2020-07-26 16:07] XDUXK opened #552 "PaddlePaddle weights support"
I am using PaddlePaddle to train and save a model. For the purpose of debugging, all the weights of the training model are expected to be imported and shown in the loaded structure map. I wonder if this is supported in current version and how to do? Thanks!

For example, it would be very nice if the exact values of the following two parameters can be shown in this map,
![image](https://user-images

[2020-07-26 18:35] lutzroeder commented on #552
Can you share a sample file?

[2020-07-27 01:10] imxieyi opened #553 "Keras Model Containing Constant "Infinity" Failed to Open"
- Netron app and version: 4.4.2 Desktop
- OS and browser version: Windows 10 2004 + Chrome 84.0.4147.89

Minimum reproducible example:

[code]

Example model:
[fail.zip](https://github.com/lutzroeder/netron/files/4979264/fail.zip)

Error:

`Unexpected token I in JSON at position 562 in 'fail.h5'.`

[2020-07-27 01:55] lutzroeder commented on #553
@imxieyi see #435 and tensorflow/tensorflow#37196.

`Infinity` is not valid in JSON. Please file an issue in the Keras or TensorFlow repository.

[2020-07-27 01:56] lutzroeder commented on #553
[netron_issue_553.zip](https://github.com/lutzroeder/netron/files/4979486/netron_issue_553.zip)

[2020-07-27 02:00] #552 closed

[2020-07-27 02:41] lutzroeder commented on #553
@imxieyi Please file an issue in [tensorflow](https://github.com/tensorflow/tensorflow/issues) repository.

See #435 and tensorflow/tensorflow#37196. `Infinity` is not valid in JSON.

[2020-07-27 08:24] XDUXK commented on #552
I found an example of TensorFlow (https://lutzroeder.github.io/netron/?url=https%3A%2F%2Fraw.githubusercontent.com%2Fsrom%2Fchessbot%2Fmaster%2Fmodel%2Fchessbot.pb), where the values of some weights can be shown just like the content in the yellow rectangle
![image](https://user-images.githubusercontent.com/26429100/88519926-785dc500-d025-11ea-9c37-2c2844590d63.png)

I wonder if this possible for

[2020-07-27 08:29] lutzroeder commented on #552
@XDUXK, can you share a sample PaddlePaddle model file or the file your are trying to view?

[2020-07-27 09:05] XDUXK commented on #552
Attach file is a trained example model of PaddlePaddle, where files named "fc_1.w_0" is one of the files that saves weight.
[recognize_digits_multilayer_perceptron_model.zip](https://github.com/lutzroeder/netron/files/4981016/recognize_digits_multilayer_perceptron_model.zip)

[2020-07-27 18:09] lutzroeder commented on #552
[recognize_digits_multilayer_perceptron_model.zip](https://github.com/lutzroeder/netron/files/4983737/recognize_digits_multilayer_perceptron_model.zip)

[2020-07-28 03:08] lutzroeder commented on #552
[recognize_digits_multilayer_perceptron_model.zip](https://github.com/lutzroeder/netron/files/4985730/recognize_digits_multilayer_perceptron_model.zip)

[2020-07-28 03:21] lutzroeder commented on #552
@XDUXK, this now works if built from source: [DEVELOPMENT](https://github.com/lutzroeder/netron/blob/main/DEVELOPMENT.md).

[2020-07-28 04:04] #553 closed

[2020-07-28 04:12] XDUXK commented on #552
Do you mean this new feature can work only for developing version and I have to build it from latest source? By the way, when will this feature be released in next version? Thank you.

[2020-07-28 15:55] PeterPanZH opened #557 "Cannot display value of attributes"
You changed some proto specification from `Function` to `Class` recently.
For example `ActivationReLU` in CoreML:
[https://github.com/lutzroeder/netron/blob/main/src/coreml-proto.js#L2526](https://github.com/lutzroeder/netron/blob/main/src/coreml-proto.js#L2526)

This will cause value of attributes cannot be formatted properly.
[https://github.com/lutzroeder/netron/blob/main/src/view-sidebar.js#L3

[2020-07-28 16:18] Stallon-niranjan opened #558 "its Loading for Full Day."
i tried to load Tensorflow 1.15 trained saved_model.pb , its been loading for full day, no view yet..
the Model is Mask RCNN with Resnet FPN multihead Object Segmentation Task

Niranjan

[2020-07-28 16:55] lutzroeder commented on #558
Can you share the model file?

[2020-07-28 16:57] lutzroeder commented on #557
@PeterPanZH can you share a model file to repro the issue.

[2020-07-28 17:35] #558 closed

[2020-07-28 18:22] PeterPanZH commented on #557
Sorry my bad.

I'm trying to build a web app with netron and using webpack to pack it.
During the process I use terser to compress javascript files in src.
It will remove the name of a class expression and make the class anonymous.
I'll figure out another solution.

Sorry for taking your time.

[2020-07-28 18:22] #557 closed

[2020-07-29 02:20] lutzroeder opened #559 "PyTorch op_context support"
https://github.com/pytorch/android-demo-app/blob/master/PyTorchDemoApp/app/src/main/assets/mobilenet_v2.pt
https://github.com/pytorch/android-demo-app/blob/master/PyTorchDemoApp/app/src/main/assets/resnet18.pt

[2020-07-29 03:35] lutzroeder opened #560 "TensorFlow: Bundle file might be corrupted"
https://storage.googleapis.com/cloud-tpu-checkpoints/mobilebert/mobilebert_squad_savedmodels.tar.gz

[2020-07-29 03:44] lutzroeder opened #561 "UFF: Unknown data type"
Please provide steps or model files to reproduce this issue.

[2020-07-29 09:32] HaolyShiit opened #562 "Darknet: conv_lstm inference"
This is conv_lstm layer: AlexeyAB/darknet#3114

The layers after conv_lstm layer can not be drawn normally. Please try below: [yolo_v3_tiny_lstm.cfg.txt](https://github.com/AlexeyAB/darknet/files/3199770/yolo_v3_tiny_lstm.cfg.txt)

[2020-07-29 17:19] prameth commented on #544
**Error while loading PyTorch Model**
Was testing a pre-trained model(.pt) on MacOS, wasn't working. But the .pth version loads suprisingly.
No support for models wrapped in nn.DataParallel Models as well as nn.DistributedDataParallel too(in .pth format).

[2020-07-29 17:33] lutzroeder commented on #544
@prameth can you share he model file?

[2020-07-29 17:41] prameth commented on #544
Sure, here it is [yolov5m.pt](https://drive.google.com/file/d/1vobuEExpWQVpXExsJ2w-Mbf3HJjWkQJr/view?usp=sharing)

[2020-07-30 03:21] vera121 commented on #550
Hello @lutzroeder,
I encounterd this issue when trying to open the onnx model zoo sample test pb file.
E.g. you can download it at https://github.com/onnx/models/tree/master/vision/classification/mnist
![image](https://user-images.githubusercontent.com/19971688/88876894-d9201400-d256-11ea-8aa0-aaf9c814cc55.png)

[2020-07-30 05:51] lutzroeder commented on #562
[yolo_v3_tiny_lstm.zip](https://github.com/lutzroeder/netron/files/4999065/yolo_v3_tiny_lstm.zip)

[2020-07-30 06:31] #562 closed

[2020-07-31 06:06] lutzroeder opened #563 "RangeError: Offset is outside the bounds of the DataView"
Please provide steps or model files to reproduce this issue.

[2020-07-31 06:12] lutzroeder commented on #468
Duplicate of #563

[2020-07-31 06:12] #468 closed

[2020-08-01 01:12] lutzroeder opened #565 "RangeError: start offset of Int32Array"
Please provide steps or model files to reproduce this issue.

[2020-08-01 12:38] jiang-yuan opened #566 "Only show first layer of my pytorch .pth model"
I want to check my full model include all the sub modules insider my model.
But neutron only shows the first layer of my model, it is meaning less for me because it does not provide the informaition I need.
Here is my model.
[critic.zip](https://github.com/lutzroeder/netron/files/5010360/critic.zip)

[2020-08-01 12:41] lutzroeder commented on #566
Duplicate of #338

[2020-08-01 12:41] #566 closed

[2020-08-01 12:54] jiang-yuan opened #567 "How to show my custom mudule in onnx?"
I export the PyTorch model to .onnx.
But it only shows many operators like add Mul reshape......
I want to check a flowchart of the modules I define inside the model instead of so many operators.

[critic.zip](https://github.com/lutzroeder/netron/files/5010390/critic.zip)

[2020-08-01 12:58] lutzroeder commented on #567
ONNX does not support operator grouping.

[2020-08-01 12:58] #567 closed

[2020-08-01 15:52] Acebee commented on #550
Hello @lutzroeder,
I encounterd this issue when trying to open the onnx model  pb file at the version  4.43.
the url of the .pb file is http://download788.mediafire.com/kabm01gd8n2g/i72ll9k5i7x6qfh/graph.pb

[2020-08-01 17:29] lutzroeder commented on #550
@Acebee This is not an ONNX model. The content looks like TensorFlow `.pbtxt`. How was this file created?

[2020-08-01 20:20] lutzroeder commented on #139
[eisber_model3_invalid.pbtxt.zip](https://github.com/lutzroeder/netron/files/5011185/eisber_model3_invalid.pbtxt.zip)

[2020-08-01 23:57] lutzroeder opened #568 "PyTorch: File format is not PyTorch"
[discriminator_avgpool.tar](https://github.com/sdeepaknarayanan/Machine-Learning-Project/blob/master/Digits%20Model/discriminator_avgpool.tar)

[2020-08-02 01:17] Acebee commented on #550
Sorry,I made a mistake. It is indeed a  TensorFlow project  .The git url is https://github.com/ildoonet/tf-pose-estimation

[2020-08-02 01:36] Acebee commented on #550
Sorry,I made a mistake. It is indeed a TensorFlow project .The git url is https://github.com/ildoonet/tf-pose-estimation

[2020-08-04 06:30] skydestroyer opened #569 "Darknet: Invalid tensor shape '[0,0,96]' in 'maxpool'"
I  encountered this problem when I use the latest version 4.4.3.
However, when I converted this network to prototxt, it could be drawn correctly (but  without tensor shape calculation displayed).

[test.txt](https://github.com/lutzroeder/netron/files/5020481/test.txt)

[2020-08-05 01:13] lutzroeder commented on #569
[netron_issue_569.zip](https://github.com/lutzroeder/netron/files/5025566/netron_issue_569.zip)

[2020-08-05 01:14] lutzroeder commented on #538
Duplicate of #541

[2020-08-05 01:14] lutzroeder commented on #569
#541

[2020-08-05 01:59] karta1502545 commented on #546
Error loading PyTorch model. Unsupported function 'torch.add_' in 'traced_resnet_model.pt'.

I face this error...

[2020-08-05 02:09] #569 closed

[2020-08-05 02:10] lutzroeder commented on #546
@karta1502545 can you share the model file?

[2020-08-05 05:41] karta1502545 commented on #546
@lutzroeder Here is the link: https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py

[2020-08-05 06:11] lutzroeder commented on #546
@karta1502545 I ran this code and seeing below. Can you share the actual model file?
<img width="1136" alt="screenshot" src="https://user-images.githubusercontent.com/438516/89378019-d171cc80-d6a7-11ea-98b8-2e037397d7de.png">

[2020-08-05 06:20] karta1502545 commented on #546
[origin_main.txt](https://github.com/lutzroeder/netron/files/5026471/origin_main.txt)

I add three line at line138-140.

The tutorial of how to use the code can be found here:
https://github.com/pytorch/examples/tree/97304e232807082c2e7b54c597615dc0ad8f6173/imagenet

[2020-08-05 06:48] lutzroeder commented on #546
@karta1502545 can you share the traced_resnet_model.pt file?

[2020-08-05 07:05] karta1502545 commented on #546
@lutzroeder Here is my file: https://github.com/karta1502545/pth

[2020-08-06 02:46] lutzroeder commented on #467
https://github.com/vadimkantorov/inferspeech/releases/download/pretrained/w2l_plus_large_mp.h5

[2020-08-06 19:42] 9lash commented on #550
Are there any updates on this error? I too get the same error when I try to load an object detection model in Netron.

[2020-08-07 01:10] lutzroeder commented on #550
@9lash this error is a catch if the format of a file cannot be identified. Recent issues might be fixed when running from [source](https://github.com/lutzroeder/netron/blob/main/DEVELOPMENT.md). Please share the model file to reproduce the issue.

[2020-08-07 08:03] blackhu opened #570 ".pd file (container graph & weight) netron parese network structure very complexity"
- Netron app and version:
Mac 10.14.6
Netron app: v4.4.3
- OS and browser version:

Steps to Reproduce:

1.  I have a pd file(container graph & weight) ,size 300MB, Parser result is very complexity.
2.
![image](https://user-images.githubusercontent.com/5728454/89623532-5850c000-d8c7-11ea-987d-26231ea55903.png)

Please attach or link model files to reproduce the issue if necessary.

[2020-08-07 12:12] lutzroeder commented on #570
Duplicate of #68

[2020-08-07 12:13] #570 closed

[2020-08-09 00:18] #568 closed

[2020-08-09 00:19] lutzroeder commented on #551
Windows only

[2020-08-09 00:20] #551 closed

[2020-08-09 21:31] lutzroeder commented on #539
[netron_issue_539_1.zip](https://github.com/lutzroeder/netron/files/5048435/netron_issue_539_1.zip)

[2020-08-09 21:32] lutzroeder commented on #539
[netron_issue_539_2.zip](https://github.com/lutzroeder/netron/files/5048436/netron_issue_539_2.zip)

[2020-08-09 22:16] #539 closed

[2020-08-09 22:17] #544 closed

[2020-08-10 00:18] karta1502545 commented on #546
@lutzroeder Thanks, now it works!

[2020-08-10 18:01] sahilrider opened #571 "How it's working with tflite model?"
I would like to know how it's working with tflite model? How I can extract model summary from a tflite model?

[2020-08-10 20:08] #571 closed

[2020-08-13 21:46] mdeisher opened #572 "OpenVINO: IRv10 graphs with TensorIterator and LSTMCell do not display correctly"
- Netron app and version: 4.4.4
- OS and browser version:  Windows 10 64bit

Steps to Reproduce:

1. Open OpenVINO IR XML file in netron
2.

Please attach or link model files to reproduce the issue if necessary.

I cannot share the proprietary model that shows dozens of disconnected nodes, but the one linked below does show disconnected subgraphs after conversion to OpenVINO IR.  Note that the IR

[2020-08-14 01:35] lutzroeder commented on #572
@mdeisher can you share the OpenVINO `.xml` file and report this issue in [openvinotoolkit/openvino](https://github.com/openvinotoolkit/openvino).

@demid5111

[2020-08-15 06:11] demid5111 commented on #572
If there is no xml attached till Monday, I will try to convert the original model and attach it here. Also, I will take a look at the problem

[2020-08-15 06:58] Eliza-and-black opened #573 "something is wrong with your browser-netron"
1.Netron version:  4.4.5 Python Server
2.OS and browser version:   ubuntu16.04 + Firefox 77.0.1(64-bit)
Both of them  worked well  until last night, but now the webpage can't be fully loaded. I tried many times but failed.

[2020-08-15 07:15] #573 closed

[2020-08-15 07:17] lutzroeder commented on #573
Please `pip uninstall netron` and `pip install netron`.

[2020-08-16 03:20] mdeisher commented on #572
[Temp.zip](https://github.com/lutzroeder/netron/files/5079919/Temp.zip)

[2020-08-16 18:23] #560 closed

[2020-08-17 15:10] hpssjellis opened #574 "xxd hexdump support"
Feature Request: TensorflowLite .h files

Background:   TensorlfowLite .tflite files for mobile platforms can be converted into .h (C header) files for micro-controllers using the command

[code]

I assume there is a way to convert these files back from .h to .tflite , but I have not yet found that command.
It would be useful to be able to view the Netron output directly from a TensorflowLite .h h

[2020-08-18 01:06] lutzroeder commented on #574
The general case would be any arbitrary source code file containing any potential number of model files in binary encoding. Not a priority given the error conditions and special cases this may produce. It should be possible to write the byte[] back to a file if needed.

[2020-08-18 01:06] #574 closed

[2020-08-18 01:35] dashesy opened #575 "Double-click no longer opens the onnx file"
- Netron app and version: 4.4.6
- OS and browser version: Windows, Edge

this used to work in all the previous versions, now it opens Netron but does not load the model

Steps to Reproduce:

1. Double click on onnx file from explorer
2.

Please attach or link model files to reproduce the issue if necessary.

[2020-08-18 07:01] gttiankai commented on #575
same question

[2020-08-18 07:37] #575 closed

[2020-08-18 08:11] lutzroeder commented on #572
@mdeisher this looks different from your screenshot?

<img width="1136" alt="screenshot" src="https://user-images.githubusercontent.com/438516/90487684-a8155f80-e0ef-11ea-8101-87db8ec75cb6.png">

[2020-08-18 13:45] mdeisher commented on #572
@lutzroeder, sorry I grabbed the wrong file.  That is the IRv7 version which displays just fine.  Here is the IRv10 one.
[Basic_LSTM.zip](https://github.com/lutzroeder/netron/files/5090719/Basic_LSTM.zip)

[2020-08-18 23:41] amirebrahimi opened #577 "Double clicking on a model no longer opens the model in Netron"
I just got auto-updated to the latest Netron: 4.4.6
When I double-click on a model it opens Netron, but it doesn't load the model; was working previously.

[2020-08-19 03:15] steven0129 commented on #563
Same Issue

[2020-08-19 03:18] lutzroeder commented on #563
@steven0129 can you share the model file to reproduce the issue?

[2020-08-19 03:18] lutzroeder commented on #577
Duplicate of #575

[2020-08-19 03:18] #577 closed

[2020-08-19 03:32] agateriver opened #578 "Model files suffixed with '*.pth.tar' should be supported"
Some pytorch model files suffixed with  '*.pth.tar'. The suffix should be list in open dialog.

[2020-08-19 04:15] lutzroeder commented on #578
The scenario is supported via drag & drop. Since these files are not proper `.tar` files the extension is used incorrectly.

[2020-08-19 04:15] #578 closed

[2020-08-19 19:43] amirebrahimi commented on #575
Thank you, @lutzroeder, for this awesome tool!

[2020-08-19 19:52] dashesy commented on #575
and thanks for such quick fix!

[2020-08-20 04:20] lutzroeder commented on #572
@demid5111 can you have a look?

[2020-08-20 04:20] #572 closed

[2020-08-20 11:08] syedmohsinbukhari commented on #504
For me it is still causing this problem even after adding `removable-media` tag

[2020-08-20 13:46] lutzroeder commented on #504
@syedmohsinbukhari can you investigate why this is happening or provide some context why it might happen that might help others investigate.

[2020-08-20 14:37] mdeisher commented on #572
Closed without resolution or comment???

[2020-08-20 20:45] #559 closed

[2020-08-21 07:09] demid5111 commented on #572
yes, I will take a look at why it happens. I was able to reproduce the issue:

![image](https://user-images.githubusercontent.com/4301327/90862506-2eeb6600-e396-11ea-8de0-4454c04c7329.png)

There is a clearly disconnected graph component and it is not valid processing of such models.

[2020-08-21 17:01] dashesy opened #579 "Very high CPU usage when idle"
- Netron app and version: 4.4.7
- OS and browser version: Windows 10, Edge

Steps to Reproduce:

1. Seems like it starts after searching for a node and selecting it
2. Then doing nothing, idle

Please attach or link model files to reproduce the issue if necessary.
Seems any model.
This morning I realized the open onnx file from last night was heating my laptop.

![image](https://user-images.github

[2020-08-24 09:36] fdb commented on #550
I'm trying to open a file from [Snap Lens Studio](https://lensstudio.snapchat.com/), specifically this model:

[brows_model.zip](https://github.com/lutzroeder/netron/files/5116993/brows_model.zip)

I get the error "Unsupported file content" but I'm not sure if Netron would be able to support this file format or not.

[2020-08-24 10:47] lutzroeder commented on #550
@fdb can you share the specification for this file format?

[2020-08-24 10:52] fdb commented on #550
That's the point - I didn't really understand the format so I wanted to see if Netron knew about it :-)

Here are some ML templates in Snap Lens Studio: https://lensstudio.snapchat.com/templates/ml/ml-templates-library/

It seems that they mostly support ONNX files, but the template files seem to contain .dnn files.
Here's two other ones:

[add_remove_beard_models.zip](https://github.com/lutzroede

[2020-08-24 10:56] lutzroeder opened #581 "SnapML support"
https://lensstudio.snapchat.com/guides/machine-learning/ml-overview

#550

[2020-08-24 11:02] lutzroeder commented on #581
@fdb can you provide context if this format is documented.

[2020-08-24 11:02] #581 closed

[2020-08-24 13:10] fdb commented on #581
I've asked on the Lens forums - I'll let you know if there's an update.

[2020-08-24 14:25] lutzroeder commented on #581
[brows_model.zip](https://github.com/lutzroeder/netron/files/5118426/brows_model.zip)

[2020-08-24 17:53] dashesy commented on #579
I can repro this on Chrome too
While dashed line animation is running:
![image](https://user-images.githubusercontent.com/873905/91078599-b84da300-e5f7-11ea-88c9-a3d5162038e8.png)

Then I hit Esc it goes down but remains high
![image](https://user-images.githubusercontent.com/873905/91078645-cac7dc80-e5f7-11ea-944a-133821a4aa02.png)

Will try to find the reason. Will also send you a sample ONNX fi

[2020-08-25 03:21] steven0129 commented on #563
@lutzroeder The problem seems to have been gone for now.

[2020-08-25 05:50] powderluv commented on #547
[model_test.zip](https://github.com/lutzroeder/netron/files/5121555/model_test.zip)
you can rename the above file to model_test.pt and try to load it. I think it fails because there is no model/data.pkl .  the model_test.zip was created from torch c++.

It fails with Error loading PyTorch model. Cannot read property '1' of undefined in 'model_test.pt'.

[2020-08-25 14:08] lutzroeder commented on #521
[instance_normalization.zip](https://github.com/lutzroeder/netron/files/5124180/instance_normalization.zip)

[2020-08-26 02:23] Cliff-Lin opened #585 "Wrong parameter parsing for mix-precision model in PyTorch 1.6.0"
I use PyTorch 1.6.0 to train a model under mix precision. It works fine under PyTorch environment, but when I use Netron to view the model, many parameters are not in the reasonable range, and some of them are NaN, which is quite different from the parameters shown in PyTorch.

[2020-08-26 02:30] lutzroeder commented on #585
@Cliff-Lin can you share the model file and provide which parameters stored in the model file are shown differently.

[2020-08-26 02:30] #585 closed

[2020-08-26 06:56] BardeIl opened #586 "AttributeError: module 'netron' has no attribute 'start'"
- Netron app and version: netron-4.4.7
- OS and browser version:ubuntu16.04

Steps to Reproduce:

    import netron
  File "/home/passwd123/work/kaggle_dog_cat/cnn-classification-dog-vs-cat-master/pb/tflite/netron.py", line 3, in <module>
    netron.start(modelPath)
AttributeError: module 'netron' has no attribute 'start'

Please attach or link model files to reproduce the issue if necessary.

[2020-08-26 14:39] #586 closed

[2020-08-26 15:54] lutzroeder commented on #579
@dashesy did you try removing the animation(s) for `.select` in `view-grapher.css`?

[2020-08-26 17:48] dashesy commented on #579
After removing animation from `.select .node.border` the CPU usage went down:

![image](https://user-images.githubusercontent.com/873905/91337846-ddbde680-e788-11ea-8b44-9b8d0df08237.png)

I first did not remove animation from `.select.edge-path` and the CPU usage after selecting an edge was still high:

![image](https://user-images.githubusercontent.com/873905/91337970-0d6cee80-e789-11ea-83be-4e8

[2020-08-26 18:39] #565 closed

[2020-08-26 18:39] #563 closed

[2020-08-26 18:40] #548 closed

[2020-08-26 18:41] #550 closed

[2020-08-26 18:42] #545 closed

[2020-08-26 18:42] #543 closed

[2020-08-26 23:24] #579 closed

[2020-08-27 02:07] lutzroeder commented on #547
@powderluv the model `forward` expects parameters like `a_dict`. To extract the graph the model would have to run guessing defaults. In particular this line expects `a_dict` to contain a `hello` key: `value0 = torch.add(value, (a_dict)[key])`. The default `a_dict` would be an empty dictionary not containing `hello`.

[2020-08-27 02:07] #547 closed

[2020-08-27 07:12] fdb commented on #581
This is the answer I got on [the forum](https://support.lensstudio.snapchat.com/hc/en-us/community/posts/360072647211-SnapML-is-the-dnn-format-documented-?page=1#community_comment_360012681352):

But it seems like you've managed quite well without the format spec :-) 👍

[2020-08-27 12:51] phager90 opened #587 "SSD MobileNetv1 has missing connections"
- Netron app and version: Desktop app, 4.4.7
- OS and browser version: Windows

Steps to Reproduce:

1. Download ONNX Model:
https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/ssd-mobilenetv1/model/ssd_mobilenet_v1_10.onnx?raw=true
2. Open in Netron

Class Prediction sub-graph appear to be not connected:

![image](https://user-images.githubusercontent.com/9904169/91443

[2020-08-27 15:31] lutzroeder commented on #587
Duplicate of #535

[2020-08-27 15:31] #587 closed

[2020-08-27 15:34] lutzroeder commented on #535
Duplicate of #168

[2020-08-27 15:34] #535 closed

[2020-08-27 15:37] lutzroeder commented on #168
https://media.githubusercontent.com/media/onnx/models/master/vision/object_detection_segmentation/ssd-mobilenetv1/model/ssd_mobilenet_v1_10.onnx

[2020-08-27 15:38] lutzroeder commented on #168
https://github.com/TomWildenhain-Microsoft/onnx-example-with-subgraphs/blob/master/k1.onnx

[2020-08-27 15:39] lutzroeder commented on #547
[netron_issue_547_1.zip](https://github.com/lutzroeder/netron/files/5137393/netron_issue_547_1.zip)

[2020-08-28 10:24] AmpereKou commented on #549
I have a yolov5*.onnx transfered from yolov5*.pt. When I open it with netron, there will be some  bug as following:
yolov5x.onnx

[2020-08-28 10:33] AmpereKou commented on #549
I have yolov5*.onnx transfered from yolov5*.pt
When I open them with netron v4.4.8, there will be some bugs as following:

yolov5x.onnx
![Screen Shot 2020-08-28 at 6 27 01 PM](https://user-images.githubusercontent.com/29347803/91551030-17931680-e95c-11ea-99df-b6c53be5706e.png)

yolov5l.onnx    no problem

yolov5m.onnx
![Screen Shot 2020-08-28 at 6 29 13 PM](https://user-images.githubusercontent.co

[2020-08-28 13:13] lutzroeder commented on #549
@AmpereKou can you share the model files, the original file and steps how they were transferred?

[2020-08-28 15:07] clive819 commented on #546
Unsupported function 'torch.group_norm'

[2020-08-28 15:09] lutzroeder commented on #546
@clive819 can you share the model file to reproduce the issue?

[2020-08-28 15:16] clive819 commented on #546
@lutzroeder Sure! Here is the file link: https://www.dropbox.com/s/fjbp265qni7xyfs/iOS.pt?dl=0

[2020-08-30 17:44] mneilly-et commented on #427
FWIW - https://github.com/electron/electron/issues/17972

[2020-08-31 02:36] Cliff-Lin commented on #585
The link of the model file:
https://drive.google.com/file/d/1VcdvbZuksoSwx1A0ZArabrKC18Rui8Kl/view?usp=sharing

[2020-08-31 02:40] Cliff-Lin commented on #585
Sorry for the late reply. All parameters are different in Netron and PyTorch environment.

[2020-08-31 03:03] Cliff-Lin commented on #585
I found that Netron cannot parse the parameters correctly in PyTorch 1.6 no matter it is trained under mix-precision or not.

[2020-09-01 14:23] Cliff-Lin commented on #585
How do I update the application under Windows? Thank you.

[2020-09-01 16:31] lutzroeder commented on #585
[DEVELOPMENT.md](https://github.com/lutzroeder/netron/blob/main/DEVELOPMENT.md) until the next update is released.

[2020-09-02 03:33] ryusaeba opened #589 "RangeError: Maximum call stack size exceeded"
- Netron app and version: 4.4.8 App and Browser
- OS and browser version: Windows 10 + Chrome Version 84.0.4147.135

Steps to Reproduce:

[EfficientDet-d0.zip](https://github.com/lutzroeder/netron/files/5159940/EfficientDet-d0.zip)

Please attach or link model files to reproduce the issue if necessary.

[2020-09-02 03:38] Cliff-Lin commented on #585
Got it. Thank you.

[2020-09-02 06:51] lutzroeder commented on #198
[tranformer_base.zip](https://github.com/lutzroeder/netron/files/5160568/tranformer_base.zip)

[2020-09-02 12:26] dtarakanov1 opened #590 "TensorFlow (.pb) int64 support"
Currently if a graph contains e.g. a scalar `int64` Const node, the Netron displays it's value as `Tensor data type '9' is not implemented.`
It would be good to have the int64 support.
`int64` is at least supported for ONNX models.

[2020-09-02 13:23] lutzroeder commented on #590
@dtarakanov1 can you share the model file?

[2020-09-03 01:23] lutzroeder commented on #296
[ssdmobilenet.zip](https://github.com/lutzroeder/netron/files/5165601/ssdmobilenet.zip)

[2020-09-03 02:48] #590 closed

[2020-09-03 19:28] rajb245 commented on #546
![screenshot](https://user-images.githubusercontent.com/10854480/92158048-5102d080-edf9-11ea-96a9-52ae5b6a1dd4.png)
As seen above, the error I see is:
**Unsupported function 'torch.fft' in 'traced_fft.pt'**

Here is the pt file that causes the issue (renamed to .zip extension for github upload):
[traced_fft.zip](https://github.com/lutzroeder/netron/files/5170758/traced_fft.zip)

And the following

[2020-09-04 01:45] lutzroeder commented on #546
[traced_fft.zip](https://github.com/lutzroeder/netron/files/5172197/traced_fft.zip)

[2020-09-07 15:53] lgeiger opened #591 "TFLite: Support custom attributes"
Netron is awesome for viewing TFLite models, however the custom ops don't correctly render custom options, but show the raw uint8 flexbuffer array which is not easily human readable:
![Screenshot 2020-09-07 at 17 47 39](https://user-images.githubusercontent.com/13285808/92403757-7150c900-f132-11ea-9270-482e135624f3.png)

It would be great if Netron would correctly render custom felxbuffer options.

[2020-09-07 21:25] lutzroeder commented on #591
Duplicate of #499

[2020-09-07 21:25] #591 closed

[2020-09-07 21:30] lutzroeder commented on #499
[quicknet.zip](https://github.com/lutzroeder/netron/files/5184953/quicknet.zip)

[2020-09-07 22:51] lgeiger commented on #591
Sorry I missed #499.

I briefly looked into fixing this issue. For reference: it looks like there is currently a bug in JS flexbuffer support https://github.com/google/flatbuffers/issues/5949#issuecomment-688421193 that prevents this from working correctly with the example network I posted.

[2020-09-08 02:31] #499 closed

[2020-09-08 08:02] JasonWayne commented on #68
@jojivk73  there is no such args like node or level in my netron cmd line...

[2020-09-08 08:49] lgeiger commented on #499
Thanks for the fast fix!

[2020-09-09 01:03] lutzroeder commented on #540
[yolov3-tiny.zip](https://github.com/lutzroeder/netron/files/5192003/yolov3-tiny.zip)

[2020-09-10 01:25] lutzroeder commented on #188
[sparse_const.zip](https://github.com/lutzroeder/netron/files/5198627/sparse_const.zip)

[2020-09-10 07:43] myworldraj commented on #546
Unsupported function 'ops.quantized.add_relu' in 'resnet50_pertensor.pt' (one of the quantized resnet models that I am using, attached herewith
[resnet50_pertensor.zip](https://github.com/lutzroeder/netron/files/5199960/resnet50_pertensor.zip)
)

I am using the v 4.5.0 of Netron (latest available version)

[2020-09-11 01:10] lutzroeder commented on #546
[resnet50_pertensor.zip](https://github.com/lutzroeder/netron/files/5205363/resnet50_pertensor.zip)

[2020-09-11 05:24] myworldraj commented on #546
That works. Thanks

[2020-09-11 11:11] myworldraj commented on #546
Another unsupported function - ops.quantized.cat for the quantized inceptionv3 model that I am working with.

Attached.
[iv3_pertensor.zip](https://github.com/lutzroeder/netron/files/5208531/iv3_pertensor.zip)

[2020-09-12 01:28] lutzroeder commented on #546
[resnet50_pertensor.zip](https://github.com/lutzroeder/netron/files/5212006/resnet50_pertensor.zip)
[iv3_pertensor.zip](https://github.com/lutzroeder/netron/files/5212009/iv3_pertensor.zip)

[2020-09-12 01:34] lutzroeder commented on #559
[resnet18.zip](https://github.com/lutzroeder/netron/files/5212015/resnet18.zip)

[2020-09-12 03:07] Rob-Fletcher opened #592 "Group and collapse nodes"
Would be nice if you could group and collapse nodes in the visualization. For instance int ResNet, select a block of nodes that would be a residual block and collapse that into one node. Can make things nicer if you are exploring more complicated or custom nets that use common backbones.

[2020-09-12 03:14] lutzroeder commented on #592
Duplicate of #68

[2020-09-12 03:14] #592 closed

[2020-09-13 00:59] lutzroeder commented on #133
[alexnet.pkl.pth.zip](https://github.com/lutzroeder/netron/files/5213453/alexnet.pkl.pth.zip)
[inception_v3.pkl.pth.zip](https://github.com/lutzroeder/netron/files/5213454/inception_v3.pkl.pth.zip)
[resnet101.pkl.pth.zip](https://github.com/lutzroeder/netron/files/5213455/resnet101.pkl.pth.zip)
[squeezenet1_1.pkl.pth.zip](https://github.com/lutzroeder/netron/files/5213456/squeezenet1_1.pkl.pth.zip

[2020-09-13 21:15] lutzroeder opened #593 "Error: Unsupported Protocol Buffers content"
Please provide steps or model files to reproduce this issue.

[2020-09-13 21:15] #593 closed

[2020-09-13 21:16] lutzroeder opened #594 "Error: Unsupported Protocol Buffers text content"
Please provide steps or model files to reproduce this issue.

[2020-09-13 21:16] #594 closed

[2020-09-13 21:16] lutzroeder opened #595 "Error: Unsupported JSON content"
Please provide steps or model files to reproduce this issue.

[2020-09-13 21:16] #595 closed

[2020-09-14 14:12] palakurthir opened #596 "Error loading model. Unsupported file content (00ff0000ff007bff00ff0000ff00ff00) for extension '.tflite' in 'quantized_model.tflite'."
- Netron app and version:
- OS and browser version:

Steps to Reproduce:

1. From my tensor flow script it generated expected_result_tflite.dat when Iam trying to open using netron model viewer it didn't recognize that model
2.I copied expected_result_tflite.dat into quantized_sim.tflite then it could recognize the model, but its giving the
Unsupported file content (00ff0000ff007bff00ff0000ff00ff0

[2020-09-14 15:02] lutzroeder commented on #596
Can you share the model file and the script?

[2020-09-14 15:04] #596 closed

[2020-09-14 15:15] palakurthir commented on #596
import numpy as np
import tempfile
import sys
import os
#import pygraphviz
# Add the src path to python
sys.path.append("../../src2")
NZOO_ROOT = os.environ.get("NZOO_ROOT", None)

if NZOO_ROOT:
    sys.path.append(os.path.join(NZOO_ROOT, "tools/kmb_test_generation/"))
else:
    raise ValueError("Please clone migNetworkZoo and create and environment variable #NZOO_ROOT to that repo")

# Suppress u

[2020-09-15 23:56] amirebrahimi opened #597 "Netron continuing to execute after closing; Shows up in task manager"
Doesn't happen consistently, but it does happen. It may be one of the child processes that get spawned?

- Netron app and version: Desktop app 4.5.1

Steps to Reproduce:

1. Open a model in netron by double clicking
2. Close the model
3. Notice netron is still running in task manager

Please attach or link model files to reproduce the issue if necessary.
![image](https://user-images.githubusercont

[2020-09-16 00:05] lutzroeder commented on #597
Duplicate of #322

[2020-09-16 00:05] #597 closed

[2020-09-17 08:59] rosrad commented on #546
Unsupported function 'ops.quantized.quantize_per_channel' and  'ops.quantized.conv1d_relu'  in 'test.8bit.pt' (one of the quantized CNN models), please find [https://github.com/rosrad/pth_file/blob/master/test.8bit.pth](url)

[2020-09-17 10:53] lutzroeder commented on #546
[test.8bit.pth.zip](https://github.com/lutzroeder/netron/files/5238524/test.8bit.pth.zip)

[2020-09-18 01:29] rosrad commented on #546
hi @lutzroeder , can I have a updated version to check the model ?

[2020-09-18 01:45] lutzroeder commented on #546
@rosrad [DEVELOPMENT.md](https://github.com/lutzroeder/netron/blob/main/DEVELOPMENT.md)

[2020-09-18 12:41] rajb245 commented on #546
@rosrad after the npm dependencies are installed, i just use `setup.py bdist_wheel` to make a wheel, pip install that wheel, and keep the wheel archived so i can quickly install it on other machines i have running the same setup

[2020-09-19 01:41] lutzroeder commented on #440
[test_multi_input_output.zip](https://github.com/lutzroeder/netron/files/5248932/test_multi_input_output.zip)

[2020-09-19 01:56] JianWang2016 opened #599 "Support for fastai models"
Amazing tool!  Really love it.  Would you consider supporting fastai models?  Thanks much.

[2020-09-19 02:04] lutzroeder commented on #599
@JianWang2016 can you provide details, documentation and sample files?

[2020-09-19 02:04] #599 closed

[2020-09-20 03:15] lutzroeder commented on #188
[bertsquad-10.zip](https://github.com/lutzroeder/netron/files/5251086/bertsquad-10.zip)

[2020-09-20 03:18] lutzroeder commented on #188
[yolov3.zip](https://github.com/lutzroeder/netron/files/5251087/yolov3.zip)

[2020-09-21 03:17] YvetteLaw opened #600 "MindSpore support"
Hello, Lutz Roeder.

I'm an employee of Huawei inc. I have extened Netron to support MindSpore, which is an AI framework developed by Huawei (https://www.mindspore.cn/). Could you please let me merge my work into Netron?

[2020-09-21 03:54] lutzroeder commented on #600
@YvetteLaw can you create a PR?

[2020-09-21 03:54] #600 closed

[2020-09-23 21:14] SrivastavaKshitij opened #603 "Error loading PyTorch model. Unknown expression 'dict' in the model."
Hi There

I encounter the following error when trying to visualize my model in netron. I dont have a way to reproduce the error for now but could you please confirm if the error is related to python dictionaries and if yes, are python dicts supported in netron ?

PS: I will try to reproduce the error in the near future.

Thanks

[2020-09-23 21:29] lutzroeder commented on #603
@SrivastavaKshitij Can you share a sample file to reproduce the issue?

[2020-09-23 21:29] #603 closed

[2020-09-23 22:35] somewacko opened #604 "PyPI: old releases are being deleted"
It appears that old versions of this package are being deleted from PyPI. We have a server build which uses netron as a dependency but it will occasionally break because the version of netron that we pinned no longer exists.

Is there a reason that old versions are being deleted? We've been using this tool to visualize TFLite and the Python module is convenient.

Thanks!

[2020-09-25 01:05] lutzroeder commented on #604
The goal is to eliminate suppport cost for outdated versions and maximize users participating in stabilizing the latest version.

[2020-09-25 01:09] lutzroeder opened #605 "Weka support"

[2020-09-25 02:17] #605 closed

[2020-09-26 04:22] lutzroeder opened #607 "MegEngine support"
[shufflenet_v2_x1_0.tm.zip](https://github.com/lutzroeder/netron/files/9257733/shufflenet_v2_x1_0.tm.zip)
[mobilenetv1.tm.zip](https://github.com/lutzroeder/netron/files/9257882/mobilenetv1.tm.zip)

[shufflenet_v2_x1_0_state_dict.mge.zip](https://github.com/lutzroeder/netron/files/9286205/shufflenet_v2_x1_0_state_dict.mge.zip)
[shufflenet_v2_x1_0.mge.zip](https://github.com/lutzroeder/netron/files

[2020-09-26 22:15] lutzroeder commented on #277
[vgg_bn_ssd300.cfg.zip](https://github.com/lutzroeder/netron/files/5287397/vgg_bn_ssd300.cfg.zip)

[2020-09-28 07:50] AmpereKou commented on #549
Can you tell me how to send file to you?

[2020-09-28 08:13] lutzroeder commented on #549
@AmpereKou Dropbox/GDrive/OneDrive or share a GitHub repo?

[2020-09-28 08:30] AmpereKou commented on #549
https://drive.google.com/drive/folders/1nkDkXxnDbrjJ5OU_XIT0u1f4ERYCTC00?usp=sharing

[2020-09-29 02:46] lutzroeder commented on #589
[EfficientDet-d0.onnx.zip](https://github.com/lutzroeder/netron/files/5296050/EfficientDet-d0.onnx.zip)

[2020-09-29 03:55] lutzroeder commented on #188
[bvlc_alexnet_opset_3.onnx.zip](https://github.com/lutzroeder/netron/files/5296267/bvlc_alexnet_opset_3.onnx.zip)

[2020-09-29 03:55] lutzroeder commented on #188
[resnet50_opset_9.onnx.zip](https://github.com/lutzroeder/netron/files/5296268/resnet50_opset_9.onnx.zip)

[2020-09-29 03:55] lutzroeder commented on #188
[ssd.onnx.zip](https://github.com/lutzroeder/netron/files/5296269/ssd.onnx.zip)

[2020-09-30 15:40] waicool20 opened #609 "Unknown 'torch.eq' expression type"
- Netron app and version: Netron-4.5.3.AppImage
- OS and browser version: Arch Linux 5.8.10

Steps to Reproduce:

1. Change extension to .pt and open the file below in Netron, this model was traced and exported to torchscript from [here](https://github.com/magicleap/SuperGluePretrainedNetwork)
[superpoint.zip](https://github.com/lutzroeder/netron/files/5306616/superpoint.zip)

2. Netron presents t

[2020-10-01 03:09] lutzroeder commented on #609
[superpoint.pt.zip](https://github.com/lutzroeder/netron/files/5309273/superpoint.pt.zip)

[2020-10-01 03:11] lutzroeder commented on #609
[netron_issue_609.pt.zip](https://github.com/lutzroeder/netron/files/5309279/netron_issue_609.pt.zip)

[2020-10-01 03:23] #609 closed

[2020-10-03 20:41] lutzroeder commented on #497
[ColorizeVideo_PretrainOnly_gen.pth](https://www.dropbox.com/s/avzixh1ujf86e8x/ColorizeVideo_PretrainOnly_gen.pth?dl=0)

[2020-10-03 21:21] lutzroeder commented on #188
[maskrcnn.onnx.zip](https://github.com/lutzroeder/netron/files/5322320/maskrcnn.onnx.zip)

[2020-10-05 20:25] NikolasMarkou opened #610 "Navigating large graphs"
While navigating large graphs, it becomes tedious to follow the edges.
It would be preferable to have a button on the side panel (inputs and outputs) so that we could easily go to the specified node

[2020-10-06 15:10] siddharth-krishna commented on #322
I'm also having this issue with Netron 4.5.4 and Windows 10 2004. I'd be happy to help you reproduce this behavior, if possible.

[2020-10-07 05:16] pArtheum commented on #322
Hi, i have the same issue on Windows 10 using Netron through conda. It looks like the netron.stop() function stays  in an infinite loop.

[2020-10-07 13:35] rinosh1989 commented on #162
@lutzroeder It would be great if you could implement exporting of the model as png/svg from command line.

[2020-10-07 16:37] lutzroeder commented on #322
@pArtheum this is a different issue. Can you investigate and submit a fix?

[2020-10-08 08:29] Moldoteck opened #611 "Show layer number"
Please add an option to show the number of the layer in the loaded network

[2020-10-08 16:28] lutzroeder commented on #611
@Moldoteck can you provide details? Which format? Show the numbers where?

[2020-10-08 16:28] #611 closed

[2020-10-09 07:38] Moldoteck commented on #611
@lutzroeder , Well, for example when you load a Keras model in python, you have access to a list of it's layers. Would be cool if Netron would display indexes of the layers according to that list

[2020-10-10 01:06] lutzroeder commented on #611
@Moldoteck can you provide some details how this is expected to work, for example for nested networks? Where are the indices shown? The indices in Keras are more of an implementation detail and less stable than using names. Why is it not possible to use `model.get_layer('layer-name`)` instead?

[2020-10-10 10:19] iamMHZ opened #612 "Access permissions"
netron -v 4.4.4
Windows 10 + Chrome Version 85.0.4183.121 (Official Build) (64-bit)

[code]

[2020-10-10 18:05] lutzroeder commented on #612
This is usually happens if the default port (`--port=8080`) is already in use or blocked by OS security settings.

[2020-10-10 18:05] #612 closed

[2020-10-10 18:37] iamMHZ commented on #612
tnx, Changed the port

[2020-10-11 22:34] chumingqian opened #613 "4.5.5 windows version question"
Hi, @lutzroeder :
      This  window  4.5.5 version , models cant  represent  any  arrow connection  on  .pth     and  cant  open .weigth  file,  did  i  don sth wrong,   i  just  down the  4.5.5exe  file, and the  run it.
  ( and  what 's function  of  exe.blockmap, i couldn't  run it)

[2020-10-11 23:00] lutzroeder commented on #613
Duplicate of #236

[2020-10-11 23:00] #613 closed

[2020-10-11 23:00] lutzroeder commented on #613
Duplicate of #472

[2020-10-11 23:01] lutzroeder commented on #613
Duplicate of #133

[2020-10-11 23:02] lutzroeder commented on #613
@chumingqian please share the actual files to reproduce the behavior.

[2020-10-13 02:19] lutzroeder commented on #133
[ENet.pth.zip](https://github.com/lutzroeder/netron/files/5368544/ENet.pth.zip)

[2020-10-13 07:40] mneilly-et commented on #168
Here is an example of DLRM using loop operators. The symbol for the loop operators can be seen and the attributes show the graph value but none of the operators (gather, slice, etc.) inside the loop can be viewed (w/ Netron 4.5.5).

[dlrm_s_pytorch.onnx.zip](https://github.com/lutzroeder/netron/files/5369698/dlrm_s_pytorch.onnx.zip)

![image](https://user-images.githubusercontent.com/55827703/9583

[2020-10-14 14:28] imvetri opened #616 "Feature Request - Netron to visualise a model in form of neurons"
Someone shared netron to me to visualise a model and it helps to visualise the transformation functions. It's great to understand how the data is transformed.

I think it would be fun and interesting to visualise a model in terms of neurons and connections.

[2020-10-14 15:58] aostrowski opened #617 "Control edges are no longer rendered as dashed lines"
- Netron app and version: 4.5.5 Desktop app
- OS and browser version: Windows 10, version 10.0.18363.1082

Steps to Reproduce:

1. Change the attached TXT file's extension to PBTXT.
1. Open it. It contains two nodes connected by a control edge (denoted by "^").
2. Observe a solid line instead of the expected dashed one.

[netron_error.txt](https://github.com/lutzroeder/netron/files/5379424/netron_

[2020-10-15 02:20] lutzroeder commented on #616
@imvetri can you describe how this would work, why it is needed, create a prototype and submit a PR?

[2020-10-15 02:20] #616 closed

[2020-10-15 03:27] RunnerZhong opened #618 "Weights read error for InnerProduct(fc) op in Caffe models"
- Netron app and version:
- OS and browser version:

Steps to Reproduce:

1. Open vgg caffemodel via latest Netron.exe (4.5.5)
2. Check weights of blob fc6.

vgg_16 model:  http://www.robots.ox.ac.uk/~vgg/software/very_deep/caffe/VGG_ILSVRC_16_layers.caffemodel
Please attach or link model files to reproduce the issue if necessary.
![image](https://user-images.githubusercontent.com/30307463/9607346

[2020-10-15 03:29] RunnerZhong commented on #618
Please check the weight's shape difference..

[2020-10-16 02:09] #618 closed

[2020-10-17 02:32] lutzroeder commented on #421
[mobilenet_quantization_scripted_quantized.zip](https://github.com/lutzroeder/netron/files/5394885/mobilenet_quantization_scripted_quantized.zip)

[2020-10-17 19:01] Tekrific opened #619 "Sample models download for MXNet model inception_v3 and Darknet Model Yolo is broken"
OS and browser version: macOS 10.15.7 + Chrome Version 86.0.4240.80

Steps to Reproduce:

1. Click on MXNet model inception_v3 doesn't initiate download but redirects to a raw file page:
https://raw.githubusercontent.com/soeaver/mxnet-model/master/cls/inception/inception_v3-symbol.json

2. Click on Darknet Model Yolo yields the same result as above:
https://raw.githubusercontent.com/AlexeyAB/darkn

[2020-10-17 19:09] lutzroeder commented on #619
Default browser behavior for text files.

[2020-10-17 19:09] #619 closed

[2020-10-17 19:36] Tekrific commented on #619
For clarification, since this is expected behaviour shouldn't this be a persistent problem with all the sample files or am I missing something here? Are these sample files generated differently depending on the origin of the models? Sorry if I'm obtuse and missing something obvious (most likely scenario).

[2020-10-17 19:47] lutzroeder commented on #619
They are in different formats. Some are binary files. Others are standard text formats browsers recognize and have a default behavior.

[2020-10-17 20:17] Tekrific commented on #619
I see, thanks for clearing that up. If I can make a UX suggestion it would be to separate those two models and have them in a separate section that makes it clear they can't be downloaded as the others but still used in the web app demo.

[2020-10-19 02:07] lutzroeder commented on #458
[yolo-1c.meta.zip](https://github.com/lutzroeder/netron/files/5398632/yolo-1c.meta.zip)

[2020-10-19 02:13] lutzroeder commented on #458
[labelmap.zip](https://github.com/lutzroeder/netron/files/5398649/labelmap.zip)

[2020-10-19 02:21] lutzroeder commented on #458
[vk_swiftshader_icd.zip](https://github.com/lutzroeder/netron/files/5398674/vk_swiftshader_icd.zip)

[2020-10-19 02:45] lutzroeder commented on #458
[config.json.zip](https://github.com/lutzroeder/netron/files/5398758/config.json.zip)

[2020-10-19 02:47] lutzroeder commented on #458
[config.pbtxt.zip](https://github.com/lutzroeder/netron/files/5398767/config.pbtxt.zip)

[2020-10-19 02:48] lutzroeder commented on #458
[vk_swiftshader_icd.json.zip](https://github.com/lutzroeder/netron/files/5398770/vk_swiftshader_icd.json.zip)

[2020-10-20 02:52] lutzroeder commented on #341
[Kmeans.mnn.zip](https://github.com/lutzroeder/netron/files/5405963/Kmeans.mnn.zip)

[2020-10-20 12:23] divideconcept commented on #547
https://drive.google.com/file/d/1-oLvAC6iVCMJ2HtQlbAspdBERf-atPC8/view?usp=sharing
Includes both the torchscript file (.pt) and the python file that generated it

[2020-10-20 12:26] divideconcept commented on #547
Another, simpler example (both torchscript and python generator):
https://drive.google.com/file/d/1ZG0QYEJt9aVs964YiJIoa81fzcufyc-N/view?usp=sharing

[2020-10-20 12:36] divideconcept commented on #547
Ok, I got a minimal repro:

[code]

[upsample.zip](https://github.com/lutzroeder/netron/files/5408642/upsample.zip)

[2020-10-21 03:30] oneengineer commented on #420
It seems show tensor dimension disappears? version 4.5.6
I can only see dimension at input and output.

[2020-10-24 09:34] karimelgazar opened #620 "Javascript Error: can't find module "uuid""
- Netron app and version: 4.5.7 Desktop app
- OS and browser version: ubuntu 20.4

Steps to Reproduce:

1. I installed it using this command `snap install netron` and when I runit it throws this error

2. I tried to download the `.appimage` but it throws the same error

![112757-2020-10-24](https://user-images.githubusercontent.com/37200364/97078396-522bcf00-15ec-11eb-9d3a-7e652705d921.png)

[2020-10-24 10:25] #620 closed

[2020-10-25 19:57] lutzroeder commented on #472
[boolean.zip](https://github.com/lutzroeder/netron/files/5435842/boolean.zip)

[2020-10-26 05:37] nguyenvulong commented on #181
+1 for draggable objects.

[2020-10-26 17:08] divideconcept commented on #547
I see that made a commit but now when trying to load the upsample example in Netron 4.5.9 it says "unhandeld exception".

[2020-10-27 02:18] yuangu opened #621 "pth and onnx export different results on pytorch"
[code]

here is this code . The result of PTH lacks an addition operator。

pth data:
![image](https://user-images.githubusercontent.com/1897438/97248664-379c6480-183d-11eb-9dbb-5cb7c9179b3b.png)

onnx data:
![image](https://user-images.githubusercontent.com/1897438/97248750-67e40300-183d-11eb-8916-4689eff53abe.png)

win10 + Python 3.8.5 + Pytorch 1.6.0 + netron 4.5.9

[2020-10-27 02:29] lutzroeder commented on #621
@yuangu, can you share the model files?

[2020-10-28 03:24] zylo117 commented on #504
I found out when the model files are in the hidden folder like `.hidden_folder/model.json` under linux, netron will report this error.

[2020-10-28 04:18] lutzroeder commented on #504
@zylo117 this happens only if the hidden folder is under the `~` folder -- correct?

[2020-10-28 09:14] zylo117 commented on #504
Yes, it's under `~` and I'm using snap, but I haven't tried putting model files in folders other than `~` folder.
If I move the model files to `/tmp/.hidden_folder/` and drag the file into netron, a js error will occur saying there is no such file.

[2020-10-29 04:47] lutzroeder commented on #621
`torch.save` will not save the full model graph. The connections and order can only be guessed or not included. The full graph is only included in ONNX or TorchScript (as code).

[2020-10-29 04:47] #621 closed

[2020-10-29 09:28] wsx000 opened #622 "Unsupported function 'torch.softplus' in '***.pt'"
When I put my model in netron, an 'error loading pytorch model' error has occurred.
it said that  Unsupported function 'torch.softplus' in '***.pt'
Anybody know why that is?

[2020-10-29 09:35] lutzroeder commented on #622
@wsx000 can you please share the model file and which version of the app you are using?

[2020-10-30 00:47] ryusaeba commented on #322
I am also experiencing the netron greedly consume the memory. When the issue is happen, it will consume all the dram. By adding dram from 8 to 16, it still try to consume all 16 and then consume the virtual memory.
os is win 10.
Also, I usually use netron to veiw two or three model at the same time.

[2020-10-30 01:40] #622 closed

[2020-10-31 02:48] lutzroeder commented on #250
[zip_invalid_archive.zip](https://github.com/lutzroeder/netron/files/5468425/zip_invalid_archive.zip)

[2020-10-31 02:51] lutzroeder commented on #249
[gzip_invalid_archive.tar.gz](https://github.com/lutzroeder/netron/files/5468427/gzip_invalid_archive.tar.gz)

[2020-11-01 07:20] dhruvin2910 commented on #520
For people who may be looking for it, I published a plugin [here](https://github.com/dhruvin2910/tensorboard-plugin-netron).

[2020-11-02 13:33] lutzroeder commented on #546
[posemodel.pt.zip](https://github.com/lutzroeder/netron/files/5475350/posemodel.pt.zip)

[2020-11-04 03:15] lutzroeder commented on #198
[assign.pbtxt.zip](https://github.com/lutzroeder/netron/files/5485296/assign.pbtxt.zip)

[2020-11-04 10:53] jvhoffbauer opened #623 "Reporting Usage Information / Privacy"
When starting Netron, it says: This app uses cookies to report errors and anonymous usage information

What exactly is reported and are there any differences between the version on https://netron.app/ and local versions?

Many thanks
Jan

[2020-11-05 03:36] lutzroeder commented on #623
* Error messages shown to the user
* Model format loaded (for example: `TorchScript v1.6`)
* File extension to understand how often users try open file types which are not supported
* Model node count to understand how often users open really large models that won't render successfully
* Screen progression (for example, Welcome > Load > Graph), currently not very useful but the goal is to add load

[2020-11-05 03:36] #623 closed

[2020-11-07 15:35] giorg0s opened #624 "Enhance export model feature"
Hi! I'm wondering about improving the way you export a model graph into an image. At least in my case using the snap version of Netron on Ubuntu 20.04 I've seen that the only way to export my graph to an image is clicking 'Export...' button and writing manually the name of the exported file **including the extension** in the system context menu.
There is no way to ignore this neither to use anothe

[2020-11-07 17:54] #624 closed

[2020-11-08 00:10] lutzroeder commented on #543
[DRNL4x_dual_model.pth.zip](https://github.com/lutzroeder/netron/files/5505677/DRNL4x_dual_model.pth.zip)

[2020-11-13 04:07] lutzroeder commented on #276
[feat_ext_C3D_examples_imagenet_alexnet_train.prototxt.zip](https://github.com/lutzroeder/netron/files/5534696/feat_ext_C3D_examples_imagenet_alexnet_train.prototxt.zip)

[2020-11-17 03:00] lutzroeder commented on #198
[recognize_digits_multilayer_perceptron_weights.tar.zip](https://github.com/lutzroeder/netron/files/5551009/recognize_digits_multilayer_perceptron_weights.tar.zip)

[2020-11-17 15:08] wwdok opened #625 "can not export full image"
- Netron app and version: Windows Desktop 4.6.2
truncated
Steps to Reproduce:
I want to export image of my model, but the output image is like this:
model : https://drive.google.com/file/d/1IL4OiogcbIruB6tq3RGRP_mHHf_bWSrr/view?usp=sharing
exported image : https://pic.downk.cc/item/5fb3e29cb18d62711321afa9.png
The lower part of image is transpant:
![image](https://user-images.githubusercontent.com

[2020-11-17 20:41] lutzroeder commented on #625
This is a known limitation with the Chrome engine. Please export to SVG and use an app for the conversion or try the browser version of Netron in a different browser like Safari or Firefox.

[2020-11-17 20:41] #625 closed

[2020-11-19 02:23] hoangminhq5310 opened #626 "Python code to export model architecture to PNG file"
It would be nice if the tool had the "export to PNG" so people can automate the process in python code, for example:

[code]

[2020-11-19 04:56] lutzroeder commented on #626
Duplicate of #450

[2020-11-19 04:56] #626 closed

[2020-11-22 01:07] lutzroeder opened #627 "Apple Silicon support"
Building arm64 binaries:
- [x] electron-userland/electron-builder#5475
- [x] electron-userland/electron-builder#5495

Enabling build tools and scripts:
- [x] numpy/numpy#18143
- [x] pytorch/pytorch#51854
- [x] scipy/scipy#13409
- [x] scikit-learn/scikit-learn#19137
- [ ] tensorflow/tensorflow#47782

[2020-11-23 03:47] lutzroeder commented on #188
[yolov3.onnx.zip](https://github.com/lutzroeder/netron/files/5581022/yolov3.onnx.zip)

[2020-11-23 03:50] lutzroeder commented on #188
[yolov3.onnx.zip](https://github.com/lutzroeder/netron/files/5581031/yolov3.onnx.zip)

[2020-11-23 04:24] lutzroeder commented on #458
[empty.zip](https://github.com/lutzroeder/netron/files/5581087/empty.zip)

[2020-11-25 08:37] surprisedong commented on #322
i have the same issue, is there any solutions

[2020-11-26 04:38] lutzroeder opened #629 "tf-nightly script on Python 3.9 and macOS Big Sur"
- [ ] tensorflow/tensorflow#45120
- [x] tensorflow/tensorflow#45404
- [ ] tensorflow/tensorflow#44485

[2020-11-26 21:12] lutzroeder opened #630 "PyTorch: l.slice is not a function in"
- Netron app and version: 4.6.3 Desktop

Steps to Reproduce:

[code]

[deeplabv3_scripted.pt.zip](https://github.com/lutzroeder/netron/files/5604999/deeplabv3_scripted.pt.zip)

[2020-11-27 13:59] 8 opened #631 "Multiple Application Instances"
Hi,

thanks for the great application!

Currently I am using the netron electron app on win10 and I would like to open multiple instances of netron so that I can compare the architecture of two models more easily next to each other.

Another user had the same issue on mac:
https://github.com/lutzroeder/netron/issues/299
and found a workaround by using the web application version.

Instead of switc

[2020-11-27 21:13] lutzroeder commented on #631
Double clicking on multiple files or File > Open will open in separate windows on Windows 10.

[2020-11-27 21:13] #631 closed

[2020-11-27 22:38] lutzroeder opened #632 "electron-forge support"
- [ ] electron-userland/electron-forge#1041

[2020-11-28 03:04] lutzroeder commented on #630
pytorch/pytorch#48525

[2020-11-28 03:14] lutzroeder opened #633 "Sidebar adaptive layout on mobile phone screen"

[2020-11-28 12:09] GustavoStahl opened #634 "Search layers by dtype"
It would be nice if the **Find** tool could filter also by data type (e.g. float32, int32). While working with conversions from TF➙Onnx and quantization, a lot of problems comes from dtypes that shouldn't be there, so searching through them could help users find where the struggle is happening.

[2020-11-28 17:02] #633 closed

[2020-11-28 18:31] lutzroeder commented on #634
Duplicate of #542

[2020-11-28 18:31] #634 closed

[2020-11-28 18:39] #542 closed

[2020-11-28 18:58] lutzroeder opened #636 "PyTorch: Unknown 'torch.sub' expression type"
[netron_issue_636.zip](https://github.com/lutzroeder/netron/files/5611094/netron_issue_636.zip)

[2020-11-28 19:59] lutzroeder commented on #547
@divideconcept `torch.jit.script` does not include input tensor size information so it is not always possible to run the code and extract the graph without user interaction (see #630). Saving a traced model should work around the issue.

[code]

[2020-11-28 20:10] divideconcept commented on #547
Indeed, traced models works much better than scripted model.

[2020-11-28 21:25] lutzroeder opened #637 "PyTorch: Tensor scalar conversion"
**Examples:**
[netron_issue_920.pt.zip](https://github.com/lutzroeder/netron/files/8857486/netron_issue_920.pt.zip)
[UNet.pt.zip](https://github.com/lutzroeder/netron/files/5611259/UNet.pt.zip)

[2020-11-29 22:09] lutzroeder commented on #539
[netron_issue_539_3.zip](https://github.com/lutzroeder/netron/files/5612917/netron_issue_539_3.zip)

[2020-11-30 02:13] lutzroeder opened #638 "TensorFlow Event File support"

[2020-11-30 02:13] lutzroeder commented on #638
[events.out.tfevents.1606692323.b5c8f88cc7ee.58.2.zip](https://github.com/lutzroeder/netron/files/5613448/events.out.tfevents.1606692323.b5c8f88cc7ee.58.2.zip)

[2020-11-30 02:14] lutzroeder commented on #638
[events.out.tfevents.1606696207.eba7c8084653.55.0.zip](https://github.com/lutzroeder/netron/files/5613451/events.out.tfevents.1606696207.eba7c8084653.55.0.zip)

[2020-11-30 02:33] #638 closed

[2020-11-30 03:07] lutzroeder commented on #638
[events.out.tfevents.1606704213.784cbcc2d49a.55.162.v2.zip](https://github.com/lutzroeder/netron/files/5613605/events.out.tfevents.1606704213.784cbcc2d49a.55.162.v2.zip)

[2020-11-30 09:29] lutzroeder commented on #277
[yolov3-tiny_default.cfg.txt.zip](https://github.com/lutzroeder/netron/files/5615015/yolov3-tiny_default.cfg.txt.zip)

[2020-11-30 09:32] lutzroeder commented on #276
[yolov3_gen.prototext.txt.zip](https://github.com/lutzroeder/netron/files/5615031/yolov3_gen.prototext.txt.zip)

[2020-11-30 10:31] lutzroeder opened #639 "RKNN support"

[2020-11-30 10:31] lutzroeder opened #640 "DLC support"
SNPE Deep Learning Container (DLC)

**v2** (undocumented)
[mobilenet-SSD.dlc.zip](https://github.com/lutzroeder/netron/files/10528507/mobilenet-SSD.dlc.zip)

**v4** (undocumented)
[yolov8n_op11_v2.dlc.zip](https://github.com/lutzroeder/netron/files/10527012/yolov8n_op11_v2.dlc.zip)
[sample.dlc.zip](https://github.com/lutzroeder/netron/files/12207883/sample.dlc.zip)
[mobilenet_edgetpu_224_1.0_htp.d

[2020-11-30 10:32] lutzroeder commented on #640
[inception_v3_quantized.dlc.zip](https://github.com/lutzroeder/netron/files/5615377/inception_v3_quantized.dlc.zip)

[2020-11-30 10:32] lutzroeder commented on #639
[resnet_18.rknn.zip](https://github.com/lutzroeder/netron/files/5615383/resnet_18.rknn.zip)

[2020-11-30 16:10] ogrisel commented on #627
Note:  scikit-learn/scikit-learn#18861 is about pip refusing to install the macosx_10_9 on Intel Big Sur. It is unrelated to Apple Silicon support (different hardware) unless you plan to rely on Rosetta 2 (the Intel / ARM translation layer of macOS).

We do not yet publish Apple Silicon compatible wheels on pypi.org. However, conda-forge has already native binary packages for Apple Silicon (known

[2020-11-30 23:52] AlexRibard commented on #322
I have the same issue.
I also have rogue processes taking up RAM even if I close Netron

[2020-12-01 05:32] lutzroeder commented on #627
@ogrisel yes, this is needed at build-time only and running these through Rosetta should be fine for now. After updating pip and nightly bits the scikit-learn scripts are now working.

[2020-12-01 08:06] lutzroeder commented on #639
[autopilot.rknn.zip](https://github.com/lutzroeder/netron/files/5621074/autopilot.rknn.zip)

[2020-12-01 08:06] lutzroeder commented on #639
[deepfusion.rknn.zip](https://github.com/lutzroeder/netron/files/5621075/deepfusion.rknn.zip)

[2020-12-01 08:07] lutzroeder commented on #639
[kindnet.rknn.zip](https://github.com/lutzroeder/netron/files/5621076/kindnet.rknn.zip)

[2020-12-01 08:07] lutzroeder commented on #639
[resnet_18.rknn.zip](https://github.com/lutzroeder/netron/files/5621078/resnet_18.rknn.zip)

[2020-12-02 13:48] lutzroeder commented on #638
[events.out.tfevents.1606915024.a6cfec65d44a.57.271.v2.zip](https://github.com/lutzroeder/netron/files/5629643/events.out.tfevents.1606915024.a6cfec65d44a.57.271.v2.zip)

[2020-12-03 02:31] lutzroeder commented on #168
[torch_onnx_export.zip](https://github.com/lutzroeder/netron/files/5633288/torch_onnx_export.zip)

[2020-12-03 05:30] amirebrahimi commented on #322
No Netron icon open on my desktop (v4.6.4). Originally launched by double clicking on a file. Memory isn't growing at any radical pace, but CPU staying up around 14-20%. My fans were going on my laptop, so I was wondering what was going on.
![image](https://user-images.githubusercontent.com/904110/100967750-dc692c00-34e4-11eb-848b-8f707b854c93.png)

I decided to create a dump, but without symbols

[2020-12-03 06:12] lutzroeder commented on #322
@amirebrahimi [DEVELOPMENT.md](https://github.com/lutzroeder/netron/blob/main/DEVELOPMENT.md) has instructions to run the Electron app locally. [setting-up-symbol-server](https://www.electronjs.org/docs/development/setting-up-symbol-server) for getting Electron symbols.

[2020-12-03 06:59] WangZongQi opened #642 "Support upside down"
Support upside down

[2020-12-03 07:08] lutzroeder commented on #642
Is there a practical reason to support and maintain another option other than its a personal preference?

[2020-12-03 07:08] #642 closed

[2020-12-04 16:59] jipson7 opened #644 "PyTorch with NNAPI support: Error loading PyTorch Model"
Hi. Thanks for the very useful software.

PyTorch now supports acceleration with the NNAPI. Following [this](https://pytorch.org/tutorials/prototype/nnapi_mobilenetv2.html) tutorial generates several models that use the nnapi (and some that use CPU). Netron can open the CPU models fine but the nnapi models throw the following error. I've attached one of the nnapi models to test.

[code]

- Netron

[2020-12-04 19:48] amirebrahimi commented on #322
Thanks @lutzroeder. I've never developed with Electron, so I'm seeing nowt his may be an issue with Electron then. Here's the full stack btw from above:

[code]

[2020-12-04 19:52] amirebrahimi commented on #322
I think it is related to electron/electron#20277

[2020-12-04 20:10] amirebrahimi commented on #322
Do any of your dependencies make use of `SharedWorker`?

[2020-12-04 20:25] amirebrahimi commented on #322
This could also be the issue: https://github.com/atom/atom/issues/17672#issuecomment-736758841
Perhaps try replace https://github.com/lutzroeder/netron/blob/main/source/app.js#L891 with fs.writeFile() (async version)

[2020-12-04 20:33] amirebrahimi commented on #322
Or rather, change https://github.com/lutzroeder/netron/blob/main/source/app.js#L67
to 'before-quit'

[2020-12-04 21:16] lutzroeder commented on #322
@amirebrahimi can you try locally if this fixes the issue? To create an unsigned release build run `npx electron-builder --win`.

[2020-12-04 22:46] amirebrahimi commented on #322
I'd be happy to when I can find a solid repro, which you've asked for :) I tried a variety of things, such as launching multiple files at once and closing very quickly (ctrl-w), closing apps from the taskbar while not focused, closing with the X button.

[2020-12-05 00:31] amirebrahimi commented on #322
Oddly enough. Just after I wrote the previous comment above I then noticed I had a rogue process, so I had a hunch and finally was able to boil it down to a simple repro:

1. Double click on one .onnx file to open in Netron
2. Double click on a different .onnx file to open in Netron
3. Switch to another app (I had task manager open to verify the rogue process)
4. Close the Netron apps directly fro

[2020-12-05 01:11] #322 closed

[2020-12-05 20:26] lutzroeder commented on #644
[mobilenetv2-quant_none-nnapi.pt.zip](https://github.com/lutzroeder/netron/files/5647823/mobilenetv2-quant_none-nnapi.pt.zip)

[2020-12-07 16:18] aidansmyth95 opened #646 "Total Number of Parameters"
Feature request: Ability to see number of parameters for entire model in a model overview.

[2020-12-07 17:14] lutzroeder commented on #646
Duplicate of #204

[2020-12-07 17:14] #646 closed

[2020-12-08 17:02] lutzroeder opened #647 "Error: Cannot read property"
Please provide steps or model files to reproduce this issue.

[2020-12-08 17:05] lutzroeder opened #648 "RangeError: Invalid string length"
Please provide steps or model files to reproduce this issue.

[2020-12-08 17:08] lutzroeder opened #649 "UFF: Unknown attribute"
Please provide steps or model files to reproduce this issue.

`Error loading UFF model.: Unknown attribute '_output_shapes' value '{}'`

[2020-12-09 02:01] wangning7149 opened #650 "How to output all operators of onnx？"
Excuse me
How to output all operators of onnx？

[2020-12-09 02:18] #650 closed

[2020-12-09 02:23] wangning7149 commented on #650
why？

[2020-12-09 14:46] lutzroeder opened #651 "README.md dark mode logo"
[github.community#147981](https://github.community/t/support-theme-context-for-images-in-light-vs-dark-mode/147981)

[2020-12-09 17:04] #639 closed

[2020-12-11 15:50] grwlf commented on #162
Hi I experienced the similar problem with [Altair](https://github.com/altair-viz/altair) library for doing scientific plots, which also relies on web-client for rendering. Static PNG export is solved there in a separate project [Altair-saver](https://github.com/altair-viz/altair_saver). It works fine, but knowing details causes a kind of facepalm: they use Seleneum (or optionally Node-js) to captu

[2020-12-13 16:55] lutzroeder commented on #497
https://console.cloud.google.com/storage/browser/vit_models/imagenet21k

[2020-12-14 13:17] zjuwyz opened #652 "New version 4.6.6 is broken."
- Netron app and version: 4.6.6
- OS and browser version: Ubuntu 16.04

The latest version fails to execute, saying "Update for version 4.6.6 is not avaliable (latest version: 4.6.6, downgrade is disallowed)." and then stuck after checking for update.

[2020-12-14 14:48] icedream2linxi commented on #545
Failed to resolve module 'ops._caffe2' in 'model.pt'.

model : https://drive.google.com/file/d/1nJ7p0y5Ng9lr1lH5SSBAoh8qbG2J89DX/view?usp=sharing

[2020-12-14 17:05] lutzroeder commented on #545
[netron_issue_545_caffe2.pt.zip](https://github.com/lutzroeder/netron/files/5690362/netron_issue_545_caffe2.pt.zip)

[2020-12-14 17:42] lutzroeder commented on #652
@zjuwyz can you investigate why this is happening or provide a patch. The message is printed by the update library and is expected. Is this happening for AppImage, Snap or both? No repro on Ubuntu 20.04.

[2020-12-14 17:42] #652 closed

[2020-12-15 23:39] #648 closed

[2020-12-15 23:40] #649 closed

[2020-12-18 20:48] TomWildenhain-Microsoft opened #653 "Option to disable automatic updates"
I'd like to disable checking for updates when I close Netron.  I don't like being constantly asked to give admin.

[2020-12-18 22:09] lutzroeder commented on #653
Duplicate #653

[2020-12-18 22:10] #653 closed

[2020-12-18 22:12] TomWildenhain-Microsoft commented on #653
Did you intend to mark this as a duplicate of itself?

[2020-12-18 22:15] lutzroeder commented on #653
The goal is for users to be on the latest version and limit support complexity. One alternative is to use the browser version. macOS and Linux silently update in the background. The dialog is more of an issue with Windows, might be a good area for contributions in electron-builder if you have time that could benefit a lot of apps.

[2020-12-18 22:22] TomWildenhain-Microsoft commented on #653
Ah interesting, I didn't realize this is an electron limitation.  Thanks!

[2020-12-18 22:26] lutzroeder commented on #653
@TomWildenhain-Microsoft not sure why the dialog shows. Feel free to investigate.

[2020-12-19 13:07] adewes opened #654 "Please stop the notification SPAM"
It seems you're starring and unstarring your own project every few hours, which leads to my notification screen showing the same notification over and over again:

![image](https://user-images.githubusercontent.com/550026/102690115-6ca4b200-4203-11eb-8e15-de3691611f46.png)

I understand that you want to promote the project and I love following people but honestly this made me unfollow you as I don

[2020-12-19 15:31] #654 closed

[2020-12-19 15:35] lutzroeder commented on #654
I didn't know this shows up in some feed. It's the easiest way to get the exact numbers for some of the counters.

[2020-12-22 08:07] lutzroeder commented on #182
[iris_svc.joblib.z.zip](https://github.com/lutzroeder/netron/files/5728549/iris_svc.joblib.z.zip)

[2020-12-22 08:32] lutzroeder opened #657 "Acuity support"

[2020-12-22 08:40] #657 closed

[2020-12-23 02:50] lutzroeder commented on #653
`4.6.8` is now using `perMachine=false` installing to a user folder. The previous `4.6.7` version needs to be uninstalled manually.